Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix(frontend): restart an edited forward on the port the backend saved
  docs/kftray/USAGE.md
  frontend/src/components/Main/configTransactions.test.ts
  frontend/src/components/Main/configTransactions.ts
Due: none

fix(http-logs): decode brotli responses in the http log
  crates/kftray-http-logs/src/formatter.rs
  docs/kftray/USAGE.md
Due: kftray-http-logs

fix(frontend): keep an edit saved when reading it back fails
  frontend/src/components/Main/configTransactions.test.ts
  frontend/src/components/Main/configTransactions.ts
Due: none

fix(tauri): show a future creation time as 0s instead of a negative age
  crates/kftray-tauri/src/commands/server_resources.rs
Due: kftray-tauri

fix(http-logs): cap decoded bodies and merge repeated encoding headers
  crates/kftray-http-logs/src/formatter.rs
  docs/kftray/USAGE.md
Due: kftray-http-logs

fix(tauri): show resource age in days, hours and minutes again (#745)
  crates/kftray-tauri/src/commands/server_resources.rs
Due: kftray-tauri

fix(http-logs): decode brotli responses in the http log (#744)
  crates/kftray-http-logs/src/formatter.rs
  docs/kftray/USAGE.md
Due: kftray-http-logs

fix(mcp): create the config database when the standalone server starts
  crates/kftray-mcp/src/lib.rs
  crates/kftray-mcp/src/main.rs
  crates/kftray-mcp/src/tools/tests.rs
Due: none

fix(commons): keep pod and proxy forwards that share a target on import
  crates/kftray-commons/src/utils/config.rs
Due: kftray-commons

fix(frontend): restart an edited forward on the port the backend saved (#743)
  docs/kftray/USAGE.md
  frontend/src/components/Main/configTransactions.test.ts
  frontend/src/components/Main/configTransactions.ts
Due: none

fix(mcp): create the config database when the standalone server starts (#746)
  crates/kftray-mcp/src/lib.rs
  crates/kftray-mcp/src/main.rs
  crates/kftray-mcp/src/tools/tests.rs
Due: none

fix(commons): match imports without a local port by remote port
  crates/kftray-commons/src/utils/config.rs
Due: kftray-commons

fix(commons): keep pod and proxy forwards that share a target on import (#747)
  crates/kftray-commons/src/utils/config.rs
Due: kftray-commons

chore(mise): make test:server run the proxy tests and report failures
  .mise.toml
  hacks/server/test_proxy.sh
Due: none

fix(tauri): list each pod port once when several replicas match
  crates/kftray-tauri/src/commands/kubecontext.rs
  docs/kftray/USAGE.md
Due: kftray-tauri

fix(shortcuts): run the edited action when a shortcut keeps its keys
  crates/kftray-shortcuts/src/manager.rs
Due: none

fix(network-monitor): keep health checks running after a network drop
  Cargo.lock
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-network-monitor/src/monitor.rs
Due: none

perf(commons): import configs in one database transaction
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/http_logs_config.rs
Due: kftray-commons

test(network-monitor): wait for the probe to be seen up before dropping it
  crates/kftray-network-monitor/src/monitor.rs
Due: none

fix(tauri): list each pod port once when several replicas match (#758)
  crates/kftray-tauri/src/commands/kubecontext.rs
  docs/kftray/USAGE.md
Due: kftray-tauri

fix(network-monitor): keep health checks running after a network drop (#766)
  Cargo.lock
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-network-monitor/src/monitor.rs
Due: none

fix(shortcuts): run the edited action when a shortcut keeps its keys (#765)
  crates/kftray-shortcuts/src/manager.rs
Due: none

chore(mise): make test:server run the proxy tests and report failures (#757)
  .mise.toml
  hacks/server/test_proxy.sh
Due: none

feat(kftray): ask before a start that needs admin access
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-portforward/src/lib.rs
  crates/kftray-portforward/src/privileges.rs
  crates/kftray-tauri/src/commands/helper.rs
  crates/kftray-tauri/src/main.rs
  docs/kftray/USAGE.md
  frontend/src/components/Main/index.tsx
  frontend/src/components/Main/portForwardBatch.ts
  frontend/src/components/Main/privilegeGate.test.ts
  frontend/src/components/Main/privilegeGate.ts
  frontend/src/components/Main/usePortForwardBatch.ts
  frontend/src/components/Main/usePortForwarding.ts
  frontend/src/components/Main/usePrivilegeGate.ts
  frontend/src/components/PrivilegeDialog/index.tsx
  frontend/src/components/PrivilegeDialog/types.ts
Due: kftray-commons, kftray-portforward, kftray-tauri

fix(kftray): narrow refusal matching and bound privilege retries
  crates/kftray-portforward/src/privileges.rs
  frontend/src/components/Main/portForwardBatch.test.ts
  frontend/src/components/Main/portForwardBatch.ts
  frontend/src/components/Main/privilegeGate.test.ts
  frontend/src/components/Main/privilegeGate.ts
  frontend/src/components/Main/usePortForwardBatch.ts
  frontend/src/components/Main/usePortForwarding.ts
  frontend/src/components/Main/usePrivilegeGate.ts
Due: kftray-portforward

fix(kftray): treat a hosts write as refused only on permission denied
  frontend/src/components/Main/privilegeGate.test.ts
  frontend/src/components/Main/privilegeGate.ts
Due: none

fix(kftray): match Windows hosts denial and honour suppression for queued prompts
  frontend/src/components/Main/privilegeGate.test.ts
  frontend/src/components/Main/privilegeGate.ts
  frontend/src/components/Main/privilegePromptQueue.test.ts
  frontend/src/components/Main/privilegePromptQueue.ts
  frontend/src/components/Main/usePrivilegeGate.ts
Due: none

fix(kftray): build the prompt promise with the constructor
  frontend/src/components/Main/privilegePromptQueue.ts
Due: none

feat(kftray): ask before a start that needs admin access (#771)
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-portforward/src/lib.rs
  crates/kftray-portforward/src/privileges.rs
  crates/kftray-tauri/src/commands/helper.rs
  crates/kftray-tauri/src/main.rs
  docs/kftray/USAGE.md
  frontend/src/components/Main/index.tsx
  frontend/src/components/Main/portForwardBatch.test.ts
  frontend/src/components/Main/portForwardBatch.ts
  frontend/src/components/Main/privilegeGate.test.ts
  frontend/src/components/Main/privilegeGate.ts
  frontend/src/components/Main/privilegePromptQueue.test.ts
  frontend/src/components/Main/privilegePromptQueue.ts
  frontend/src/components/Main/usePortForwardBatch.ts
  frontend/src/components/Main/usePortForwarding.ts
  frontend/src/components/Main/usePrivilegeGate.ts
  frontend/src/components/PrivilegeDialog/index.tsx
  frontend/src/components/PrivilegeDialog/types.ts
Due: kftray-commons, kftray-portforward, kftray-tauri

fix(server): fail exposed requests at once when the tunnel drops
  crates/kftray-server/src/proxy/websocket_server.rs
Due: kftray-server

fix(server): register exposed requests before the tunnel can drain
  crates/kftray-server/src/proxy/websocket_server.rs
Due: kftray-server

fix(frontend): keep the window up when an error toast shows
  frontend/src/components/ui/error-toast.test.ts
  frontend/src/components/ui/error-toast.ts
  frontend/src/components/ui/provider.tsx
Due: none

fix(server): fail exposed requests at once when the tunnel drops (#776)
  crates/kftray-server/src/proxy/websocket_server.rs
Due: kftray-server

fix(frontend): keep the window up when an error toast shows (#777)
  frontend/src/components/ui/error-toast.test.ts
  frontend/src/components/ui/error-toast.ts
  frontend/src/components/ui/provider.tsx
Due: none

fix(http-logs): log the whole chunked body when a header ends in 0
  crates/kftray-http-logs/src/http_response_analyzer.rs
Due: kftray-http-logs

feat(tauri): send opt-in crash reports to GlitchTip
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/mod.rs
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/commands/telemetry.rs
  crates/kftray-tauri/src/lib.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/src/telemetry.rs
  docs/kftray/USAGE.md
  frontend/src/components/Main/index.tsx
  frontend/src/components/SettingsModal/index.tsx
  frontend/src/components/SettingsModal/sections/TelemetrySettings.tsx
  frontend/src/components/SettingsModal/types.ts
  frontend/src/components/SettingsModal/useSettingsSave.ts
  frontend/src/components/TelemetryConsentModal/index.tsx
  frontend/src/lib/telemetry.test.ts
  frontend/src/lib/telemetry.ts
  frontend/src/logs.tsx
  frontend/src/main.tsx
Due: kftray-commons, kftray-tauri

fix(portforward): keep chunked logging state across split reads
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
Due: kftray-portforward

feat(kftui): ask for crash reports and add the setting
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/telemetry.rs
  crates/kftray-tauri/src/lib.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-telemetry/Cargo.toml
  crates/kftray-telemetry/src/lib.rs
  crates/kftui/Cargo.toml
  crates/kftui/src/cli/handler.rs
  crates/kftui/src/main.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/draw.rs
  crates/kftui/src/tui/ui/popup.rs
  docs/kftui/USAGE.md
  hacks/kftray-utils/src/bump_version.rs
Due: kftray-commons, kftray-tauri, kftui

fix(portforward): scan only new bytes for the chunked end marker
  crates/kftray-http-logs/src/http_response_analyzer.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
Due: kftray-http-logs, kftray-portforward

fix(http-logs): log the whole chunked body when a header ends in 0 (#779)
  crates/kftray-http-logs/src/http_response_analyzer.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
Due: kftray-http-logs, kftray-portforward

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
