Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

refactor: extract kftray-expose crate
  Cargo.lock
  Cargo.toml
  crates/kftray-expose/Cargo.toml
  crates/kftray-expose/src/error.rs
  crates/kftray-expose/src/kubernetes.rs
  crates/kftray-expose/src/lib.rs
  crates/kftray-expose/src/models.rs
  crates/kftray-expose/src/templates.rs
  crates/kftray-expose/src/websocket.rs
  crates/kftray-mcp/Cargo.toml
  crates/kftray-mcp/src/tools/portforward.rs
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-network-monitor/src/config_manager.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/lib.rs
  crates/kftray-portforward/src/port_forward_error.rs
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/commands/server_resources.rs
  crates/kftray-tauri/src/init_check.rs
  crates/kftui/Cargo.toml
  crates/kftui/src/cli/runner.rs
  crates/kftui/src/core/port_forward.rs
Due: kftray-portforward, kftray-tauri, kftui

refactor(kftray-kube): split stop.rs by domain
  crates/kftray-kube/src/kube/stop.rs
  crates/kftray-kube/src/kube/stop/address.rs
  crates/kftray-kube/src/kube/stop/all.rs
  crates/kftray-kube/src/kube/stop/cleanup.rs
  crates/kftray-kube/src/kube/stop/mod.rs
  crates/kftray-kube/src/kube/stop/single.rs
Due: none

refactor(kftray-kube): split start.rs into domain modules
  crates/kftray-kube/src/kube/start.rs
  crates/kftray-kube/src/kube/start/address.rs
  crates/kftray-kube/src/kube/start/forward.rs
  crates/kftray-kube/src/kube/start/mod.rs
  crates/kftray-kube/src/kube/start/timeout.rs
Due: none

chore: scaffold kftray-hosts crate (empty)
  Cargo.lock
  Cargo.toml
  crates/kftray-hosts/Cargo.toml
  crates/kftray-hosts/src/lib.rs
Due: none

chore: note listener.rs as intentionally monolithic
  crates/kftray-kube/src/kube/listener.rs
  crates/kftray-kube/src/kube/mod.rs
  crates/kftray-kube/src/kube/proxy/recovery.rs
  crates/kftray-kube/src/kube/tcp_forwarder/mod.rs
Due: none

refactor(kftray-kube): split tcp_forwarder by relay mode
  crates/kftray-kube/src/kube/tcp_forwarder.rs
  crates/kftray-kube/src/kube/tcp_forwarder/logging.rs
  crates/kftray-kube/src/kube/tcp_forwarder/mod.rs
Due: none

chore(kftray-kube): drop deps fully migrated to extracted crates
  Cargo.lock
  crates/kftray-kube/Cargo.toml
Due: none

refactor(kftray-kube): collapse PortForwardProcess Option fields into PortForwardKind enum
  crates/kftray-expose/src/lib.rs
  crates/kftray-kube/src/port_forward.rs
  crates/kftray-kube/src/registry.rs
Due: none

refactor(kftray-kube): regroup proxy code into kube/proxy/ subtree
  crates/kftray-kube/src/kube/mod.rs
  crates/kftray-kube/src/kube/proxy/lifecycle.rs
  crates/kftray-kube/src/kube/proxy/mod.rs
  crates/kftray-kube/src/kube/proxy/recovery.rs
Due: none

style: apply rustfmt across refactored modules
  crates/kftray-expose/src/kubernetes.rs
  crates/kftray-expose/src/lib.rs
  crates/kftray-expose/src/templates.rs
  crates/kftray-expose/src/websocket.rs
  crates/kftray-kube/src/kube/start/address.rs
  crates/kftray-kube/src/kube/start/forward.rs
  crates/kftray-kube/src/kube/start/mod.rs
  crates/kftray-kube/src/kube/start/timeout.rs
  crates/kftray-kube/src/kube/stop/all.rs
  crates/kftray-kube/src/kube/stop/single.rs
  crates/kftray-kube/src/kube/tcp_forwarder/logging.rs
  crates/kftray-kube/src/kube/tcp_forwarder/mod.rs
  crates/kftray-kube/src/port_forward_error.rs
  crates/kftray-mcp/src/tools/kubernetes.rs
  crates/kftray-mcp/src/tools/portforward.rs
  crates/kftray-network-monitor/src/config_manager.rs
  crates/kftray-tauri/src/commands/server_resources.rs
  crates/kftray-tauri/src/init_check.rs
  crates/kftui/src/cli/runner.rs
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/tui/input/mod.rs
Due: kftray-tauri, kftui

chore: drop unused workspace deps flagged by cargo-machete
  Cargo.lock
  crates/kftray-mcp/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kube-portforward/Cargo.toml
Due: kftray-server, kftray-tauri

fix(kftray-server): rewrite upstream-leaking Location headers on 3xx
  crates/kftray-server/src/proxy/http_proxy.rs
Due: kftray-server

style(kftray-server): apply rustfmt to http_proxy.rs
  crates/kftray-server/src/proxy/http_proxy.rs
Due: kftray-server

chore: allow 4 confirmed clippy false positives at workspace level
  Cargo.toml
Due: none

chore: enable curated workspace lints for code quality + structure
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-expose/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-hosts/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-kube/Cargo.toml
  crates/kftray-mcp/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-ssl/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftui/Cargo.toml
  crates/kube-portforward/Cargo.toml
  crates/spdy-mux/Cargo.toml
Due: kftray-commons, kftray-http-logs, kftray-server, kftray-tauri, kftui

chore(lints): kill 779 false-positive clippy findings (dead_code + unreachable_pub)
  crates/kftray-kube/src/port_forward.rs
  crates/kftray-mcp/src/protocol.rs
  crates/kftray-tauri/src/commands/httplogs.rs
  crates/kftray-tauri/src/lib.rs
  crates/kftray-tauri/src/main.rs
  crates/kftui/src/cli/handler.rs
  crates/kftui/src/core/mod.rs
  crates/kftui/src/lib.rs
  crates/kftui/src/main.rs
  crates/kftui/src/tests/mod.rs
  crates/kftui/src/tests/test_utils_config.rs
  crates/kftui/src/tui/app.rs
  crates/spdy-mux/src/codec.rs
  crates/spdy-mux/src/mux/handle.rs
  crates/spdy-mux/src/mux/window.rs
Due: kftray-tauri, kftui

chore(deps): drop lazy_static, migrate 14 statics to std::sync::LazyLock
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-commons/src/lib.rs
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-commons/src/utils/db.rs
  crates/kftray-commons/src/utils/timeout_manager.rs
  crates/kftray-commons/src/utils/validate_configs.rs
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-http-logs/src/logger.rs
  crates/kftray-http-logs/src/parser.rs
  crates/kftray-http-logs/src/state.rs
  crates/kftray-kube/Cargo.toml
  crates/kftray-kube/src/kube/client/config.rs
  crates/kftray-kube/src/kube/proxy/lifecycle.rs
  crates/kftray-kube/src/kube/proxy/recovery.rs
  crates/kftray-kube/src/port_forward.rs
  crates/kftray-mcp/src/tools/kubernetes.rs
  crates/kftray-server/Cargo.toml
  crates/kftray-server/src/main.rs
  crates/kftray-ssl/Cargo.toml
  crates/kftray-ssl/src/cert_store.rs
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/commands/httplogs.rs
  crates/kftray-tauri/src/commands/kubecontext.rs
  crates/kftray-tauri/src/mcp.rs
Due: kftray-commons, kftray-http-logs, kftray-server, kftray-tauri

refactor(kftray-kube): promote kube/client/ to crate root
  crates/kftray-kube/src/client/builder.rs
  crates/kftray-kube/src/client/config.rs
  crates/kftray-kube/src/client/connection.rs
  crates/kftray-kube/src/client/error.rs
  crates/kftray-kube/src/client/mod.rs
  crates/kftray-kube/src/client/proxy.rs
  crates/kftray-kube/src/client/utils.rs
  crates/kftray-kube/src/kube/listener.rs
  crates/kftray-kube/src/kube/mod.rs
  crates/kftray-kube/src/kube/operations.rs
  crates/kftray-kube/src/lib.rs
  crates/kftray-kube/src/port_forward_error.rs
  crates/kftray-kube/src/registry.rs
Due: none

refactor(kftray-kube): promote shared_client to crate root
  crates/kftray-kube/src/kube/listener.rs
  crates/kftray-kube/src/kube/mod.rs
  crates/kftray-kube/src/kube/proxy/lifecycle.rs
  crates/kftray-kube/src/kube/proxy/recovery.rs
  crates/kftray-kube/src/kube/service.rs
  crates/kftray-kube/src/kube/start/forward.rs
  crates/kftray-kube/src/kube/stop/all.rs
  crates/kftray-kube/src/kube/stop/single.rs
  crates/kftray-kube/src/kube/tests/portforward_tests.rs
  crates/kftray-kube/src/lib.rs
  crates/kftray-kube/src/port_forward.rs
  crates/kftray-kube/src/registry.rs
  crates/kftray-kube/src/shared_client.rs
Due: none

refactor(kftray-kube): promote http_log_watcher to crate root
  crates/kftray-kube/src/http_log_watcher.rs
  crates/kftray-kube/src/kube/listener.rs
  crates/kftray-kube/src/kube/mod.rs
  crates/kftray-kube/src/kube/tcp_forwarder/logging.rs
  crates/kftray-kube/src/kube/tcp_forwarder/mod.rs
  crates/kftray-kube/src/lib.rs
Due: none

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
