Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%

  individual_components:
    - component_id: kftray-commons
      name: kftray-commons
      paths:
        - "crates/kftray-commons/**"

    - component_id: kftray-http-logs
      name: kftray-http-logs
      paths:
        - "crates/kftray-http-logs/**"

    - component_id: kftray-portforward
      name: kftray-portforward
      paths:
        - "crates/kftray-portforward/**"

    - component_id: kftray-server
      name: kftray-server
      paths:
        - "crates/kftray-server/**"

    - component_id: kftray-tauri
      name: kftray-tauri
      paths:
        - "crates/kftray-tauri/**"

    - component_id: kftui
      name: kftui
      paths:
        - "crates/kftui/**"

ci(release): build kftui on Windows with pwsh to avoid Git's link.exe
  .github/workflows/release.yml
Due: none

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-mcp/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix(portforward): resolve named service target ports from pod specs
  crates/kftray-portforward/src/kube/operations.rs
  crates/kftray-portforward/src/kube/target.rs
  docs/kftui/USAGE.md
Due: kftray-portforward

fix(portforward): keep discovery going when named port lookup fails
  crates/kftray-portforward/src/kube/operations.rs
  docs/kftui/USAGE.md
Due: kftray-portforward

fix(tauri): stop report export from crashing on a non-ASCII PATH
  crates/kftray-tauri/src/commands/logs.rs
  crates/kftray-tauri/src/commands/settings.rs
Due: kftray-tauri

fix(tauri): stop report export from crashing on a non-ASCII PATH (#713)
  crates/kftray-tauri/src/commands/logs.rs
  crates/kftray-tauri/src/commands/settings.rs
Due: kftray-tauri

fix(portforward): resolve named service target ports from pod specs (#712)
  crates/kftray-portforward/src/kube/operations.rs
  crates/kftray-portforward/src/kube/target.rs
  docs/kftui/USAGE.md
Due: kftray-portforward

ci(obs): build rpms on the distros we actually publish
  .github/renovate.json
  .github/workflows/obs-publishing.yml
Due: none

fix(tauri): report an MCP server that cannot bind its port
  crates/kftray-mcp/src/server.rs
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/mcp.rs
Due: kftray-tauri

ci(obs): build debian packages on every published distro
  .github/workflows/obs-publishing.yml
  hacks/obs/README.md
Due: none

ci(renovate): describe the obs image rule for both package formats
  .github/renovate.json
Due: none

fix(tauri): refuse to start the MCP server on port 0
  crates/kftray-tauri/src/mcp.rs
Due: kftray-tauri

feat(obs): publish arch linux packages through obs
  .github/workflows/obs-publishing.yml
  README.md
  hacks/obs/README.md
  hacks/obs/distros.conf
  hacks/obs/kftray/templates/PKGBUILD
  hacks/obs/kftui/templates/PKGBUILD
  hacks/obs/test-package-builds.sh
  hacks/obs/test-publish.sh
Due: none

feat(obs): add arch linux and build packages on every published distro (#716)
  .github/renovate.json
  .github/workflows/obs-publishing.yml
  README.md
  hacks/obs/README.md
  hacks/obs/distros.conf
  hacks/obs/kftray/templates/PKGBUILD
  hacks/obs/kftui/templates/PKGBUILD
  hacks/obs/test-package-builds.sh
  hacks/obs/test-publish.sh
Due: none

test(tauri): serialize the tests that share the MCP server state
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/mcp.rs
Due: kftray-tauri

fix(tauri): report an MCP server that cannot bind its port (#717)
  crates/kftray-mcp/src/server.rs
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/mcp.rs
Due: kftray-tauri

fix(frontend): keep start all and stop all off rows hidden by search
  docs/kftray/USAGE.md
  frontend/src/components/HeaderMenu/forwardBatchState.test.ts
  frontend/src/components/HeaderMenu/forwardBatchState.ts
  frontend/src/components/HeaderMenu/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
Due: none

fix(frontend): keep stop all enabled for running rows hidden by search
  frontend/src/components/HeaderMenu/forwardBatchState.test.ts
  frontend/src/components/HeaderMenu/forwardBatchState.ts
  frontend/src/components/HeaderMenu/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
Due: none

fix(frontend): keep start all and stop all off rows hidden by search (#718)
  docs/kftray/USAGE.md
  frontend/src/components/HeaderMenu/forwardBatchState.test.ts
  frontend/src/components/HeaderMenu/forwardBatchState.ts
  frontend/src/components/HeaderMenu/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
Due: none

fix(tauri): keep logging requests after pruning HTTP logs
  crates/kftray-tauri/src/commands/httplogs.rs
  frontend/src/components/HttpLogsConfigModal/index.tsx
Due: kftray-tauri

fix(tauri): keep logging requests after pruning HTTP logs (#719)
  crates/kftray-tauri/src/commands/httplogs.rs
  frontend/src/components/HttpLogsConfigModal/index.tsx
Due: kftray-tauri

fix(kftui): delete the configs marked while a search is active
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tui/input/mod.rs
Due: kftui

docs(kftui): note that select all follows the active search
  crates/kftui/README.md
  docs/kftui/USAGE.md
Due: kftui

feat(mcp): tag configs and filter list_configs by tag
  README.md
  crates/kftray-mcp/src/tools/config.rs
  crates/kftray-mcp/src/tools/tests.rs
Due: none

fix(kftui): drop marked rows when / clears the search
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tui/input/mod.rs
Due: kftui

feat(mcp): tag configs and filter list_configs by tag (#720)
  README.md
  crates/kftray-mcp/src/tools/config.rs
  crates/kftray-mcp/src/tools/tests.rs
Due: none

fix(kftui): delete the configs marked while a search is active (#721)
  crates/kftui/README.md
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tui/input/mod.rs
  docs/kftui/USAGE.md
Due: kftui

docs: list the mise tasks and tools that .mise.toml actually has
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  docs/kftray/BUILD.md
Due: none

docs: list the mise tasks and tools that .mise.toml actually has (#735)
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  docs/kftray/BUILD.md
Due: none

fix(portforward): renew the SSL certificate once it expires
  crates/kftray-portforward/src/ssl/cert_manager.rs
  crates/kftray-portforward/src/ssl/cert_store.rs
Due: kftray-portforward

fix(kftui): keep saved configs when a flush import fails
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/github.rs
  crates/kftui/src/cli/config.rs
  crates/kftui/src/tests/mod.rs
  crates/kftui/src/tests/test_cli_config.rs
  docs/kftui/USAGE.md
Due: kftray-commons, kftui

fix(portforward): renew the SSL certificate once it expires (#736)
  crates/kftray-portforward/src/ssl/cert_manager.rs
  crates/kftray-portforward/src/ssl/cert_store.rs
Due: kftray-portforward

fix(kftui): keep saved configs when a flush import fails (#737)
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/github.rs
  crates/kftui/src/cli/config.rs
  crates/kftui/src/tests/mod.rs
  crates/kftui/src/tests/test_cli_config.rs
  docs/kftui/USAGE.md
Due: kftray-commons, kftui

fix(network-monitor): stop the background loop when the monitor is turned off
  Cargo.lock
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-network-monitor/src/controller.rs
  crates/kftray-network-monitor/src/monitor.rs
Due: none

fix(portforward): stop treating a helper error as a removed loopback alias
  crates/kftray-portforward/src/network_utils.rs
Due: kftray-portforward

fix(network-monitor): stop the background loop when the monitor is turned off (#740)
  Cargo.lock
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-network-monitor/src/controller.rs
  crates/kftray-network-monitor/src/monitor.rs
Due: none

fix(portforward): stop treating a helper error as a removed loopback alias (#741)
  crates/kftray-portforward/src/network_utils.rs
Due: kftray-portforward

fix(tauri): show resource age in days, hours and minutes again
  crates/kftray-tauri/src/commands/server_resources.rs
Due: kftray-tauri
