Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

Incremental import kftui, more options when auto importing (#513)
  crates/kftray-commons/src/utils/config.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/input/navigation.rs
  crates/kftui/src/tui/ui/popup.rs
  frontend/src/components/AutoImportModal/index.tsx
Due: kftray-commons, kftui

fix: format code
  crates/kftui/src/tui/ui/popup.rs
Due: kftui

chore: [docker] trigger kftray server build also
  README.md
Due: none

Potential fix for code scanning alert no. 32: Cleartext logging of sensitive information
  crates/kftray-portforward/src/expose/kubernetes.rs
Due: kftray-portforward

fix: minor things
  Cargo.lock
  crates/kftray-commons/src/models/config_model.rs
  crates/kftray-commons/src/models/mod.rs
  crates/kftray-commons/src/models/tunnel_protocol.rs
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/expose/tunnel_protocol.rs
  crates/kftray-portforward/src/expose/websocket_client.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-server/Cargo.toml
  crates/kftray-server/src/proxy/mod.rs
  crates/kftray-server/src/proxy/reverse_http.rs
  crates/kftray-server/src/proxy/websocket_server.rs
  frontend/src/components/PortForwardTable/ContextsAccordion/PortForwardRow/index.tsx
Due: kftray-commons, kftray-portforward, kftray-server

fix: minor things
  .github/workflows/ci.yml
  .github/workflows/release.yml
  crates/kftray-server/Dockerfile
Due: kftray-server

fix: minor things
  crates/kftray-server/Dockerfile
Due: kftray-server

fix: minor things
  Cargo.lock
  crates/kftray-server/Cargo.toml
  crates/kftray-server/src/main.rs
  crates/kftray-server/src/models/mod.rs
  crates/kftray-server/src/models/tunnel_protocol.rs
  crates/kftray-server/src/proxy/reverse_http.rs
  crates/kftray-server/src/proxy/websocket_server.rs
Due: kftray-server

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: add expose support to kftui
  .mise.toml
  Cargo.lock
  Cargo.toml
  README.md
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  crates/kftui/src/core/port_forward.rs
  docs/kftray/INSTALL.md
  examples/README.md
  examples/expose-internal.json
  examples/expose-public.json
  examples/pod-tcp-with-http-logs.json
  examples/pod-tcp.json
  examples/proxy-tcp.json
  examples/proxy-udp.json
  examples/service-tcp.json
  examples/service-udp.json
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

chore: bump version
  .cargo/nextest.toml
  .mise.toml
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-commons/src/lib.rs
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/config_state.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/ssl/cert_manager.rs
  crates/kftray-portforward/src/ssl/cert_store.rs
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/config_state.rs
  crates/kftray-tauri/src/commands/httplogs.rs
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

tests: add tests for upsert configs via kftui
  crates/kftray-commons/src/utils/config.rs
Due: kftray-commons

ci: improve cache usage in pipelines
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: improve cache usage in pipelines
  .github/workflows/ci.yml
Due: none

fix(kftray): handle windows path when parsing kubeconfig
  crates/kftray-portforward/src/kube/client/config.rs
Due: kftray-portforward

fix(kftray): handle windows path when parsing kubeconfig
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: add new modal to have a overview about resources deployed by kftray
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/mod.rs
  crates/kftray-tauri/src/commands/server_resources.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  frontend/src/components/Header/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
  frontend/src/components/ServerResourcesModal/index.tsx
  frontend/src/types/index.ts
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: add new modal to have a overview about resources deployed by kftray
  crates/kftray-tauri/src/commands/server_resources.rs
  frontend/src/components/ServerResourcesModal/index.tsx
Due: kftray-tauri

fix: remove windows x86 build
  .github/workflows/release.yml
Due: none

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
