Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix: fix auto updater in linux
  .github/workflows/release.yml
  hacks/update-homebrew.sh
  hacks/update_homebrew.py
Due: none

fix: fix auto updater in linux
  hacks/update_homebrew.py
Due: none

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

chore: bump version
  .mise.toml
  Cargo.toml
  crates/kftray-shortcuts/src/platforms/linux.rs
  crates/kftray-tauri/tauri.conf.json
Due: kftray-tauri

fix: tests
  crates/kftray-network-monitor/src/health.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/tests/portforward_tests.rs
  crates/kftui/src/tests/test_snapshots.rs
  crates/kftui/src/tests/test_ui.rs
  crates/kftui/src/tests/test_utils_config.rs
Due: kftray-portforward, kftui

ci: upgrade actions
  .github/renovate.json
  .github/workflows/release.yml
  .github/workflows/stale.yml
Due: none

ci: upgrade deps
  crates/kftray-server/Dockerfile
  frontend/package.json
  pnpm-lock.yaml
Due: kftray-server

feat: incremental updates when importing configs
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-commons/src/models/config_model.rs
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/config_state.rs
  crates/kftray-commons/src/utils/db_mode.rs
  crates/kftray-commons/src/utils/github.rs
  crates/kftray-commons/src/utils/http_logs_config.rs
  crates/kftray-commons/src/utils/migration.rs
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  frontend/src/components/AutoImportModal/index.tsx
  frontend/src/components/GitSyncModal/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/PortForwardRow/index.tsx
  frontend/src/contexts/GitSyncContext.tsx
  frontend/src/services/gitService.ts
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: add new button to duplicate configs
  frontend/src/components/AddConfigModal/index.tsx
  frontend/src/components/GitSyncModal/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/PortForwardRow/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
  frontend/src/contexts/GitSyncContext.tsx
  frontend/src/services/gitService.ts
  frontend/src/types/index.ts
Due: none

fix(kftray): prevent byte slicing of utf-8 string in rendering of the tui
  crates/kftui/src/tui/ui/render.rs
Due: kftui

tests: cover all scenarios when rendering legend to avoid panics
  crates/kftui/src/tests/test_ui.rs
Due: kftui

fix(kftray): prevent byte slicing of utf-8 string in rendering of the tui (#510)
  crates/kftui/src/tui/ui/render.rs
Due: kftui

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: auto address and alias as domain for all auto-imported configs
  frontend/src/components/AutoImportModal/index.tsx
Due: none

feat(kftui): incremental import when auto-importing
  crates/kftray-commons/src/utils/config.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/input/navigation.rs
  crates/kftui/src/tui/ui/popup.rs
Due: kftray-commons, kftui

feat: add mise tasks
  .mise.toml
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  crates/kftray-http-logs/src/parser.rs
  crates/kftray-tauri/bin/.gitkeep
  crates/kftray-tauri/build.rs
  docs/kftray/BUILD.md
  hacks/setup.sh
Due: kftray-http-logs, kftray-tauri

feat: add mise tasks
  crates/kftray-tauri/bin/.gitkeep
Due: kftray-tauri

feat: upgrade deps
  Cargo.lock
  frontend/package.json
  pnpm-lock.yaml
Due: none

feat: upgrade deps
  .mise.toml
  crates/kftray-helper/src/auth.rs
  crates/kftray-helper/src/client/socket_comm.rs
  hacks/setup.sh
Due: none

feat: upgrade deps
  crates/kftray-tauri/build.rs
Due: kftray-tauri

Incremental import kftui, more options when auto importing (#513)
  crates/kftray-commons/src/utils/config.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/input/navigation.rs
  crates/kftui/src/tui/ui/popup.rs
  frontend/src/components/AutoImportModal/index.tsx
Due: kftray-commons, kftui

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
