Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

Resolve replacement Deployments and skip terminating pods
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
Due: kftray-portforward

Harden forwarding shutdown, UDP framing and cluster cleanup
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/src/utils/db.rs
  crates/kftray-commons/src/utils/manifests.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/shared_client.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/table.rs
  frontend/src/components/Main/index.tsx
  frontend/src/types/index.ts
Due: kftray-commons, kftray-portforward, kftui

Make forwarding lifecycle cancellation and reporting reliable
  Cargo.lock
  crates/kftray-commons/src/utils/manifests.rs
  crates/kftray-network-monitor/src/config_manager.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/kube/client/builder.rs
  crates/kftray-portforward/src/kube/client/config.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/operations.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/shared_client.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/init_check.rs
  crates/kftui/Cargo.toml
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/table.rs
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/PortForwardRow/index.tsx
  frontend/src/types/index.ts
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

Give each UDP client its own tunnel
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
Due: kftray-portforward

Keep forwarding teardown bounded and reported
  crates/kftray-network-monitor/src/config_manager.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-tauri/src/shortcuts.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  frontend/src/components/Main/index.tsx
Due: kftray-portforward, kftray-tauri, kftui

Scope proxy resources per installation and keep cleanup retryable
  Cargo.lock
  crates/kftray-commons/Cargo.toml
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftray-tauri/src/shortcuts.rs
  crates/kftui/src/tui/input/mod.rs
  frontend/src/components/Footer/BulkDeleteButton/index.tsx
  frontend/src/components/Footer/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/types/index.ts
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

Fail closed on installation identity and track resources before creation
  crates/kftray-commons/src/models/response.rs
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-tauri/src/init_check.rs
  crates/kftray-tauri/src/shortcuts.rs
  crates/kftui/src/core/port_forward.rs
  frontend/src/components/Footer/BulkDeleteButton/index.tsx
  frontend/src/components/Footer/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/types/index.ts
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

Bound cleanup, cancellation and session lifetime under contention
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftui/src/tui/app.rs
  frontend/src/components/Main/index.tsx
Due: kftray-commons, kftray-portforward, kftui

Observe create outcomes and keep cleanup records until work settles
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftui/src/tests/test_app.rs
  frontend/src/components/Main/index.tsx
Due: kftray-commons, kftray-portforward, kftui

Retain unconfirmed creations and converge on one installation identity
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  frontend/src/components/Main/index.tsx
Due: kftray-commons, kftray-portforward

Own the installation lock and scope expose rollback to one attempt
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftui/src/tui/input/mod.rs
  frontend/src/components/Main/index.tsx
Due: kftray-commons, kftray-portforward, kftui

Never abandon an allocation or a create whose outcome is unknown
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/tui/app.rs
  frontend/src/components/Main/index.tsx
Due: kftray-commons, kftray-portforward, kftui

Attribute cleanup to this installation and keep stops completable
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/expose/websocket_client.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/target.rs
  crates/kftray-portforward/src/port_forward.rs
  frontend/src/components/Main/index.tsx
Due: kftray-commons, kftray-portforward

Own local resources from allocation and fix the Windows identity lock
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/network_utils.rs
  crates/kftui/src/tui/app.rs
  frontend/src/components/Main/index.tsx
Due: kftray-commons, kftray-portforward, kftui

Confirm deletions and scope every rollback to what an attempt created
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/expose/models.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftui/src/tui/app.rs
Due: kftray-commons, kftray-portforward, kftui

Scope exposures to their installation and refuse deleting a live config
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/network_utils.rs
  crates/kftray-tauri/src/commands/config.rs
  crates/kftui/src/core/port_forward.rs
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

Keep stops possible without the helper and isolate exposures per installation
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/network_utils.rs
  crates/kftray-tauri/src/commands/config.rs
Due: kftray-commons, kftray-portforward, kftray-tauri

Order deletion locks and keep hosts cleanup honest under contention
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/port_forward.rs
Due: kftray-portforward

fix: preserve ownership labels, bound shutdown cleanup, resolve named ports per pod
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/tui/app.rs
Due: kftray-portforward, kftui

fix: separate cleanup obligations, verify helper hosts removals, pin named ports
  crates/kftray-commons/src/utils/manifests.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/target.rs
  frontend/src/components/Main/index.tsx
Due: kftray-commons, kftray-portforward

fix: bound cleanup obligations and bind named ports to their pod
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
Due: kftray-commons, kftray-portforward

fix: preserve shared hosts entries and verify cluster cleanup
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/target.rs
  crates/kftui/src/tests/test_snapshots.rs
  crates/kftui/src/tests/test_ui_popup.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/draw.rs
  crates/kftui/src/tui/ui/popup.rs
Due: kftray-commons, kftray-portforward, kftui

fix: mark managed hosts entries with their owner
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tests/test_snapshots.rs
  crates/kftui/src/tests/test_ui_popup.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/draw.rs
  crates/kftui/src/tui/ui/popup.rs
Due: kftray-commons, kftray-portforward, kftui

fix: own hosts entries per line and release addresses by owner
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
Due: kftray-commons, kftray-portforward

fix: avoid needless hosts writes and delete cluster resources by uid
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
Due: kftray-portforward

fix: give the direct hosts writer its own section
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/stop.rs
Due: kftray-portforward

fix: serialize hosts writes across processes
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/stop.rs
Due: kftray-commons, kftray-portforward

fix: verify earlier exposure resources before starting
  crates/kftray-portforward/src/expose/kubernetes.rs
Due: kftray-portforward

fix: scope persisted cleanup metadata to its database
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-portforward/src/kube/stop.rs
Due: kftray-commons, kftray-portforward

fix: report shutdown failures where they can be seen
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/tui/ui/popup.rs
Due: kftui

fix: pin pooled sessions to their port and scope cleanup checks per config
  Cargo.lock
  Cargo.toml
  crates/kftray-helper/src/hostfile.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-tauri/src/commands/server_resources.rs
  crates/kftray-tauri/src/shortcuts.rs
  crates/kftui/src/cli/runner.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/popup.rs
Due: kftray-portforward, kftray-tauri, kftui

fix: skip removing a loopback alias that is already gone
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/network_utils.rs
Due: kftray-portforward

fix: reconcile hosts entries against disk and verify cleanup by what remains
  crates/kftray-commons/src/models/hostfile.rs
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-helper/src/hostfile.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tui/input/mod.rs
Due: kftray-commons, kftray-portforward, kftui

fix: lock the hosts file itself and edit it in place under one lock
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-helper/src/hostfile.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftray-tauri/src/commands/server_resources.rs
  crates/kftray-tauri/src/shortcuts.rs
  crates/kftui/src/tests/test_ui_popup.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/draw.rs
  crates/kftui/src/tui/ui/popup.rs
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

fix: take the hosts lock without a retry loop on Windows
  crates/kftray-commons/src/utils/hostsfile.rs
Due: kftray-commons

fix: verify exposure and hosts cleanup from what the configuration says
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/target.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-tauri/src/commands/server_resources.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tests/test_ui_popup.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/popup.rs
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

fix: keep cleanup records tied to the server and destination they were made for
  crates/kftray-commons/src/utils/db.rs
  crates/kftray-commons/src/utils/db_mode.rs
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-helper/src/hostfile.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-tauri/src/commands/server_resources.rs
  crates/kftui/src/tests/test_ui_popup.rs
  crates/kftui/src/tui/ui/popup.rs
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

Make the resolved API server part of the cleanup identity and scope ownership per database
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-helper/src/communication.rs
  crates/kftray-helper/src/hostfile.rs
  crates/kftray-helper/src/messages.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/hostfile_helper.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-tauri/src/commands/server_resources.rs
Due: kftray-commons, kftray-portforward, kftray-tauri

Keep every recorded server as its own cleanup target and pin recovery to the original one
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-commons/src/utils/config_state.rs
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-helper/src/communication.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-tauri/src/commands/server_resources.rs
  crates/kftui/src/cli/runner.rs
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/tui/app.rs
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

Settle local cleanup apart from cluster records and keep one lifecycle operation on one server
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/models.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-tauri/src/commands/server_resources.rs
  crates/kftray-tauri/src/shortcuts.rs
Due: kftray-commons, kftray-portforward, kftray-tauri

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
