Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

ci: fix and improve release workflow
  .github/workflows/release.yml
  .mise.toml
  README.md
  SECURITY.md
Due: none

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

ci: fix and improve release workflow
  .github/workflows/release.yml
  .vex.openvex.json
Due: none

chore: bump version
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

ci: fix sbom-publish by including hidden files in artifact upload
  .github/workflows/release.yml
Due: none

ci: fix sbom-publish by including hidden files in artifact upload (#566)
  .github/workflows/release.yml
Due: none

fix(portforward): improve resource management and shutdown handling
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/expose/websocket_client.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
  crates/kftray-portforward/src/port_forward.rs
Due: kftray-portforward

fix(core): improve client manager locking and websocket cleanup
  crates/kftray-portforward/src/kube/shared_client.rs
  crates/kftray-server/src/proxy/websocket_server.rs
Due: kftray-portforward, kftray-server

fix(portforward): eliminate race conditions in client manager and portforwarder
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/shared_client.rs
Due: kftray-portforward

fix: remove UDP test socket binding race condition
  crates/kftray-portforward/src/kube/listener.rs
Due: kftray-portforward

fix: add exponential backoff for TCP accept errors
  crates/kftray-portforward/src/kube/listener.rs
Due: kftray-portforward

fix: address code review feedback
  crates/kftray-portforward/src/kube/listener.rs
Due: kftray-portforward

fix: add exponential backoff for TCP accept errors (#573)
  crates/kftray-portforward/src/kube/listener.rs
Due: kftray-portforward

fix: remove UDP test socket binding race condition (#572)
  crates/kftray-portforward/src/kube/listener.rs
Due: kftray-portforward

docs: lints and fmt markdown files
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  LICENSE.md
  README.md
  SECURITY.md
  crates/kftray-server/README.md
  crates/kftui/README.md
  docs/kftray/BUILD.md
  docs/kftray/INSTALL.md
  docs/kftui/BUILD.md
  docs/kftui/INSTALL.md
  docs/kftui/USAGE.md
  examples/README.md
Due: kftray-server, kftui

deps: bump deps and update lockfiles
  Cargo.lock
  crates/kftray-portforward/src/expose/kubernetes.rs
  frontend/package.json
  frontend/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: kftray-portforward

fix(kftray-network-monitor): correctly restart proxy workloads with deploy_and_forward_pod
  crates/kftray-network-monitor/src/config_manager.rs
Due: none

fix(kftray-server): add TCP keepalive on target connections
  crates/kftray-server/Cargo.toml
  crates/kftray-server/src/proxy/tcp.rs
Due: kftray-server

fix(kftray-server): add exponential backoff on accept errors
  Cargo.lock
  crates/kftray-server/src/proxy/tcp.rs
  crates/kftray-server/src/proxy/udp.rs
Due: kftray-server

fix(kftray-server): add shutdown signal to HTTP reverse proxy
  crates/kftray-server/src/proxy/reverse.rs
  crates/kftray-server/src/proxy/reverse_http.rs
Due: kftray-server

fix(kftray-server): graceful shutdown replacing hard abort
  crates/kftray-server/src/proxy/reverse.rs
  crates/kftray-server/src/proxy/websocket_server.rs
Due: kftray-server

fix(kftray-server): add WebSocket ping/pong keepalive
  crates/kftray-server/src/proxy/websocket_server.rs
Due: kftray-server

fix(kftray-server): drain pending responses on tunnel close
  crates/kftray-server/src/proxy/websocket_server.rs
Due: kftray-server

fix(kftray-server): UDP timeout continues loop instead of breaking
  crates/kftray-server/src/proxy/udp.rs
Due: kftray-server

fix(kftray-portforward): UDP forwarder reconnects upstream on error
  crates/kftray-portforward/src/kube/udp_forwarder.rs
Due: kftray-portforward

fix(kftray-portforward): fix hanging test in UDP forwarder error recovery
  crates/kftray-portforward/src/kube/udp_forwarder.rs
Due: kftray-portforward

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
