Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%

  individual_components:
    - component_id: kftray-commons
      name: kftray-commons
      paths:
        - "crates/kftray-commons/**"

    - component_id: kftray-http-logs
      name: kftray-http-logs
      paths:
        - "crates/kftray-http-logs/**"

    - component_id: kftray-portforward
      name: kftray-portforward
      paths:
        - "crates/kftray-portforward/**"

    - component_id: kftray-server
      name: kftray-server
      paths:
        - "crates/kftray-server/**"

    - component_id: kftray-tauri
      name: kftray-tauri
      paths:
        - "crates/kftray-tauri/**"

    - component_id: kftui
      name: kftui
      paths:
        - "crates/kftui/**"

chore: run ci on branch main
  .github/workflows/ci.yml
Due: none

tests: add overall tests and code coverage
  .github/workflows/release.yml
  codecov.yml
Due: none

tests: add more tests
  crates/kftray-portforward/src/kube/client.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/tests/mod.rs
  crates/kftray-portforward/src/kube/tests/portforward_tests.rs
Due: kftray-portforward

tests: add more tests
  crates/kftray-portforward/src/kube/start.rs
Due: kftray-portforward

tests: add more tests
  Cargo.lock
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/client.rs
Due: kftray-portforward

tests: add more tests (#404)
  Cargo.lock
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/client.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/tests/mod.rs
  crates/kftray-portforward/src/kube/tests/portforward_tests.rs
Due: kftray-portforward

tests: add more tests
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/commands/config_state.rs
  crates/kftray-tauri/src/commands/github.rs
  crates/kftray-tauri/src/commands/httplogs.rs
  crates/kftray-tauri/src/commands/kubecontext.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/commands/window_state.rs
  crates/kftray-tauri/src/init_check.rs
  crates/kftray-tauri/src/logging.rs
  crates/kftray-tauri/src/network_monitor.rs
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/window.rs
  crates/kftui/Cargo.toml
  crates/kftui/src/lib.rs
  crates/kftui/src/tests/mod.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tests/test_draw.rs
  crates/kftui/src/tests/test_file_explorer.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tests/test_navigation.rs
  crates/kftui/src/tests/test_popup.rs
  crates/kftui/src/tests/test_popup_functions.rs
  crates/kftui/src/tests/test_snapshots.rs
  crates/kftui/src/tests/test_ui.rs
  crates/kftui/src/tests/test_ui_popup.rs
  crates/kftui/src/tests/test_utils_config.rs
  crates/kftui/src/tests/test_utils_file.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/mod.rs
  crates/kftui/src/tui/ui/draw.rs
  crates/kftui/src/tui/ui/mod.rs
  crates/kftui/src/tui/ui/popup.rs
  package.json
Due: kftray-tauri, kftui

tests: add more tests
  crates/kftray-commons/src/utils/db.rs
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/commands/config_state.rs
  crates/kftray-tauri/src/commands/httplogs.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/commands/window_state.rs
  crates/kftray-tauri/src/init_check.rs
  crates/kftray-tauri/src/network_monitor.rs
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/window.rs
  crates/kftui/src/tests/test_navigation.rs
  crates/kftui/src/tests/test_popup_functions.rs
Due: kftray-commons, kftray-tauri, kftui

tests: add more tests
  crates/kftui/src/tests/test_file_explorer.rs
  crates/kftui/src/tests/test_utils_config.rs
Due: kftui

tests: add more tests (#405)
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
  crates/kftray-commons/src/utils/db.rs
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/commands/config_state.rs
  crates/kftray-tauri/src/commands/github.rs
  crates/kftray-tauri/src/commands/httplogs.rs
  crates/kftray-tauri/src/commands/kubecontext.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/commands/window_state.rs
  crates/kftray-tauri/src/init_check.rs
  crates/kftray-tauri/src/logging.rs
  crates/kftray-tauri/src/network_monitor.rs
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/window.rs
  crates/kftui/Cargo.toml
  crates/kftui/src/lib.rs
  crates/kftui/src/tests/mod.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tests/test_draw.rs
  crates/kftui/src/tests/test_file_explorer.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tests/test_navigation.rs
  crates/kftui/src/tests/test_popup.rs
  crates/kftui/src/tests/test_popup_functions.rs
  crates/kftui/src/tests/test_snapshots.rs
  crates/kftui/src/tests/test_ui.rs
  crates/kftui/src/tests/test_ui_popup.rs
  crates/kftui/src/tests/test_utils_config.rs
  crates/kftui/src/tests/test_utils_file.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/mod.rs
  crates/kftui/src/tui/ui/draw.rs
  crates/kftui/src/tui/ui/mod.rs
  crates/kftui/src/tui/ui/popup.rs
  package.json
Due: kftray-commons, kftray-tauri, kftui

tests: add overall tests and code coverage
  crates/kftray-tauri/src/commands/github.rs
  crates/kftray-tauri/src/commands/httplogs.rs
  crates/kftray-tauri/src/main.rs
  crates/kftui/src/main.rs
  crates/kftui/src/tests/test_file_explorer.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tests/test_navigation.rs
  crates/kftui/src/tests/test_popup.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/file_explorer.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/input/popup.rs
Due: kftray-tauri, kftui

tests: add overall tests and code coverage
  crates/kftray-tauri/src/commands/github.rs
  crates/kftui/src/tests/test_navigation.rs
Due: kftray-tauri, kftui

tests: add overall tests and code coverage
  crates/kftray-tauri/src/commands/github.rs
Due: kftray-tauri

tests: add overall tests and code coverage
  crates/kftray-tauri/src/commands/github.rs
  package.json
Due: kftray-tauri

tests: add more tests
  crates/kftray-tauri/src/commands/github.rs
Due: kftray-tauri

tests: add overall tests and code coverage (#406)
  crates/kftray-tauri/src/commands/github.rs
  crates/kftray-tauri/src/commands/httplogs.rs
  crates/kftray-tauri/src/main.rs
  crates/kftui/src/main.rs
  crates/kftui/src/tests/test_file_explorer.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tests/test_navigation.rs
  crates/kftui/src/tests/test_popup.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/file_explorer.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/input/popup.rs
  package.json
Due: kftray-tauri, kftui

fix: AddConfigModal header Flex missing grow
  frontend/src/components/AddConfigModal/index.tsx
Due: none

fix: AddConfigModal header Flex missing grow (#407)
  frontend/src/components/AddConfigModal/index.tsx
Due: none

chore: add blog post in readme
  README.md
Due: none

feat: add background service for network operations
  Cargo.lock
Due: none

feat: add background service for network operations
  crates/kftray-helper/src/network.rs
Due: none

feat: add background service for network operations
  crates/kftray-helper/Cargo.toml
  crates/kftray-helper/src/client/installation.rs
  crates/kftray-helper/src/client/uninstallation.rs
  crates/kftray-helper/src/network.rs
  crates/kftray-helper/src/platforms/macos.rs
  crates/kftray-tauri/build.rs
Due: kftray-tauri

feat: add background service for network operations
  .github/workflows/ci.yml
  .github/workflows/main.yml
  crates/kftray-helper/src/client/installation.rs
  crates/kftray-helper/src/client/uninstallation.rs
Due: none

feat: add background service for network operations
  crates/kftray-portforward/src/network_utils.rs
Due: kftray-portforward

feat: add background service for network operations
  .github/workflows/release.yml
Due: none

feat: add background service for network operations
  .github/workflows/release.yml
  codecov.yml
Due: none

feat: add background service for network operations
  .github/workflows/release.yml
  crates/kftray-helper/Cargo.toml
  crates/kftray-helper/src/client/installation.rs
  crates/kftray-helper/src/client/socket_comm.rs
  crates/kftray-helper/src/communication.rs
  crates/kftray-helper/src/platforms/windows.rs
Due: none

feat: add background service for network operations
  crates/kftray-helper/src/client/socket_comm.rs
Due: none
