Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

Protect running forwards' hosts lines through every removal path and roll back abandoned local setup
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/target.rs
Due: kftray-commons, kftray-portforward

Refuse to delete rows another process is forwarding and keep unmarked hosts lines until removal can attribute them
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-helper/src/hostfile.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-tauri/src/commands/config.rs
Due: kftray-commons, kftray-portforward, kftray-tauri

Leave another live process's forwards alone and route direct hosts cleanup through the helper when needed
  crates/kftray-commons/src/utils/config_state.rs
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-helper/src/communication.rs
  crates/kftray-helper/src/hostfile.rs
  crates/kftray-helper/src/messages.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/hostfile_helper.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
Due: kftray-commons, kftray-portforward

Serialise configuration lifecycle across processes sharing the file database
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-commons/src/utils/config_state.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftui/src/cli/runner.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tui/input/mod.rs
Due: kftray-commons, kftray-portforward, kftui

Record what a running forward holds, reject starts another process owns, and recover under the shared lock
  crates/kftray-commons/src/utils/config_state.rs
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-helper/src/communication.rs
  crates/kftray-helper/src/hostfile.rs
  crates/kftray-helper/src/messages.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/hostfile_helper.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftray-tauri/src/init_check.rs
Due: kftray-commons, kftray-portforward, kftray-tauri

Format the UDP dispatch signature
  crates/kftray-portforward/src/kube/udp_forwarder.rs
Due: kftray-portforward

Share hosts recovery across processes, gate cluster obligations by workload, and keep helper failures from settling releases
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-commons/src/utils/config_state.rs
  crates/kftray-commons/src/utils/db.rs
  crates/kftray-commons/src/utils/db_mode.rs
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-http-logs/src/config.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/client/builder.rs
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-portforward/src/kube/client/mod.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/shared_client.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftray-portforward/src/network_utils.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/init_check.rs
  crates/kftray-tauri/src/shortcuts.rs
  crates/kftui/src/cli/runner.rs
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  frontend/src/components/Footer/BulkDeleteButton/index.tsx
  frontend/src/components/HeaderMenu/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/PortForwardRow/index.tsx
  frontend/src/types/index.ts
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-tauri, kftui

Classify the Linux loopback release without touching the interface
  crates/kftray-portforward/src/network_utils.rs
Due: kftray-portforward

fix: linux formula format
  hacks/update_homebrew.py
Due: none

Key every destination by one canonical identity and keep hosts bookkeeping off the runtime
  Cargo.lock
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-commons/src/utils/manifests.rs
  crates/kftray-helper/Cargo.toml
  crates/kftray-helper/src/communication.rs
  crates/kftray-helper/src/hostfile.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/expose/websocket_client.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/client/builder.rs
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-portforward/src/kube/client/mod.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/shared_client.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftray-portforward/src/network_utils.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/init_check.rs
  crates/kftray-tauri/src/shortcuts.rs
  crates/kftui/Cargo.toml
  crates/kftui/src/cli/runner.rs
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tests/test_snapshots.rs
  crates/kftui/src/tui/input/mod.rs
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/PortForwardRow/index.tsx
  frontend/src/types/index.ts
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

Stage hosts rewrites only beside the hosts file and let a manual delete settle its cleanup record
  crates/kftray-commons/src/utils/db.rs
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-commons/src/utils/manifests.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-helper/src/communication.rs
  crates/kftray-network-monitor/src/config_manager.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/expose/models.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/shared_client.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/network_utils.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/commands/server_resources.rs
  crates/kftui/src/cli/runner.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  frontend/src/components/HeaderMenu/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/PortForwardRow/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
  frontend/src/types/index.ts
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

Validate privileged hosts requests, settle cleanup only once every resource is gone, and keep exit paths clear of running stops
  Cargo.lock
  crates/kftray-commons/src/utils/db.rs
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-commons/src/utils/manifests.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-helper/src/communication.rs
  crates/kftray-helper/src/hostfile.rs
  crates/kftray-helper/src/messages.rs
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/hostfile_helper.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/shared_client.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/network_utils.rs
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/commands/server_resources.rs
  crates/kftray-tauri/src/init_check.rs
  crates/kftray-tauri/src/shortcuts.rs
  crates/kftui/src/cli/runner.rs
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/tests/mod.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tests/test_cli_runner.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  frontend/src/components/AddConfigModal/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/PortForwardRow/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/index.tsx
  frontend/src/types/index.ts
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

Delete all configurations through the per-id command
  crates/kftray-tauri/src/commands/config.rs
Due: kftray-tauri

Attribute manual deletes like the listing, keep unanswered creates uncertain, and let shutdown exclude detached work everywhere
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-helper/Cargo.toml
  crates/kftray-helper/src/communication.rs
  crates/kftray-helper/src/hostfile.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/shared_client.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/commands/server_resources.rs
  crates/kftray-tauri/src/init_check.rs
  crates/kftui/src/cli/runner.rs
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  frontend/src/components/Footer/BulkDeleteButton/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

Authorise the helper's Windows client by the recorded user and forget a resolved context with its client
  crates/kftray-commons/src/lib.rs
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-helper/src/client/socket_comm.rs
  crates/kftray-helper/src/communication.rs
  crates/kftray-helper/src/lib.rs
  crates/kftray-helper/src/platforms/windows.rs
  crates/kftray-helper/src/win_identity.rs
  crates/kftray-http-logs/src/config.rs
  crates/kftray-portforward/src/kube/client/builder.rs
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-portforward/src/kube/shared_client.rs
  frontend/src/components/Footer/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/PortForwardRow/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
  frontend/src/types/index.ts
Due: kftray-commons, kftray-http-logs, kftray-portforward

Persist local cleanup obligations, bound stream concurrency again, and let the helper refuse a release owned by another process
  crates/kftray-commons/src/lib.rs
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-commons/src/utils/manifests.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-helper/src/address_pool.rs
  crates/kftray-helper/src/auth.rs
  crates/kftray-helper/src/communication.rs
  crates/kftray-helper/src/hostfile.rs
  crates/kftray-helper/src/messages.rs
  crates/kftray-helper/src/win_identity.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/operations.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/shared_client.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/target.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/commands/server_resources.rs
  crates/kftui/src/cli/runner.rs
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tests/test_cli_runner.rs
  crates/kftui/src/tui/input/mod.rs
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/PortForwardRow/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
  frontend/src/types/index.ts
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

Keep the readiness downgrade for an all-failed UDP restart batch
  crates/kftray-network-monitor/src/config_manager.rs
Due: none

Import the helper's peer pid warning only on macOS
  crates/kftray-helper/src/auth.rs
Due: none

fix: fmt
  crates/kftray-helper/src/auth.rs
Due: none

Close API server connections once their forwards stop
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-portforward/src/kube/client/proxy.rs
  crates/kftray-portforward/src/kube/shared_client.rs
  crates/kftray-portforward/src/kube/stop.rs
Due: kftray-portforward

Keep the network monitor from restarting forwards the user stopped
  crates/kftray-network-monitor/src/config_manager.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/stop.rs
Due: kftray-portforward

Address review notes on shutdown state cleanup and a Windows test
  crates/kftray-helper/src/win_identity.rs
  crates/kftray-tauri/src/commands/portforward.rs
Due: kftray-tauri

Report the address and cause when the local UDP socket cannot be bound
  crates/kftray-portforward/src/kube/udp_forwarder.rs
Due: kftray-portforward

Route pod UDP forwards through their relay and follow the target pod
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/start.rs
Due: kftray-portforward

Keep toasts readable at the Medium and larger window sizes
  frontend/src/components/ui/toaster.tsx
Due: none

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-mcp/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

chore(deps): update all dependencies
  .github/workflows/ci.yml
  .github/workflows/fuzz.yml
  .github/workflows/obs-publishing.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  Cargo.lock
  Cargo.toml
  crates/kftray-server/Dockerfile
  crates/kftui/Cargo.toml
  frontend/package.json
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  hacks/obs/Dockerfile.test
  hacks/pyproject.toml
  hacks/uv.lock
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: kftray-server, kftui

chore(deps): update all dependencies (#694)
  .github/workflows/ci.yml
  .github/workflows/fuzz.yml
  .github/workflows/obs-publishing.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  Cargo.lock
  Cargo.toml
  crates/kftray-server/Dockerfile
  crates/kftui/Cargo.toml
  frontend/package.json
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  hacks/obs/Dockerfile.test
  hacks/pyproject.toml
  hacks/uv.lock
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: kftray-server, kftui

test: give each db test its own pool and drop dead code
  crates/kftray-commons/src/lib.rs
  crates/kftray-commons/src/models/tunnel_protocol.rs
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/config_state.rs
  crates/kftray-commons/src/utils/db.rs
  crates/kftray-commons/src/utils/db_mode.rs
  crates/kftray-commons/src/utils/mod.rs
  crates/kftray-commons/src/utils/pool_slot.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-commons/src/utils/timeout_manager.rs
  crates/kftray-http-logs/src/http_request_handler.rs
  crates/kftray-http-logs/src/http_response_handler.rs
  crates/kftray-http-logs/src/models.rs
  crates/kftray-http-logs/src/state.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-portforward/src/ssl/cert_manager.rs
  crates/kftray-portforward/src/ssl/platform/native_macos.rs
  crates/kftray-portforward/src/ssl/platform/native_windows.rs
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/commands/config_state.rs
  crates/kftray-tauri/src/commands/httplogs.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tests/test_config_view.rs
  crates/kftui/src/tests/test_file_explorer.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tests/test_utils_config.rs
  crates/kftui/src/tui/app.rs
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-tauri, kftui

fix: reject colliding tag keys and drop stale row marks on view change
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/config_view.rs
  crates/kftui/src/tests/test_config_view.rs
  crates/kftui/src/tui/input/view.rs
  frontend/src/components/AddConfigModal/index.tsx
  frontend/src/components/AddConfigModal/utils.ts
Due: kftray-commons, kftui

fix(kftui): clear marked rows when a tag save fails too
  crates/kftui/src/tests/test_config_view.rs
  crates/kftui/src/tui/input/view.rs
Due: kftui

test: give each db test its own pool and drop dead code (#695)
  crates/kftray-commons/src/lib.rs
  crates/kftray-commons/src/models/tunnel_protocol.rs
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/config_state.rs
  crates/kftray-commons/src/utils/db.rs
  crates/kftray-commons/src/utils/db_mode.rs
  crates/kftray-commons/src/utils/mod.rs
  crates/kftray-commons/src/utils/pool_slot.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-commons/src/utils/timeout_manager.rs
  crates/kftray-http-logs/src/http_request_handler.rs
  crates/kftray-http-logs/src/http_response_handler.rs
  crates/kftray-http-logs/src/models.rs
  crates/kftray-http-logs/src/state.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-portforward/src/ssl/cert_manager.rs
  crates/kftray-portforward/src/ssl/platform/native_macos.rs
  crates/kftray-portforward/src/ssl/platform/native_windows.rs
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/commands/config_state.rs
  crates/kftray-tauri/src/commands/httplogs.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tests/test_config_view.rs
  crates/kftui/src/tests/test_file_explorer.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tests/test_utils_config.rs
  crates/kftui/src/tui/app.rs
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-tauri, kftui

refactor(frontend): move active filter chips into the filter menu
  frontend/src/components/HeaderMenu/ActiveFilterChips.tsx
  frontend/src/components/HeaderMenu/ViewControls.tsx
  frontend/src/components/PortForwardTable/index.tsx
Due: none

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
