Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%

  individual_components:
    - component_id: kftray-commons
      name: kftray-commons
      paths:
        - "crates/kftray-commons/**"

    - component_id: kftray-http-logs
      name: kftray-http-logs
      paths:
        - "crates/kftray-http-logs/**"

    - component_id: kftray-portforward
      name: kftray-portforward
      paths:
        - "crates/kftray-portforward/**"

    - component_id: kftray-server
      name: kftray-server
      paths:
        - "crates/kftray-server/**"

    - component_id: kftray-tauri
      name: kftray-tauri
      paths:
        - "crates/kftray-tauri/**"

    - component_id: kftui
      name: kftui
      paths:
        - "crates/kftui/**"

fix: rename composite keyring store constructor to satisfy clippy new_ret_no_self
  crates/kftray-portforward/src/ssl/composite_store.rs
  crates/kftray-portforward/src/ssl/keyring_init.rs
Due: kftray-portforward

docs: pin manual pnpm install to major 12
  docs/kftray/BUILD.md
Due: none

fix: bypass HTTP logging for websocket tunnels (#667)
  crates/kftray-http-logs/src/http_response_analyzer.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
Due: kftray-http-logs, kftray-portforward

chore: fix clippy lints in linux-only code
  crates/kftray-tauri/src/glibc_detector.rs
  crates/kftray-tauri/src/tray_linux.rs
Due: kftray-tauri

ci: run checks on merge_group and document squash merge queue
  .github/workflows/ci.yml
  CONTRIBUTING.md
Due: none

Revert "ci: run checks on merge_group and document squash merge queue"
  .github/workflows/ci.yml
  CONTRIBUTING.md
Due: none

ci: adopt Mergify merge queue with squash merges
  .mergify.yml
  CONTRIBUTING.md
Due: none

chore: fix clippy lints in the helper on Windows
  crates/kftray-helper/src/auth.rs
  crates/kftray-helper/src/client/socket_comm.rs
  crates/kftray-helper/src/platforms/windows.rs
Due: none

chore: fix clippy lints in the helper on Windows (#679)
  crates/kftray-helper/src/auth.rs
  crates/kftray-helper/src/client/socket_comm.rs
  crates/kftray-helper/src/platforms/windows.rs
Due: none

fix: drop unused mut on Windows hotkey manager
  crates/kftray-shortcuts/src/platforms/windows.rs
Due: none

fix: share bounded WebSocket handshake validation
  crates/kftray-http-logs/src/http_response_analyzer.rs
Due: kftray-http-logs

ci: clear ready-to-merge label once the pull request closes
  .mergify.yml
Due: none

fix: discard the BOOL returned by CertFreeCertificateContext on Windows
  crates/kftray-portforward/src/ssl/platform/windows.rs
Due: kftray-portforward

fix: unify bounded WebSocket response validation (#678)
  crates/kftray-http-logs/src/http_response_analyzer.rs
Due: kftray-http-logs

fix: dedupe configs with the same identity on import
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/github.rs
  crates/kftui/README.md
  docs/kftray/USAGE.md
  docs/kftui/USAGE.md
  frontend/src/contexts/GitSyncContext.tsx
Due: kftray-commons, kftui

fix: reuse the saved window position only on the tray's display
  crates/kftray-tauri/src/window.rs
Due: kftray-tauri

fix(kftui): gate the updater import and defer the update prompt
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/updater.rs
Due: kftui

fix(kftui): make startup update check non-blocking (#675)
  crates/kftui/src/cli/args.rs
  crates/kftui/src/cli/handler.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/updater.rs
Due: kftui

Fix macOS tray window positioning when using multiple displays. (#672)
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/window.rs
Due: kftray-tauri

feat: support multiple config paths for git sync (#674)
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/github.rs
  crates/kftray-tauri/src/commands/github.rs
  crates/kftui/README.md
  crates/kftui/src/cli/args.rs
  crates/kftui/src/cli/config.rs
  docs/kftray/USAGE.md
  docs/kftui/USAGE.md
  frontend/src/components/Footer/SyncConfigsButton/index.tsx
  frontend/src/components/GitSyncModal/index.tsx
  frontend/src/contexts/GitSyncContext.tsx
  frontend/src/services/gitService.ts
  frontend/src/types/index.ts
Due: kftray-commons, kftray-tauri, kftui

docs: add kgara, ramezbenaribia, knktc and xrow as contributors for code
  .all-contributorsrc
  README.md
Due: none

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-mcp/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix(kftui): keep the Windows updater on native-tls
  Cargo.lock
  crates/kftui/Cargo.toml
Due: kftui

ci: key the Linux release caches by Ubuntu version
  .github/workflows/release.yml
Due: none

fix(sbom): pin the CycloneDX spec version for assembled SBOMs
  .mise.toml
Due: none

ci: build the kftui ARM64 release on Ubuntu 22.04
  .github/workflows/release.yml
Due: none

fix(release): finalize the Linux updater manifest before publishing
  .github/workflows/release.yml
  .gitignore
  hacks/fix_updater_json.py
  hacks/pyproject.toml
  hacks/tests/test_fix_updater_json.py
Due: none

fix(obs): upload verified source archives and wait for OBS build results
  .github/workflows/obs-publishing.yml
  .github/workflows/release.yml
  hacks/obs/.gitignore
  hacks/obs/Dockerfile.test
  hacks/obs/README.md
  hacks/obs/distros.conf
  hacks/obs/dry-run.sh
  hacks/obs/kftray/templates/_service
  hacks/obs/kftray/templates/debian-control
  hacks/obs/kftray/templates/debian-rules
  hacks/obs/kftray/templates/kftray.spec
  hacks/obs/kftui/templates/_service
  hacks/obs/kftui/templates/debian-control
  hacks/obs/kftui/templates/kftui.dsc
  hacks/obs/kftui/templates/kftui.spec
  hacks/obs/publish.sh
  hacks/obs/setup.sh
  hacks/obs/test-local.sh
  hacks/obs/test-package-builds.sh
  hacks/obs/test-publish.sh
Due: none

fix(release): repair Linux packaging and updater metadata (#684)
  .github/workflows/obs-publishing.yml
  .github/workflows/release.yml
  .gitignore
  hacks/fix_updater_json.py
  hacks/obs/.gitignore
  hacks/obs/Dockerfile.test
  hacks/obs/README.md
  hacks/obs/distros.conf
  hacks/obs/dry-run.sh
  hacks/obs/kftray/templates/_service
  hacks/obs/kftray/templates/debian-control
  hacks/obs/kftray/templates/debian-rules
  hacks/obs/kftray/templates/kftray.spec
  hacks/obs/kftui/templates/_service
  hacks/obs/kftui/templates/debian-control
  hacks/obs/kftui/templates/kftui.dsc
  hacks/obs/kftui/templates/kftui.spec
  hacks/obs/publish.sh
  hacks/obs/setup.sh
  hacks/obs/test-local.sh
  hacks/obs/test-package-builds.sh
  hacks/obs/test-publish.sh
  hacks/pyproject.toml
  hacks/tests/test_fix_updater_json.py
Due: none

fix(macos): restore tray left click on macOS 27
  Cargo.lock
  Cargo.toml
Due: none

ci: stop apt index failures from third-party runner sources failing jobs
  .github/workflows/ci.yml
  .github/workflows/obs-publishing.yml
Due: none

fix(obs): disable debuginfo generation for the prebuilt kftui RPM
  .github/workflows/obs-publishing.yml
  hacks/obs/README.md
  hacks/obs/kftui/templates/kftui.spec
  hacks/obs/test-package-builds.sh
Due: none

ci: allow publishing a released version to OBS on demand
  .github/workflows/obs-publishing.yml
  hacks/obs/README.md
Due: none

fix(obs): keep waiting for builds when the OBS API drops the connection
  hacks/obs/publish.sh
  hacks/obs/test-publish.sh
Due: none

docs: add Linux package repository instructions
  README.md
  docs/kftray/INSTALL.md
  docs/kftui/INSTALL.md
Due: none

Use kube-portforward for Kubernetes forwarding
  Cargo.lock
  Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-http-logs/src/config.rs
  crates/kftray-mcp/Cargo.toml
  crates/kftray-mcp/src/tools/kubernetes.rs
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/expose/websocket_client.rs
  crates/kftray-portforward/src/kube/client/builder.rs
  crates/kftray-portforward/src/kube/client/mod.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/models.rs
  crates/kftray-portforward/src/kube/operations.rs
  crates/kftray-portforward/src/kube/pod_watcher.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/service.rs
  crates/kftray-portforward/src/kube/shared_client.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/target.rs
  crates/kftray-portforward/src/kube/tests/mod.rs
  crates/kftray-portforward/src/kube/tests/portforward_tests.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/kubecontext.rs
  crates/kftray-tauri/src/commands/server_resources.rs
  crates/kftui/src/tests/test_snapshots.rs
  docs/kftray/USAGE.md
Due: kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

Fix forwarding lifecycle and reduce startup work
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/kube/client/builder.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftui/src/cli/runner.rs
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/table.rs
  docs/kftray/USAGE.md
  docs/kftui/USAGE.md
  frontend/src/components/HeaderMenu/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/PortForwardRow/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
  frontend/src/types/index.ts
Due: kftray-portforward, kftray-tauri, kftui

Fix forwarding startup cancellation and recovery handling
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/websocket_client.rs
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/operations.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/target.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftui/src/tui/app.rs
Due: kftray-portforward, kftui
