Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%

  individual_components:
    - component_id: kftray-commons
      name: kftray-commons
      paths:
        - "crates/kftray-commons/**"

    - component_id: kftray-http-logs
      name: kftray-http-logs
      paths:
        - "crates/kftray-http-logs/**"

    - component_id: kftray-portforward
      name: kftray-portforward
      paths:
        - "crates/kftray-portforward/**"

    - component_id: kftray-server
      name: kftray-server
      paths:
        - "crates/kftray-server/**"

    - component_id: kftray-tauri
      name: kftray-tauri
      paths:
        - "crates/kftray-tauri/**"

    - component_id: kftui
      name: kftui
      paths:
        - "crates/kftui/**"

fix: unsafe set var
  .github/workflows/release.yml
Due: none

fix: add gen tauri to gitignore
  crates/kftray-tauri/.gitignore
  crates/kftray-tauri/gen/schemas/acl-manifests.json
  crates/kftray-tauri/gen/schemas/capabilities.json
  crates/kftray-tauri/gen/schemas/desktop-schema.json
  crates/kftray-tauri/gen/schemas/macOS-schema.json
Due: kftray-tauri

fix: bump version script to works with tauri v2 schema
  hacks/kftray-utils/src/bump_version.rs
Due: none

feat: remove tauri dependency in kftray-commons to reduce kftui bundle size
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-commons/src/utils/validate_configs.rs
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/lib.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/src/validation.rs
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

chore: update lockfile
  Cargo.lock
Due: none

fix: fixed release app auto updater artifacts for macos
  .github/workflows/release.yml
Due: none

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix(window): resolve tray positioning crashes on multi-monitor setups
  Cargo.lock
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/window.rs
Due: kftray-tauri

fix(window): resolve tray positioning crashes on multi-monitor setups (#479)
  Cargo.lock
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/window.rs
Due: kftray-tauri

feat: remove unused deps
  Cargo.lock
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/capabilities/migrated.json
  crates/kftui/Cargo.toml
Due: kftray-portforward, kftray-tauri, kftui

feat: remove unused deps
  Cargo.toml
Due: none

feat: remove unused deps (#480)
  Cargo.lock
  Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/capabilities/migrated.json
  crates/kftui/Cargo.toml
Due: kftray-portforward, kftray-tauri, kftui

feat: reduce bundle size
  Cargo.lock
  Cargo.toml
Due: none

chore: update readme
  README.md
Due: none

feat: upgrade dependencies
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: none

ci: set rust flags in ci to optimize bundle size
  .github/workflows/release.yml
  frontend/dist/.gitkeep
Due: none

ci: set rust flags in ci to optimize bundle size
  frontend/dist/.gitkeep
Due: none

chore: publish crates needs kftui
  .github/workflows/release.yml
Due: none

ci: fix rustflags on macos
  .github/workflows/release.yml
Due: none
