Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix: stop proxy forwarding hangs after some time
  Cargo.lock
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-portforward, kftray-server, kftray-tauri, kftui

refac(http-logs): add http logs state in db and add in kftui
  codecov.yml
  crates/kftray-commons/src/utils/http_logs_config.rs
  crates/kftray-commons/src/utils/migration.rs
  crates/kftray-http-logs/src/state.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/draw.rs
  crates/kftui/src/tui/ui/popup.rs
  frontend/src/components/HttpLogsConfigModal/index.tsx
Due: kftray-commons, kftray-http-logs, kftui

chore: bump version
  Cargo.lock
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  crates/kftui/src/tui/ui/popup.rs
  docs/kftray/INSTALL.md
  frontend/package.json
  frontend/src/components/HttpLogsConfigModal/index.tsx
  package.json
Due: kftray-commons, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: add kftui formula and cargo pipeline
  .github/workflows/release.yml
  docs/kftui/USAGE.md
  hacks/update-homebrew.sh
Due: none

chore: bump version
  Cargo.lock
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-portforward, kftray-server, kftray-tauri, kftui

chore: bump version
  .github/workflows/release.yml
Due: none

chore: bump version
  Cargo.lock
  crates/kftray-http-logs/Cargo.toml
  crates/kftui/Cargo.toml
  hacks/kftray-utils/src/bump_version.rs
Due: kftray-http-logs, kftui

chore: bump version
  .github/workflows/release.yml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
Due: kftray-http-logs, kftray-portforward

feat: improve hostfiles management logic and performance
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/hostsfile.rs
  crates/kftray-commons/src/utils/mod.rs
  crates/kftray-helper/Cargo.toml
  crates/kftray-helper/src/auth.rs
  crates/kftray-helper/src/client/helper_client.rs
  crates/kftray-helper/src/communication.rs
  crates/kftray-helper/src/hostfile.rs
  crates/kftray-helper/src/main.rs
  crates/kftray-helper/src/network.rs
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/hostfile_direct.rs
Due: kftray-commons, kftray-portforward

fix: clippy warnings
  crates/kftray-helper/src/auth.rs
  crates/kftray-helper/src/communication.rs
Due: none

fix: cargo publish deps
  .github/workflows/release.yml
Due: none

fix: release pipeline
  .github/workflows/release.yml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftui/Cargo.toml
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix: release pipeline
  .github/workflows/release.yml
Due: none

feat: add crates readme
  Cargo.lock
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  crates/kftui/README.md
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

docs(kftui): add cargo and brew install commands
  docs/kftui/INSTALL.md
Due: none

docs(kftui): add cargo and brew install commands
  crates/kftui/README.md
Due: kftui

docs: add kftui crates badge
  README.md
Due: none

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
