Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

Update flatpak build scripts for Silverblue compatibility
  hacks/flatpak/com.hcavarsan.kftray.yml
Due: none

Update flatpak build scripts for Silverblue compatibility
  hacks/flatpak/generate-sources.sh
Due: none

Update flatpak build scripts for Silverblue compatibility
  hacks/flatpak/com.hcavarsan.kftray.yml
  hacks/flatpak/generate-sources.sh
Due: none

feat: refactor updater to tauri v2 plugin and add settings modal to control updater behavior
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/mod.rs
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/commands/updater.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  frontend/src/components/SettingsModal/index.tsx
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix(kftray): set missing write file permissions
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/capabilities/migrated.json
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: add obs publish pkgs
  .github/workflows/release.yml
  hacks/obs/Dockerfile.test
  hacks/obs/distros.conf
  hacks/obs/dry-run.sh
  hacks/obs/kftray/templates/PKGBUILD
  hacks/obs/kftray/templates/_service
  hacks/obs/kftray/templates/debian-control
  hacks/obs/kftray/templates/debian-rules
  hacks/obs/kftray/templates/kftray.spec
  hacks/obs/kftui/templates/PKGBUILD
  hacks/obs/kftui/templates/_service
  hacks/obs/kftui/templates/debian-control
  hacks/obs/kftui/templates/debian-rules
  hacks/obs/kftui/templates/kftui.spec
  hacks/obs/publish.sh
  hacks/obs/setup-container.sh
  hacks/obs/setup.sh
  hacks/obs/test-local.sh
Due: none

feat: add obs publish pkgs
  hacks/obs/.gitignore
  hacks/obs/distros.conf
  hacks/obs/kftray/templates/PKGBUILD
  hacks/obs/kftray/templates/_service
  hacks/obs/kftray/templates/debian-compat
  hacks/obs/kftray/templates/debian-control
  hacks/obs/kftray/templates/debian-rules
  hacks/obs/kftray/templates/kftray.dsc
  hacks/obs/kftray/templates/kftray.spec
  hacks/obs/kftui/templates/PKGBUILD
  hacks/obs/kftui/templates/debian-compat
  hacks/obs/kftui/templates/debian-control
  hacks/obs/kftui/templates/debian-rules
  hacks/obs/kftui/templates/kftui.dsc
  hacks/obs/kftui/templates/kftui.spec
  hacks/obs/publish.sh
  hacks/obs/setup.sh
Due: none

feat: add linux obs publish pkgs (#490)
  .github/workflows/release.yml
  hacks/obs/.gitignore
  hacks/obs/Dockerfile.test
  hacks/obs/distros.conf
  hacks/obs/dry-run.sh
  hacks/obs/kftray/templates/_service
  hacks/obs/kftray/templates/debian-compat
  hacks/obs/kftray/templates/debian-control
  hacks/obs/kftray/templates/debian-rules
  hacks/obs/kftray/templates/kftray.dsc
  hacks/obs/kftray/templates/kftray.spec
  hacks/obs/kftui/templates/_service
  hacks/obs/kftui/templates/debian-compat
  hacks/obs/kftui/templates/debian-control
  hacks/obs/kftui/templates/debian-rules
  hacks/obs/kftui/templates/kftui.dsc
  hacks/obs/kftui/templates/kftui.spec
  hacks/obs/publish.sh
  hacks/obs/setup-container.sh
  hacks/obs/setup.sh
  hacks/obs/test-local.sh
Due: none

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix: obs publish version
  .github/workflows/release.yml
Due: none

fix: release pipeline
  .github/workflows/release.yml
Due: none

fix: release pipeline
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: native ssl self signed certificates for port forwards
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/src/models/mod.rs
  crates/kftray-commons/src/models/settings_model.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/hostfile_helper.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/client/config.rs
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-portforward/src/kube/client/utils.rs
  crates/kftray-portforward/src/kube/http_log_watcher.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
  crates/kftray-portforward/src/kube/tests/portforward_tests.rs
  crates/kftray-portforward/src/lib.rs
  crates/kftray-portforward/src/network_utils.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-portforward/src/ssl/cert_generator.rs
  crates/kftray-portforward/src/ssl/cert_manager.rs
  crates/kftray-portforward/src/ssl/cert_store.rs
  crates/kftray-portforward/src/ssl/mod.rs
  crates/kftray-portforward/src/ssl/platform/linux.rs
  crates/kftray-portforward/src/ssl/platform/macos.rs
  crates/kftray-portforward/src/ssl/platform/mod.rs
  crates/kftray-portforward/src/ssl/platform/native_macos.rs
  crates/kftray-portforward/src/ssl/platform/native_windows.rs
  crates/kftray-portforward/src/ssl/platform/windows.rs
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/commands/mod.rs
  crates/kftray-tauri/src/commands/ssl.rs
  crates/kftray-tauri/src/main.rs
  crates/kftui/src/main.rs
  frontend/src/components/SettingsModal/index.tsx
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

feat: native ssl self signed certificates for port forwards
  Cargo.lock
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/http_log_watcher.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
  crates/kftray-portforward/src/network_utils.rs
  crates/kftray-portforward/src/ssl/cert_generator.rs
  crates/kftray-portforward/src/ssl/cert_manager.rs
  crates/kftray-portforward/src/ssl/platform/native_macos.rs
  crates/kftray-portforward/src/ssl/platform/windows.rs
  crates/kftray-tauri/src/commands/ssl.rs
Due: kftray-portforward, kftray-tauri

feat: native ssl self signed certificates for port forwards
  crates/kftray-portforward/src/ssl/cert_generator.rs
  crates/kftray-portforward/src/ssl/cert_manager.rs
  crates/kftray-portforward/src/ssl/cert_store.rs
  crates/kftray-portforward/src/ssl/platform/windows.rs
Due: kftray-portforward

feat: native ssl self signed certificates for port forwards
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/network_utils.rs
  crates/kftray-portforward/src/ssl/cert_generator.rs
  crates/kftray-portforward/src/ssl/cert_store.rs
  crates/kftray-portforward/src/ssl/platform/windows.rs
  crates/kftray-tauri/src/commands/ssl.rs
  frontend/src/components/SettingsModal/index.tsx
Due: kftray-portforward, kftray-tauri

feat: native ssl self signed certificates for port forwards
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/ssl/cert_generator.rs
  crates/kftray-portforward/src/ssl/cert_manager.rs
  crates/kftray-portforward/src/ssl/cert_store.rs
  crates/kftray-portforward/src/ssl/platform/windows.rs
  crates/kftray-tauri/src/commands/ssl.rs
Due: kftray-portforward, kftray-tauri

feat: native ssl self signed certificates for port forwards (#494)
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/src/models/mod.rs
  crates/kftray-commons/src/models/settings_model.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/hostfile_helper.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/client/config.rs
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-portforward/src/kube/client/utils.rs
  crates/kftray-portforward/src/kube/http_log_watcher.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
  crates/kftray-portforward/src/kube/tests/portforward_tests.rs
  crates/kftray-portforward/src/lib.rs
  crates/kftray-portforward/src/network_utils.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-portforward/src/ssl/cert_generator.rs
  crates/kftray-portforward/src/ssl/cert_manager.rs
  crates/kftray-portforward/src/ssl/cert_store.rs
  crates/kftray-portforward/src/ssl/mod.rs
  crates/kftray-portforward/src/ssl/platform/linux.rs
  crates/kftray-portforward/src/ssl/platform/macos.rs
  crates/kftray-portforward/src/ssl/platform/mod.rs
  crates/kftray-portforward/src/ssl/platform/native_macos.rs
  crates/kftray-portforward/src/ssl/platform/native_windows.rs
  crates/kftray-portforward/src/ssl/platform/windows.rs
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/commands/mod.rs
  crates/kftray-tauri/src/commands/ssl.rs
  crates/kftray-tauri/src/main.rs
  crates/kftui/src/main.rs
  frontend/src/components/SettingsModal/index.tsx
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

chore: bump release
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix: fix windows build
  .github/workflows/release.yml
Due: none

fix: fix linux build
  Cargo.toml
Due: none

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
