Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix: fix linux build
  Cargo.toml
Due: none

feat: add ssl settings control in kftui
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/popup.rs
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: add ssl arg in cli and fix minor things
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-commons/src/models/config_model.rs
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  crates/kftui/README.md
  crates/kftui/src/cli/args.rs
  crates/kftui/src/cli/runner.rs
  crates/kftui/src/core/port_forward.rs
  docs/kftray/INSTALL.md
  frontend/package.json
  hacks/update-homebrew.sh
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix: fix tests and import configs
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-commons/src/models/config_model.rs
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  crates/kftui/src/cli/runner.rs
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix: force new release to fix workflow
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix: wrong window position and size in scaled monitor with high dpi
  crates/kftray-commons/src/models/window.rs
  crates/kftray-tauri/src/commands/window_state.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/window.rs
Due: kftray-commons, kftray-tauri

ci: add tar gz kftui release
  .github/workflows/release.yml
Due: none

fix: wrong window position and size in scaled monitor with high dpi (#496)
  crates/kftray-commons/src/models/window.rs
  crates/kftray-tauri/src/commands/window_state.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/window.rs
Due: kftray-commons, kftray-tauri

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  frontend/vite.config.ts
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

chore: update readme
  README.md
Due: none

ci: add .tar.gz for macos and windows in release
  .github/workflows/release.yml
Due: none

feat: add kftui windows arm builds
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: add auto updater in kftui
  Cargo.lock
  Cargo.toml
  crates/kftui/Cargo.toml
  crates/kftui/src/lib.rs
  crates/kftui/src/main.rs
  crates/kftui/src/tests/test_snapshots.rs
  crates/kftui/src/tests/test_ui_popup.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/input/popup.rs
  crates/kftui/src/tui/ui/draw.rs
  crates/kftui/src/tui/ui/logo.rs
  crates/kftui/src/tui/ui/mod.rs
  crates/kftui/src/tui/ui/popup.rs
  crates/kftui/src/updater.rs
Due: kftui

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: build tauri with older glib for compatibility
  .cargo/config.toml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  wrapper/zig-cc
Due: none

fix: linux position and global shortcuts working in wayland
  .cargo/config.toml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  Cargo.lock
  crates/kftray-commons/src/models/settings_model.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/lib.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/src/shortcut.rs
  crates/kftray-tauri/src/shortcut_manager.rs
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/window.rs
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/src/cli/handler.rs
  crates/kftui/src/stdin.rs
  frontend/src/components/SettingsModal/index.tsx
  frontend/src/components/ShortcutCapture/index.tsx
  frontend/src/hooks/useGlobalShortcuts.ts
  wrapper/zig-cc
Due: kftray-commons, kftray-tauri, kftui

feat: add shortcut custom in UI
  crates/kftray-tauri/src/shortcut_manager.rs
  crates/kftray-tauri/src/tray.rs
Due: kftray-tauri

fix: linux position and global shortcuts working in wayland (#498)
  .cargo/config.toml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  Cargo.lock
  crates/kftray-commons/src/models/settings_model.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/lib.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/src/shortcut.rs
  crates/kftray-tauri/src/shortcut_manager.rs
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/window.rs
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/src/cli/handler.rs
  crates/kftui/src/stdin.rs
  frontend/src/components/SettingsModal/index.tsx
  frontend/src/components/ShortcutCapture/index.tsx
  frontend/src/hooks/useGlobalShortcuts.ts
  wrapper/zig-cc
Due: kftray-commons, kftray-tauri, kftui

chore:bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

chore:bump version
  Cargo.lock
  crates/kftray-helper/src/client/installation.rs
  crates/kftray-helper/src/client/uninstallation.rs
  crates/kftray-helper/src/communication.rs
  crates/kftray-helper/src/network.rs
  crates/kftray-helper/src/platforms/linux.rs
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-shortcuts/src/actions.rs
  crates/kftray-shortcuts/src/lib.rs
  crates/kftray-shortcuts/src/manager.rs
  crates/kftray-shortcuts/src/models.rs
  crates/kftray-shortcuts/src/parser.rs
  crates/kftray-shortcuts/src/platforms/linux.rs
  crates/kftray-shortcuts/src/platforms/macos.rs
  crates/kftray-shortcuts/src/platforms/mod.rs
  crates/kftray-shortcuts/src/platforms/windows.rs
  crates/kftray-shortcuts/src/storage.rs
  crates/kftray-tauri/src/commands/shortcuts.rs
  crates/kftray-tauri/src/shortcuts.rs
Due: kftray-tauri

chore:bump version
  crates/kftray-helper/src/communication.rs
  crates/kftray-shortcuts/src/platforms/linux.rs
Due: none

chore:bump version
  crates/kftray-shortcuts/src/platforms/linux.rs
Due: none

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
