Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%

  individual_components:
    - component_id: kftray-commons
      name: kftray-commons
      paths:
        - "crates/kftray-commons/**"

    - component_id: kftray-http-logs
      name: kftray-http-logs
      paths:
        - "crates/kftray-http-logs/**"

    - component_id: kftray-portforward
      name: kftray-portforward
      paths:
        - "crates/kftray-portforward/**"

    - component_id: kftray-server
      name: kftray-server
      paths:
        - "crates/kftray-server/**"

    - component_id: kftray-tauri
      name: kftray-tauri
      paths:
        - "crates/kftray-tauri/**"

    - component_id: kftui
      name: kftui
      paths:
        - "crates/kftui/**"

fix: merge env var path to handle different setups
  crates/kftray-portforward/src/kube/client/builder.rs
Due: kftray-portforward

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix: ci
  README.md
Due: none

Add repository field to Cargo.toml
  crates/kftray-helper/Cargo.toml
Due: none

Add repository field to Cargo.toml (#560)
  crates/kftray-helper/Cargo.toml
Due: none

feat(security): add sbom generation and vulnerability scanning
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .gitignore
  .grype.yaml
  .mise.toml
  Cargo.lock
  Cargo.toml
  README.md
  crates/kftray-server/Dockerfile
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/ui/render.rs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/LogViewer/LogViewerList.tsx
  package.json
  pnpm-lock.yaml
Due: kftray-server, kftui

feat(security): add sbom generation and vulnerability scanning
  .github/workflows/ci.yml
  .github/workflows/release.yml
  frontend/src/components/LogViewer/LogViewerList.tsx
Due: none

feat(security): add sbom generation and vulnerability scanning (#563)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .gitignore
  .grype.yaml
  .mise.toml
  Cargo.lock
  Cargo.toml
  README.md
  crates/kftray-server/Dockerfile
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/ui/render.rs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/LogViewer/LogViewerList.tsx
  package.json
  pnpm-lock.yaml
Due: kftray-server, kftui

feat(security): improve OpenSSF Scorecard score
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  crates/kftray-server/Dockerfile
  hacks/obs/Dockerfile.test
Due: kftray-server

fix: remove CodeQL workflow and reorder sbom-scan dependencies
  .github/workflows/codeql.yml
  .github/workflows/release.yml
Due: none

feat(security): improve OpenSSF Scorecard score (#564)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  crates/kftray-server/Dockerfile
  hacks/obs/Dockerfile.test
Due: kftray-server

feat(security): add sbom generation and vulnerability scanning
  .github/workflows/scorecard.yml
Due: none

docs: add openssf best practices badge
  README.md
Due: none

docs: add codeowners
  .github/CODEOWNERS
Due: none

docs: add codeowners
  Cargo.lock
  Cargo.toml
Due: none

docs: add audit advisories
  .cargo/audit.toml
Due: none

feat: add cargo-fuzz setup
  .github/workflows/ci.yml
  .github/workflows/fuzz.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .gitignore
  crates/kftray-http-logs/src/parser.rs
  fuzz/.gitignore
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/corpus/fuzz_chunked_body/multi_chunk
  fuzz/corpus/fuzz_chunked_body/simple_chunk
  fuzz/corpus/fuzz_config_import/bool_string_true
  fuzz/corpus/fuzz_config_import/full_config
  fuzz/corpus/fuzz_config_import/minimal_config
  fuzz/fuzz_targets/fuzz_chunked_body.rs
  fuzz/fuzz_targets/fuzz_config_import.rs
Due: kftray-http-logs

feat: add cargo-fuzz setup (#565)
  .github/workflows/ci.yml
  .github/workflows/fuzz.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .gitignore
  crates/kftray-http-logs/src/parser.rs
  fuzz/.gitignore
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/corpus/fuzz_chunked_body/multi_chunk
  fuzz/corpus/fuzz_chunked_body/simple_chunk
  fuzz/corpus/fuzz_config_import/bool_string_true
  fuzz/corpus/fuzz_config_import/full_config
  fuzz/corpus/fuzz_config_import/minimal_config
  fuzz/fuzz_targets/fuzz_chunked_body.rs
  fuzz/fuzz_targets/fuzz_config_import.rs
Due: kftray-http-logs

ci: fix the release workflow order
  .github/workflows/release.yml
Due: none

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  fuzz/Cargo.toml
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

docs: add rustsec ignore reason
  .cargo/audit.toml
  osv-scanner.toml
Due: none
