Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat(kftray-server): upgrade rust and alpine
  Cargo.lock
  crates/kftray-server/Dockerfile
Due: kftray-server

fix(portforward): remove 600s read timeout causing socket closures
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
Due: kftray-portforward

fix(portforward): remove 600s read timeout causing socket closures (#540)
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
Due: kftray-portforward

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

chore: format code
  frontend/src/components/ServerResourcesModal/index.tsx
Due: none

fix: kubeconfig badge blinking and remove dead code
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
  frontend/src/components/AddConfigModal/index.tsx
Due: kftray-portforward

chore: format code
  crates/kftray-portforward/src/network_utils.rs
  frontend/src/components/AddConfigModal/index.tsx
Due: kftray-portforward

fix: kubeconfig badge blinking in AddConfigModal (#542)
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
  crates/kftray-portforward/src/network_utils.rs
  frontend/src/components/AddConfigModal/index.tsx
Due: kftray-portforward

fix(portforward): resolve deadlock and improve abort/timeout handling
  Cargo.lock
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/service.rs
  crates/kftray-portforward/src/kube/shared_client.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
  crates/kftray-portforward/src/kube/tests/portforward_tests.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/commands/httplogs.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/commands/server_resources.rs
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/main.rs
  crates/kftui/src/tui/input/mod.rs
  frontend/eslint.config.mjs
  frontend/src/components/HeaderMenu/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
  frontend/src/components/ServerResourcesModal/index.tsx
  frontend/src/components/SettingsModal/index.tsx
  frontend/src/components/ShortcutCapture/index.tsx
  frontend/src/types/index.ts
Due: kftray-portforward, kftray-tauri, kftui

fix: address pr review feedback - use composite keys and fix formatting
  frontend/src/components/Main/index.tsx
  frontend/src/components/ServerResourcesModal/index.tsx
Due: none

fix(portforward): resolve deadlock and improve abort/timeout handling (#543)
  Cargo.lock
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/service.rs
  crates/kftray-portforward/src/kube/shared_client.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
  crates/kftray-portforward/src/kube/tests/portforward_tests.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/commands/httplogs.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/commands/server_resources.rs
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/main.rs
  crates/kftui/src/tui/input/mod.rs
  frontend/eslint.config.mjs
  frontend/src/components/HeaderMenu/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
  frontend/src/components/ServerResourcesModal/index.tsx
  frontend/src/components/SettingsModal/index.tsx
  frontend/src/components/ShortcutCapture/index.tsx
  frontend/src/types/index.ts
Due: kftray-portforward, kftray-tauri, kftui

deps: upgrade all deps
  .github/workflows/release.yml
  .mise.toml
  Cargo.lock
  Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/kube/http_log_watcher.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/server_resources.rs
  frontend/src/components/Main/index.tsx
  frontend/src/components/ServerResourcesModal/index.tsx
  rust-toolchain.toml
Due: kftray-portforward, kftray-server, kftray-tauri

fix: fix env path to import all env vars instead only path
  Cargo.toml
  crates/kftray-tauri/src/main.rs
  pnpm-lock.yaml
Due: kftray-tauri

fix: fix env path to import all env vars instead only path
  .github/workflows/ci.yml
  crates/kftray-tauri/src/main.rs
Due: kftray-tauri

fix: fix env path to import all env vars instead only path (#554)
  .github/workflows/ci.yml
  Cargo.toml
  crates/kftray-tauri/src/main.rs
  pnpm-lock.yaml
Due: kftray-tauri

Potential fix for code scanning alert no. 34: Cleartext logging of sensitive information
  crates/kftray-portforward/src/kube/proxy.rs
Due: kftray-portforward

Potential fix for code scanning alert no. 34: Cleartext logging of sensitive information (#555)
  crates/kftray-portforward/src/kube/proxy.rs
Due: kftray-portforward

feat: add new window to debug kftray gui better
  Cargo.lock
  Cargo.toml
  crates/kftray-portforward/src/kube/client/builder.rs
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/capabilities/migrated.json
  crates/kftray-tauri/src/commands/kubecontext.rs
  crates/kftray-tauri/src/commands/logs.rs
  crates/kftray-tauri/src/commands/mod.rs
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/lib.rs
  crates/kftray-tauri/src/logging.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/src/tray.rs
  frontend/eslint.config.mjs
  frontend/logs.html
  frontend/package.json
  frontend/src/components/LogViewer/FilterChips.tsx
  frontend/src/components/LogViewer/LevelFilterDropdown.tsx
  frontend/src/components/LogViewer/LogFileSelector.tsx
  frontend/src/components/LogViewer/LogRow.tsx
  frontend/src/components/LogViewer/LogViewerList.tsx
  frontend/src/components/LogViewer/LogViewerToolbar.tsx
  frontend/src/components/LogViewer/ModuleFilterDropdown.tsx
  frontend/src/components/LogViewer/constants.ts
  frontend/src/components/LogViewer/index.ts
  frontend/src/components/LogViewer/types.ts
  frontend/src/components/LogViewer/utils/filterLogs.ts
  frontend/src/components/LogViewerModal/index.tsx
  frontend/src/components/SettingsModal/index.tsx
  frontend/src/logs.tsx
  frontend/src/pages/LogViewerPage.tsx
  frontend/vite.config.ts
  pnpm-lock.yaml
Due: kftray-portforward, kftray-tauri

fix: use native-tls on Windows to avoid aws-lc-sys NASM requirement
  Cargo.lock
  Cargo.toml
  crates/kftui/Cargo.toml
Due: kftui

fix: use native-tls on Windows to avoid aws-lc-sys NASM requirement (#556)
  Cargo.lock
  Cargo.toml
  crates/kftui/Cargo.toml
Due: kftui

feat: improve path env var to handle edge cases
  crates/kftray-portforward/src/kube/client/builder.rs
Due: kftray-portforward

feat: improve path env var to handle edge cases (#558)
  crates/kftray-portforward/src/kube/client/builder.rs
Due: kftray-portforward

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
