Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%

  individual_components:
    - component_id: kftray-commons
      name: kftray-commons
      paths:
        - "crates/kftray-commons/**"

    - component_id: kftray-http-logs
      name: kftray-http-logs
      paths:
        - "crates/kftray-http-logs/**"

    - component_id: kftray-portforward
      name: kftray-portforward
      paths:
        - "crates/kftray-portforward/**"

    - component_id: kftray-server
      name: kftray-server
      paths:
        - "crates/kftray-server/**"

    - component_id: kftray-tauri
      name: kftray-tauri
      paths:
        - "crates/kftray-tauri/**"

    - component_id: kftui
      name: kftui
      paths:
        - "crates/kftui/**"

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-mcp/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix: fix blank window on Linux AppImag
  .github/workflows/release.yml
  crates/kftray-tauri/src/appimage_wayland_fixup.rs
  crates/kftray-tauri/src/main.rs
Due: kftray-tauri

fix: cargo crate failing due to a forked deps
  Cargo.lock
  Cargo.toml
  crates/kftui/src/tui/input/file_explorer.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/render.rs
Due: kftui

chore: bump libs
  Cargo.lock
  Cargo.toml
  crates/kftray-tauri/Cargo.toml
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: kftray-tauri

chore: bump libs
  crates/kftray-tauri/src/tray_linux.rs
Due: kftray-tauri

chore(dev): add mise tasks
  .mise.toml
Due: none

chore(deps): consolidate workspace dependencies
  Cargo.lock
  Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
Due: none

chore(portforward): depend on kube-portforward workspace crate
  crates/kftray-portforward/Cargo.toml
Due: kftray-portforward

refactor(ssl): remove dead native macOS and Windows trust-store paths
  crates/kftray-portforward/src/ssl/cert_generator.rs
  crates/kftray-portforward/src/ssl/cert_manager.rs
  crates/kftray-portforward/src/ssl/platform/native_macos.rs
  crates/kftray-portforward/src/ssl/platform/native_windows.rs
Due: kftray-portforward

feat(kube-portforward): introduce standalone websocket port-forward crate
  crates/kube-portforward/Cargo.toml
  crates/kube-portforward/LICENSE-APACHE
  crates/kube-portforward/LICENSE-MIT
  crates/kube-portforward/README.md
  crates/kube-portforward/examples/graceful_shutdown.rs
  crates/kube-portforward/examples/multiplex.rs
  crates/kube-portforward/examples/single_port.rs
  crates/kube-portforward/examples/with_keepalive.rs
  crates/kube-portforward/src/allocator.rs
  crates/kube-portforward/src/client.rs
  crates/kube-portforward/src/connect.rs
  crates/kube-portforward/src/error.rs
  crates/kube-portforward/src/forwarder.rs
  crates/kube-portforward/src/frame.rs
  crates/kube-portforward/src/keepalive.rs
  crates/kube-portforward/src/lib.rs
  crates/kube-portforward/src/pod_watch.rs
  crates/kube-portforward/src/reader.rs
  crates/kube-portforward/src/routing.rs
  crates/kube-portforward/src/session.rs
  crates/kube-portforward/src/shutdown.rs
  crates/kube-portforward/src/stream.rs
  crates/kube-portforward/src/subprotocol.rs
  crates/kube-portforward/src/version.rs
  crates/kube-portforward/src/writer.rs
Due: none

feat(server): add HTTP proxy with relay and sniffer
  crates/kftray-server/Cargo.toml
  crates/kftray-server/src/main.rs
  crates/kftray-server/src/proxy/http_proxy.rs
  crates/kftray-server/src/proxy/mod.rs
  crates/kftray-server/src/proxy/relay.rs
  crates/kftray-server/src/proxy/sniff.rs
  crates/kftray-server/src/proxy/tcp.rs
Due: kftray-server

refactor(portforward): introduce registry and rebuild kube listener/start/stop on kube-portforward
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/client/builder.rs
  crates/kftray-portforward/src/kube/client/config.rs
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-portforward/src/kube/client/error.rs
  crates/kftray-portforward/src/kube/http_log_watcher.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/models.rs
  crates/kftray-portforward/src/kube/operations.rs
  crates/kftray-portforward/src/kube/pod_watcher.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/service.rs
  crates/kftray-portforward/src/kube/shared_client.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
  crates/kftray-portforward/src/kube/tests/portforward_tests.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftray-portforward/src/lib.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-portforward/src/port_forward_error.rs
  crates/kftray-portforward/src/registry.rs
  crates/kftray-portforward/src/ssl/cert_generator.rs
Due: kftray-portforward

fix(network-monitor): adapt to PortForwardError type change
  crates/kftray-network-monitor/src/config_manager.rs
Due: none

refactor(expose): wire expose flows through new registry
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/expose/templates.rs
  crates/kftray-portforward/src/expose/websocket_client.rs
Due: kftray-portforward

feat(tauri): respect RUST_LOG env var for log level override
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/kubecontext.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/init_check.rs
  crates/kftray-tauri/src/main.rs
Due: kftray-tauri

feat(kftui): integrate websocket port-forward path
  crates/kftui/Cargo.toml
  crates/kftui/src/main.rs
  crates/kftui/src/tui/input/mod.rs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: kftui

fix: 1 security fixes
  crates/kftray-helper/src/client/installation.rs
Due: none

feat(kube-portforward): add SPDY/3.1 tunnel backend with channel multiplex restructure
  Cargo.lock
  crates/kftray-portforward/src/kube/listener.rs
  crates/kube-portforward/Cargo.toml
  crates/kube-portforward/src/channel/allocator.rs
  crates/kube-portforward/src/channel/connect.rs
  crates/kube-portforward/src/channel/frame.rs
  crates/kube-portforward/src/channel/keepalive.rs
  crates/kube-portforward/src/channel/mod.rs
  crates/kube-portforward/src/channel/reader.rs
  crates/kube-portforward/src/channel/routing.rs
  crates/kube-portforward/src/channel/session.rs
  crates/kube-portforward/src/channel/shutdown.rs
  crates/kube-portforward/src/channel/stream.rs
  crates/kube-portforward/src/channel/writer.rs
  crates/kube-portforward/src/client.rs
  crates/kube-portforward/src/connect.rs
  crates/kube-portforward/src/error.rs
  crates/kube-portforward/src/forwarder.rs
  crates/kube-portforward/src/lib.rs
  crates/kube-portforward/src/session.rs
  crates/kube-portforward/src/spdy_tunnel/codec.rs
  crates/kube-portforward/src/spdy_tunnel/dictionary.rs
  crates/kube-portforward/src/spdy_tunnel/error.rs
  crates/kube-portforward/src/spdy_tunnel/mod.rs
  crates/kube-portforward/src/spdy_tunnel/mux.rs
  crates/kube-portforward/src/spdy_tunnel/session.rs
  crates/kube-portforward/src/spdy_tunnel/stream.rs
  crates/kube-portforward/src/stream.rs
  crates/kube-portforward/src/subprotocol.rs
Due: kftray-portforward

fix(kube-portforward): wire SPDY subprotocol negotiation through custom WS upgrade
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-tauri/Cargo.toml
  crates/kftui/Cargo.toml
  crates/kube-portforward/src/channel/connect.rs
  crates/kube-portforward/src/channel/reader.rs
  crates/kube-portforward/src/channel/session.rs
  crates/kube-portforward/src/channel/stream.rs
  crates/kube-portforward/src/client.rs
  crates/kube-portforward/src/connect.rs
  crates/kube-portforward/src/forwarder.rs
  crates/kube-portforward/src/lib.rs
  crates/kube-portforward/src/session.rs
  crates/kube-portforward/src/spdy_tunnel/codec.rs
  crates/kube-portforward/src/spdy_tunnel/dictionary.rs
  crates/kube-portforward/src/spdy_tunnel/error.rs
  crates/kube-portforward/src/spdy_tunnel/mod.rs
  crates/kube-portforward/src/spdy_tunnel/mux.rs
  crates/kube-portforward/src/spdy_tunnel/stream.rs
  crates/kube-portforward/src/stream.rs
Due: kftray-portforward, kftray-tauri, kftui
