Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: add window mode for desktops without a system tray
  Cargo.lock
  Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/updater.rs
  crates/kftray-tauri/src/commands/window_state.rs
  crates/kftray-tauri/src/lib.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/tray_linux.rs
  crates/kftray-tauri/src/tray_mode.rs
  crates/kftray-tauri/src/window.rs
  crates/kftray-tauri/tauri.conf.json
  frontend/src/components/Header/index.tsx
  frontend/src/components/SettingsModal/WindowSettings.tsx
  frontend/src/components/SettingsModal/index.tsx
Due: kftray-tauri

docs: describe app mode and the no tray fallback
  docs/kftray/INSTALL.md
  docs/kftray/USAGE.md
Due: none

fix: keep single instance lock when the update restart fails
  crates/kftray-tauri/src/commands/updater.rs
Due: kftray-tauri

refactor(frontend): move settings and server resources to the footer menu
  frontend/src/components/Footer/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
  frontend/src/components/ui/menu.tsx
  frontend/src/types/index.ts
Due: none

feat: center the window and hide the tray icon in window mode
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/tray_linux.rs
  crates/kftray-tauri/src/tray_mode.rs
  crates/kftray-tauri/src/window.rs
  docs/kftray/USAGE.md
Due: kftray-tauri

fix(frontend): apply window and mcp settings only on save
  frontend/src/components/SettingsModal/McpServerSettings.tsx
  frontend/src/components/SettingsModal/WindowSettings.tsx
  frontend/src/components/SettingsModal/index.tsx
Due: none

fix: raise the window without always on top in window mode
  crates/kftray-tauri/src/window.rs
Due: kftray-tauri

fix: hide the app while exit cleanup finishes
  crates/kftray-tauri/src/commands/portforward.rs
Due: kftray-tauri

fix(frontend): skip window and mcp save when their settings failed to load
  frontend/src/components/SettingsModal/index.tsx
Due: none

style(frontend): soften the footer menu divider
  frontend/src/components/Footer/index.tsx
Due: none

fix: skip window position persistence on wayland and quiet dbus logs
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/window.rs
Due: kftray-tauri

fix(frontend): use in app dropdowns for window settings
  frontend/src/components/SettingsModal/WindowSettings.tsx
Due: none

feat: save the window size when resizing and drop size presets
  crates/kftray-tauri/src/commands/window_state.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/tray_linux.rs
  crates/kftray-tauri/src/tray_mode.rs
  crates/kftray-tauri/src/window.rs
  crates/kftray-tauri/src/window_size.rs
  crates/kftray-tauri/tauri.conf.json
  docs/kftray/USAGE.md
  frontend/src/components/SettingsModal/WindowSettings.tsx
  frontend/src/components/SettingsModal/index.tsx
Due: kftray-tauri

fix: restore the saved window position when starting in window mode
  crates/kftray-tauri/src/commands/window_state.rs
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/window.rs
Due: kftray-tauri

fix: let tiling window managers tile the macOS window in window mode
  Cargo.lock
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/tray_mode.rs
Due: kftray-tauri

fix: fall back to the legacy preset when the saved window size is invalid
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/window_size.rs
Due: kftray-tauri

docs: show the demo video in the readme
  README.md
Due: none

feat: add window mode for desktops without a system tray (#697)
  Cargo.lock
  Cargo.toml
  README.md
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/commands/updater.rs
  crates/kftray-tauri/src/commands/window_state.rs
  crates/kftray-tauri/src/lib.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/tray_linux.rs
  crates/kftray-tauri/src/tray_mode.rs
  crates/kftray-tauri/src/window.rs
  crates/kftray-tauri/src/window_size.rs
  crates/kftray-tauri/tauri.conf.json
  docs/kftray/INSTALL.md
  docs/kftray/USAGE.md
  frontend/src/components/Footer/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
  frontend/src/components/SettingsModal/McpServerSettings.tsx
  frontend/src/components/SettingsModal/WindowSettings.tsx
  frontend/src/components/SettingsModal/index.tsx
  frontend/src/components/ui/menu.tsx
  frontend/src/types/index.ts
Due: kftray-tauri

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-mcp/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix(release): keep AppImage directories readable after repacking
  .github/workflows/release.yml
Due: none

ci: embed AppImage update information and publish zsync files
  .github/workflows/release.yml
Due: none

ci: embed AppImage update information and publish zsync files (#698)
  .github/workflows/release.yml
Due: none

ci(obs): wait up to 60 minutes per package for OBS builds
  .github/workflows/obs-publishing.yml
  .github/workflows/release.yml
  hacks/obs/README.md
  hacks/obs/publish.sh
Due: none

fix(frontend): restore behavior and copy lost in the refactor
  frontend/src/components/AddConfigModal/Field.tsx
  frontend/src/components/AddConfigModal/KubeTargetFields.tsx
  frontend/src/components/AddConfigModal/ProxyFields.tsx
  frontend/src/components/AddConfigModal/TagsField.tsx
  frontend/src/components/AddConfigModal/index.tsx
  frontend/src/components/AutoImportModal/index.tsx
  frontend/src/components/Footer/BulkDeleteButton/index.tsx
  frontend/src/components/Footer/SyncConfigsButton/index.tsx
  frontend/src/components/Footer/index.tsx
  frontend/src/components/GitSyncModal/index.tsx
  frontend/src/components/HttpLogsConfigModal/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/Main/useConfigTransfer.ts
  frontend/src/components/Main/usePortForwarding.ts
  frontend/src/components/PortForwardTable/GroupAccordion/PortForwardRow/index.tsx
  frontend/src/components/PortForwardTable/GroupAccordion/PortForwardRow/useHttpLogsEnabled.ts
  frontend/src/components/PortForwardTable/useActivePods.ts
  frontend/src/components/ServerResourcesModal/index.tsx
  frontend/src/components/SettingsModal/WindowSettings.tsx
  frontend/src/components/SettingsModal/index.tsx
  frontend/src/components/SettingsModal/queries.ts
  frontend/src/components/SettingsModal/sections/LogSettings.tsx
  frontend/src/components/SettingsModal/sections/UpdateSettings.tsx
  frontend/src/components/ShortcutModal/ShortcutFormModal.tsx
  frontend/src/components/ShortcutModal/index.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/select-styles.ts
  frontend/src/contexts/GitSyncContext.tsx
  frontend/src/hooks/useGlobalShortcuts.ts
  frontend/src/hooks/useKube.ts
  frontend/src/pages/LogViewerPage.tsx
Due: none

build(frontend): migrate vite config to rolldown and drop unused build deps
  .github/workflows/release.yml
  frontend/package.json
  frontend/tsconfig.json
  frontend/vite.config.ts
  pnpm-lock.yaml
Due: none

refactor(frontend): model Config as a union over workload type
  frontend/src/components/AddConfigModal/index.tsx
  frontend/src/components/AddConfigModal/types.ts
  frontend/src/components/AddConfigModal/utils.ts
  frontend/src/components/Main/index.tsx
  frontend/src/components/Main/usePortForwarding.ts
  frontend/src/components/PortForwardTable/GroupAccordion/PortForwardRow/ActionsMenu.tsx
  frontend/src/components/PortForwardTable/index.tsx
  frontend/src/types/index.ts
Due: none

fix(frontend): stop reserving scrollbar space in the config list
  frontend/src/components/PortForwardTable/styles.css
Due: none

refactor(frontend): replace remaining color literals with theme tokens
  frontend/src/components/Footer/index.tsx
  frontend/src/components/GitSyncModal/index.tsx
  frontend/src/components/HeaderMenu/ActiveFilterChips.tsx
  frontend/src/components/HeaderMenu/ViewControls.tsx
  frontend/src/components/HeaderMenu/index.tsx
  frontend/src/components/HttpLogsConfigModal/index.tsx
  frontend/src/components/LogViewer/FilterChips.tsx
  frontend/src/components/LogViewer/LogFileSelector.tsx
  frontend/src/components/LogViewer/LogRow.tsx
  frontend/src/components/LogViewer/LogViewerToolbar.tsx
  frontend/src/components/LogViewer/constants.ts
  frontend/src/components/PortForwardTable/GroupAccordion/PortForwardRow/statusInfo.ts
  frontend/src/components/PortForwardTable/GroupAccordion/index.tsx
  frontend/src/components/PortForwardTable/styles.css
  frontend/src/components/ServerResourcesModal/index.tsx
  frontend/src/components/SettingsModal/queries.ts
  frontend/src/components/ShortcutCapture/index.tsx
  frontend/src/components/ShortcutModal/index.tsx
  frontend/src/components/ui/provider.tsx
  frontend/src/components/ui/select-styles.ts
Due: none

chore(biome): enforce console, any, a11y and hook dependency rules
  biome.json
Due: none

fix(frontend): drop next-themes to stop the script tag warning
  frontend/index.html
  frontend/logs.html
  frontend/package.json
  frontend/src/components/ui/provider.tsx
  pnpm-lock.yaml
Due: none

refactor(shortcuts): drop tauri events with no consumer
  crates/kftray-tauri/src/commands/shortcuts.rs
  crates/kftray-tauri/src/shortcuts.rs
  frontend/src/hooks/useGlobalShortcuts.ts
Due: kftray-tauri

refactor(frontend): type backend configs without the running flag
  frontend/src/components/AddConfigModal/index.tsx
  frontend/src/components/AddConfigModal/types.ts
  frontend/src/components/AutoImportModal/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/Main/usePortForwarding.ts
  frontend/src/types/index.ts
Due: none

chore(deps): update frontend dependencies within the release age policy
  frontend/knip.json
  frontend/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

build(frontend): let rolldown split vendor code by usage
  frontend/vite.config.ts
Due: none

perf(frontend): register only the chakra recipes the app renders
  frontend/src/components/ui/provider.tsx
Due: none

fix(shortcuts): record letters and digits from the physical key
  frontend/src/components/ShortcutCapture/index.tsx
Due: none

fix(frontend): pass a boolean for the optional analyzer plugin
  frontend/vite.config.ts
Due: none

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
