Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix(kftui): auto-start saved configs on a repeat --save run
  crates/kftray-commons/src/utils/config.rs
  crates/kftui/src/cli/config.rs
  crates/kftui/src/cli/handler.rs
  crates/kftui/src/tests/test_cli_config.rs
Due: kftray-commons, kftui

fix: address review on crash reports
  Cargo.lock
  crates/kftray-tauri/src/commands/telemetry.rs
  crates/kftray-telemetry/src/lib.rs
  crates/kftui/Cargo.toml
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/draw.rs
  crates/kftui/src/tui/ui/popup.rs
  docs/kftray/USAGE.md
  frontend/src/components/Main/index.tsx
  frontend/src/components/TelemetryConsentModal/index.tsx
  frontend/src/lib/telemetry.test.ts
  frontend/src/lib/telemetry.ts
Due: kftray-tauri, kftui

feat: opt-in crash reports for kftray and kftui (#780)
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/mod.rs
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/commands/telemetry.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-telemetry/Cargo.toml
  crates/kftray-telemetry/src/lib.rs
  crates/kftui/Cargo.toml
  crates/kftui/src/cli/handler.rs
  crates/kftui/src/main.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/draw.rs
  crates/kftui/src/tui/ui/popup.rs
  docs/kftray/USAGE.md
  docs/kftui/USAGE.md
  frontend/src/components/Main/index.tsx
  frontend/src/components/SettingsModal/index.tsx
  frontend/src/components/SettingsModal/sections/TelemetrySettings.tsx
  frontend/src/components/SettingsModal/types.ts
  frontend/src/components/SettingsModal/useSettingsSave.ts
  frontend/src/components/TelemetryConsentModal/index.tsx
  frontend/src/lib/telemetry.test.ts
  frontend/src/lib/telemetry.ts
  frontend/src/logs.tsx
  frontend/src/main.tsx
  hacks/kftray-utils/src/bump_version.rs
Due: kftray-commons, kftray-tauri, kftui

fix(kftui): point http log hotkeys at the highlighted row while searching
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tui/input/mod.rs
Due: kftui

fix(kftui): auto-start saved configs on a repeat --save run (#781)
  crates/kftray-commons/src/utils/config.rs
  crates/kftui/src/cli/config.rs
  crates/kftui/src/cli/handler.rs
  crates/kftui/src/tests/test_cli_config.rs
Due: kftray-commons, kftui

fix(kftui): point http log hotkeys at the highlighted row while searching (#783)
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tui/input/mod.rs
Due: kftui

fix(portforward): keep auto-discovered configs with hyphenated names
  crates/kftray-portforward/src/kube/service.rs
  docs/kftui/USAGE.md
Due: kftray-portforward

fix(portforward): stop a non-rsa kubeconfig key from failing every context
  crates/kftray-portforward/src/kube/client/config.rs
  crates/kftray-portforward/src/kube/client/utils.rs
Due: kftray-portforward

fix(server): keep an exposed service up when its old tunnel closes late
  crates/kftray-server/src/proxy/websocket_server.rs
Due: kftray-server

fix(http-logs): log the full body when its last bytes arrive late
  crates/kftray-http-logs/src/http_response_analyzer.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
Due: kftray-http-logs, kftray-portforward

fix(portforward): keep auto-discovered configs with hyphenated names (#787)
  crates/kftray-portforward/src/kube/service.rs
  docs/kftui/USAGE.md
Due: kftray-portforward

fix(portforward): stop a non-rsa kubeconfig key from failing every context (#788)
  crates/kftray-portforward/src/kube/client/config.rs
  crates/kftray-portforward/src/kube/client/utils.rs
Due: kftray-portforward

fix(server): keep an exposed service up when its old tunnel closes late (#792)
  crates/kftray-server/src/proxy/websocket_server.rs
Due: kftray-server

fix(http-logs): log the full body when its last bytes arrive late (#793)
  crates/kftray-http-logs/src/http_response_analyzer.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
Due: kftray-http-logs, kftray-portforward

fix(portforward): keep every set-cookie header on exposed apps
  crates/kftray-commons/src/models/tunnel_protocol.rs
  crates/kftray-portforward/src/expose/websocket_client.rs
  crates/kftray-server/src/models/tunnel_protocol.rs
  crates/kftray-server/src/proxy/reverse_http.rs
  crates/kftray-server/src/proxy/websocket_server.rs
Due: kftray-commons, kftray-portforward, kftray-server

chore(mise): make generate-icons find its binary
  .mise.toml
  package.json
Due: none

fix(portforward): keep every set-cookie header on exposed apps (#798)
  crates/kftray-commons/src/models/tunnel_protocol.rs
  crates/kftray-portforward/src/expose/websocket_client.rs
  crates/kftray-server/src/models/tunnel_protocol.rs
  crates/kftray-server/src/proxy/reverse_http.rs
  crates/kftray-server/src/proxy/websocket_server.rs
Due: kftray-commons, kftray-portforward, kftray-server

docs: point the kftui download badges at the published binaries
  docs/kftui/INSTALL.md
Due: none

chore(mise): make generate-icons find its binary (#799)
  .mise.toml
  package.json
Due: none

fix(commons): stop re-imports from duplicating expose forwards
  crates/kftray-commons/src/utils/config.rs
Due: kftray-commons

docs: point the kftui download badges at the published binaries (#802)
  docs/kftui/INSTALL.md
Due: none

fix(commons): keep http logs on when a forward is edited
  crates/kftray-commons/src/utils/http_logs_config.rs
Due: kftray-commons

fix(commons): match expose imports on trimmed alias and zero port
  crates/kftray-commons/src/utils/config.rs
Due: kftray-commons

fix(commons): keep http logs on when a forward is edited (#805)
  crates/kftray-commons/src/utils/http_logs_config.rs
Due: kftray-commons

fix(commons): stop re-imports from duplicating expose forwards (#804)
  crates/kftray-commons/src/utils/config.rs
Due: kftray-commons

fix(tauri): keep https forwards running when a config save changes no domain
  crates/kftray-tauri/src/commands/config.rs
Due: kftray-tauri

fix(tauri): close open mcp connections when the server stops
  crates/kftray-mcp/src/server.rs
  crates/kftray-tauri/src/mcp.rs
Due: kftray-tauri

fix(tauri): keep https forwards running when a config save changes no domain (#808)
  crates/kftray-tauri/src/commands/config.rs
Due: kftray-tauri

test(tauri): fail the mcp stop test when the connection stays open
  crates/kftray-tauri/src/mcp.rs
Due: kftray-tauri

fix(tauri): close open mcp connections when the server stops (#809)
  crates/kftray-mcp/src/server.rs
  crates/kftray-tauri/src/mcp.rs
Due: kftray-tauri

chore: screenshots for #812
  consent-existing-user.png
  consent-new-user.png
Due: none

fix(frontend): ask for consent only after both settings load
  frontend/src/components/Main/index.tsx
Due: none

feat: opt-in performance data for kftray and kftui
  Cargo.lock
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/commands/telemetry.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-telemetry/Cargo.toml
  crates/kftray-telemetry/src/lib.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/draw.rs
  crates/kftui/src/tui/ui/popup.rs
  docs/kftray/USAGE.md
  docs/kftui/USAGE.md
  frontend/src/components/Main/index.tsx
  frontend/src/components/SettingsModal/index.tsx
  frontend/src/components/SettingsModal/sections/PerformanceSettings.tsx
  frontend/src/components/SettingsModal/types.ts
  frontend/src/components/SettingsModal/useSettingsSave.ts
  frontend/src/components/TelemetryConsentModal/index.tsx
  frontend/src/lib/telemetry.ts
Due: kftray-commons, kftray-tauri, kftui

feat: shorter diagnostics consent copy
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/ui/popup.rs
  frontend/src/components/SettingsModal/sections/PerformanceSettings.tsx
  frontend/src/components/SettingsModal/sections/TelemetrySettings.tsx
  frontend/src/components/TelemetryConsentModal/index.tsx
Due: kftui

feat: opt-in performance data for kftray and kftui (#812)
  Cargo.lock
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/commands/telemetry.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-telemetry/Cargo.toml
  crates/kftray-telemetry/src/lib.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/draw.rs
  crates/kftui/src/tui/ui/popup.rs
  docs/kftray/USAGE.md
  docs/kftui/USAGE.md
  frontend/src/components/Main/index.tsx
  frontend/src/components/SettingsModal/index.tsx
  frontend/src/components/SettingsModal/sections/PerformanceSettings.tsx
  frontend/src/components/SettingsModal/types.ts
  frontend/src/components/SettingsModal/useSettingsSave.ts
  frontend/src/components/TelemetryConsentModal/index.tsx
  frontend/src/lib/telemetry.ts
Due: kftray-commons, kftray-tauri, kftui

test(e2e): cover add config, settings persistence and import/export flows
  crates/kftray-e2e/src/app/desktop.rs
  crates/kftray-e2e/src/app/js/mock.js
  crates/kftray-e2e/src/probe.rs
  crates/kftray-e2e/src/ui/add_config.rs
  crates/kftray-e2e/src/ui/main_page.rs
  crates/kftray-e2e/src/ui/mod.rs
  crates/kftray-e2e/src/ui/settings.rs
  crates/kftray-e2e/src/ui/test_id.rs
  crates/kftray-e2e/tests/gui/add_config.rs
  crates/kftray-e2e/tests/gui/import_export.rs
  crates/kftray-e2e/tests/gui/main.rs
  crates/kftray-e2e/tests/gui/settings.rs
  crates/kftray-tauri/tauri.e2e.conf.json
  frontend/src/components/AddConfigModal/CommonFields.tsx
  frontend/src/components/AddConfigModal/Field.tsx
  frontend/src/components/AddConfigModal/KubeTargetFields.tsx
  frontend/src/components/AddConfigModal/index.tsx
  frontend/src/components/Footer/FooterMenu.tsx
  frontend/src/components/SettingsModal/index.tsx
Due: kftray-tauri

fix(e2e): point the kubeconfig at 127.0.0.1 and report why the k3s API is unreachable
  crates/kftray-e2e/src/harness/cluster.rs
Due: none

perf(e2e): build the app without the kftray-helper sidecar
  crates/kftray-e2e/src/harness/build.rs
  crates/kftray-tauri/tauri.e2e.conf.json
Due: kftray-tauri

feat(e2e): measure code coverage of the e2e suite and upload it to Codecov
  .github/workflows/e2e.yml
  .mise.toml
  crates/kftray-e2e/Dockerfile
  crates/kftray-e2e/src/harness/build.rs
  crates/kftray-e2e/src/harness/coverage.rs
  crates/kftray-e2e/src/harness/mod.rs
  crates/kftray-e2e/src/harness/nextest.rs
  crates/kftray-e2e/src/main.rs
Due: none

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
