Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%

  individual_components:
    - component_id: kftray-commons
      name: kftray-commons
      paths:
        - "crates/kftray-commons/**"

    - component_id: kftray-http-logs
      name: kftray-http-logs
      paths:
        - "crates/kftray-http-logs/**"

    - component_id: kftray-portforward
      name: kftray-portforward
      paths:
        - "crates/kftray-portforward/**"

    - component_id: kftray-server
      name: kftray-server
      paths:
        - "crates/kftray-server/**"

    - component_id: kftray-tauri
      name: kftray-tauri
      paths:
        - "crates/kftray-tauri/**"

    - component_id: kftui
      name: kftui
      paths:
        - "crates/kftui/**"

fix(port-forward): stop cpu spikes after stopping port forwards
  crates/kftray-portforward/src/kube/http_log_watcher.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/pod_watcher.rs
  crates/kftray-portforward/src/port_forward.rs
  frontend/src/components/HttpLogsConfigModal/index.tsx
Due: kftray-portforward

chore: bump version
  Cargo.lock
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: show active target pod in kftray and kftui
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/main.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/table.rs
  frontend/src/components/PortForwardTable/ContextsAccordion/PortForwardRow/index.tsx
Due: kftray-portforward, kftray-tauri, kftui

docs: update readme features
  README.md
Due: none

ci: use active maintained action to create release
  .github/workflows/release.yml
Due: none

ci: improve cache to avoid conflict errors in the release pipeline
  .github/workflows/release.yml
Due: none

fix: graceful error handling when http logs is enbaled
  crates/kftray-http-logs/src/logger.rs
Due: kftray-http-logs

fix: return ready pod is stopping port forward when have pod rollouts
  Cargo.lock
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/pod_watcher.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: add pod healthy status indicator in frontend
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftui/Cargo.toml
  frontend/src/components/HeaderMenu/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/PortForwardRow/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
  frontend/src/types/index.ts
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: add pod healthy status indicator in frontend
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  frontend/src/components/HeaderMenu/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
  frontend/src/types/index.ts
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix: cargo publish
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  hacks/kftray-utils/src/bump_version.rs
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix: bump version script
  hacks/kftray-utils/src/bump_version.rs
Due: none

fix: update ci install deps steps
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
Due: none

fix: update ci install deps steps
  .github/workflows/release.yml
  README.md
Due: none

fix: update ci install deps steps
  .github/workflows/release.yml
Due: none

fix: unsafe set var
  crates/kftray-tauri/src/main.rs
Due: kftray-tauri

fix: unsafe set var
  .github/workflows/release.yml
Due: none

fix: unsafe set var
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: unsafe set var
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
Due: none

fix: unsafe set var
  .github/workflows/ci.yml
Due: none
