Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

refactor(shortcuts): drop unused app handle parameters from shortcut commands
  crates/kftray-tauri/src/commands/shortcuts.rs
Due: kftray-tauri

fix(server-resources): block overlapping deletes and report contexts that failed to load
  frontend/src/components/ServerResourcesModal/ResourceList.tsx
  frontend/src/components/ServerResourcesModal/ResourceRow.tsx
  frontend/src/components/ServerResourcesModal/index.tsx
Due: none

fix(port-forwarding): release timed-out reservations when the state already matches
  frontend/src/components/Main/configCache.test.ts
  frontend/src/components/Main/reservationRegistry.test.ts
  frontend/src/components/Main/usePendingActions.ts
Due: none

build(frontend): empty the output directory on every build
  .gitignore
  crates/kftray-tauri/build.rs
  frontend/dist/.gitkeep
  frontend/vite.config.ts
Due: kftray-tauri

fix(settings): save only the fields that changed and treat unknown update checks as failures
  frontend/src/components/HttpLogsConfigModal/index.tsx
  frontend/src/components/LogViewer/index.ts
  frontend/src/components/LogViewer/queries.ts
  frontend/src/components/SettingsModal/SettingCard.tsx
  frontend/src/components/SettingsModal/queries.ts
  frontend/src/components/SettingsModal/sections/LogSettings.tsx
  frontend/src/components/SettingsModal/sections/UpdateSettings.tsx
  frontend/src/components/SettingsModal/useSettingsSave.ts
  frontend/src/lib/format.ts
Due: none

build: add the frontend check script and run the tauri task through pnpm
  .mise.toml
  frontend/package.json
Due: none

fix(server-resources): disable every row delete while a delete is running
  frontend/src/components/ServerResourcesModal/index.tsx
Due: none

ci: harden workflows against zizmor findings (#700)
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/fuzz.yml
  .github/workflows/obs-publishing.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/stale.yml
  .mise.toml
  frontend/vite.config.ts
  hacks/publish-crate.sh
Due: none

fix(frontend): render overlays at the document root with one dialog layout (#702)
  frontend/src/components/AddConfigModal/ExposeFields.tsx
  frontend/src/components/AddConfigModal/index.tsx
  frontend/src/components/AutoImportModal/index.tsx
  frontend/src/components/Footer/BulkDeleteButton/index.tsx
  frontend/src/components/Footer/SyncConfigsButton/index.tsx
  frontend/src/components/Footer/index.tsx
  frontend/src/components/GitSyncModal/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/HeaderMenu/ViewControls.tsx
  frontend/src/components/HeaderMenu/index.tsx
  frontend/src/components/HttpLogsConfigModal/index.tsx
  frontend/src/components/LogViewer/LogFileSelector.tsx
  frontend/src/components/LogViewer/LogRow.tsx
  frontend/src/components/PortForwardTable/GroupAccordion/PortForwardRow/index.tsx
  frontend/src/components/ServerResourcesModal/CleanupDialog.tsx
  frontend/src/components/ServerResourcesModal/ResourceRow.tsx
  frontend/src/components/ServerResourcesModal/index.tsx
  frontend/src/components/SettingsModal/WindowSettings.tsx
  frontend/src/components/SettingsModal/index.tsx
  frontend/src/components/ShortcutCapture/index.tsx
  frontend/src/components/ShortcutModal/ShortcutFormModal.tsx
  frontend/src/components/ShortcutModal/index.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/menu.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/pages/LogViewerPage.tsx
Due: none

fix(tauri): initialize the database before startup and scope git credentials per config directory (#701)
  crates/kftray-tauri/src/commands/github.rs
  crates/kftray-tauri/src/main.rs
Due: kftray-tauri

fix(log-viewer): keep rows mounted while their heights are measured
  frontend/src/components/LogViewer/LogRow.tsx
  frontend/src/components/LogViewer/LogViewerList.tsx
  frontend/src/components/LogViewer/types.ts
Due: none

fix(helper): resolve the elevating user under pkexec
  crates/kftray-helper/src/auth.rs
  crates/kftray-helper/src/communication.rs
Due: none

fix(commons): only report config directories that hold a database
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-commons/src/utils/config_dir.rs
  crates/kftray-commons/src/utils/validate_configs.rs
Due: kftray-commons

fix(helper): uninstall the helper even when it is not running
  crates/kftray-helper/src/client/helper_client.rs
  crates/kftray-helper/src/platforms/windows.rs
Due: none

fix(helper): stop loopback removal from deadlocking the helper
  crates/kftray-helper/src/network.rs
Due: none

feat(helper): add a kftray-helper modal with status, install and uninstall
  crates/kftray-tauri/src/commands/helper.rs
  crates/kftray-tauri/src/main.rs
  frontend/src/components/Footer/FooterMenu.tsx
  frontend/src/components/Footer/HelperResultDialog.tsx
  frontend/src/components/Footer/index.tsx
  frontend/src/components/HelperModal/HelperSections.tsx
  frontend/src/components/HelperModal/index.tsx
  frontend/src/components/HelperModal/types.ts
  frontend/src/components/HelperModal/useHelper.ts
  frontend/src/components/Main/index.tsx
  frontend/src/components/ui/dialog.tsx
Due: kftray-tauri

fix(logs): read app logs from the directory and format the logger uses
  crates/kftray-tauri/src/commands/logs.rs
  crates/kftray-tauri/src/main.rs
Due: kftray-tauri

perf(log-viewer): smooth row expand and collapse and skip unchanged reloads
  crates/kftray-tauri/src/commands/logs.rs
  frontend/src/components/LogViewer/LogFilterDropdown.tsx
  frontend/src/components/LogViewer/LogRow.tsx
  frontend/src/components/LogViewer/LogViewerList.tsx
  frontend/src/components/LogViewer/LogViewerToolbar.tsx
  frontend/src/components/LogViewer/constants.ts
  frontend/src/components/LogViewer/types.ts
  frontend/src/components/LogViewer/utils/filterLogs.ts
  frontend/src/pages/LogViewerPage.tsx
Due: kftray-tauri

feat(frontend): move HTTP log pruning into its modal and add a Log Viewer menu item
  frontend/src/components/Footer/FooterMenu.tsx
  frontend/src/components/HttpLogsConfigModal/index.tsx
Due: none

test(portforward): use AtomicUsize::try_update in the UDP forwarder test
  crates/kftray-portforward/src/kube/udp_forwarder.rs
Due: kftray-portforward

refactor(frontend): drop exports left unused by the helper modal
  frontend/src/components/HelperModal/types.ts
  frontend/src/components/ui/menu.tsx
Due: none

build(deps): bump frontend dependencies and pnpm
  .mise.toml
  frontend/package.json
  knip.json
  package.json
  pnpm-lock.yaml
Due: none

ci: bump actions, CI tools, mise tools and base images
  .github/workflows/ci.yml
  .github/workflows/fuzz.yml
  .github/workflows/obs-publishing.yml
  .github/workflows/release.yml
  .mise.toml
  crates/kftray-server/Dockerfile
  hacks/obs/Dockerfile.test
Due: kftray-server

build(deps): bump Rust dependencies
  Cargo.lock
  Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  fuzz/Cargo.lock
  hacks/kftray-utils/Cargo.lock
Due: kftray-server

fix(log-viewer): show the copied state after copying an entry
  frontend/src/components/LogViewer/LogRow.tsx
Due: none

fix(frontend): confirm before pruning every config's HTTP logs
  frontend/src/components/HttpLogsConfigModal/index.tsx
Due: none

fix(helper): only resolve the elevating user's home on Linux
  crates/kftray-helper/src/communication.rs
Due: none

fix(helper): stop logging the elevating user's uid
  crates/kftray-helper/src/auth.rs
  crates/kftray-helper/src/communication.rs
Due: none

fix(helper): set socket ownership and mode without following symlinks
  crates/kftray-helper/src/communication.rs
Due: none

fix(helper): build on Windows and on glibc before 2.32
  crates/kftray-helper/src/communication.rs
Due: none

fix(helper): bind the socket in a root-only directory and rename it in
  crates/kftray-helper/src/communication.rs
Due: none

fix(helper): hand the new socket directory over through a handle
  crates/kftray-helper/src/communication.rs
Due: none

chore: bump version
  .cargo/audit.toml
  .cargo/nextest.toml
  .mise.toml
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-mcp/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-mcp/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
