Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%

  individual_components:
    - component_id: kftray-commons
      name: kftray-commons
      paths:
        - "crates/kftray-commons/**"

    - component_id: kftray-http-logs
      name: kftray-http-logs
      paths:
        - "crates/kftray-http-logs/**"

    - component_id: kftray-portforward
      name: kftray-portforward
      paths:
        - "crates/kftray-portforward/**"

    - component_id: kftray-server
      name: kftray-server
      paths:
        - "crates/kftray-server/**"

    - component_id: kftray-tauri
      name: kftray-tauri
      paths:
        - "crates/kftray-tauri/**"

    - component_id: kftui
      name: kftui
      paths:
        - "crates/kftui/**"

fix(mcp): accept notifications with 202 and no reply
  crates/kftray-mcp/src/server.rs
Due: none

fix(kftui): make backspace in the file browsers go up one folder (#831)
  crates/kftui/src/tests/test_file_explorer.rs
  crates/kftui/src/tui/input/file_explorer.rs
Due: kftui

chore(hacks): let the kftui installer find the release tag with wget (#830)
  hacks/kftui_installer.sh
Due: none

fix(mcp): reject requests with a null id as invalid
  crates/kftray-mcp/src/server.rs
Due: none

fix(network-monitor): restart forwards once the network is back for 10s
  crates/kftray-network-monitor/src/monitor.rs
  crates/kftray-network-monitor/src/types.rs
Due: none

fix(mcp): accept notifications with 202 and no reply (#832)
  crates/kftray-mcp/src/server.rs
Due: none

fix(network-monitor): restart forwards once the network is back for 10s (#834)
  crates/kftray-network-monitor/src/monitor.rs
  crates/kftray-network-monitor/src/types.rs
Due: none

fix(shortcuts): reject pause and lock keys in the shortcut form
  crates/kftray-shortcuts/src/parser.rs
  crates/kftray-shortcuts/src/platforms/linux.rs
Due: none

fix(shortcuts): build the parser key list only for linux tests
  crates/kftray-shortcuts/src/parser.rs
Due: none

fix(shortcuts): reject pause and lock keys in the shortcut form (#837)
  crates/kftray-shortcuts/src/parser.rs
  crates/kftray-shortcuts/src/platforms/linux.rs
Due: none

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-mcp/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftray-telemetry/Cargo.toml
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat(telemetry): add manual and linked problem reports
  Cargo.lock
  crates/kftray-tauri/src/commands/telemetry.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-telemetry/Cargo.toml
  crates/kftray-telemetry/src/lib.rs
  crates/kftray-telemetry/src/problem_reports.rs
  docs/kftray/USAGE.md
  frontend/src/components/Footer/FooterMenu.tsx
  frontend/src/components/Main/configTransactions.ts
  frontend/src/components/Main/portForwardBatch.ts
  frontend/src/components/Main/usePortForwarding.ts
  frontend/src/components/ReportProblemModal/index.tsx
  frontend/src/components/SettingsModal/useSettingsSave.ts
  frontend/src/components/ShortcutModal/ShortcutFormModal.tsx
  frontend/src/components/TelemetryConsentModal/index.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/error-toast.ts
  frontend/src/components/ui/provider.tsx
  frontend/src/lib/problemReports.test.ts
  frontend/src/lib/problemReports.ts
  frontend/src/lib/tauri.ts
  frontend/src/lib/telemetry.test.ts
  frontend/src/lib/telemetry.ts
Due: kftray-tauri

fix(telemetry): store every problem report as its own issue
  crates/kftray-telemetry/src/problem_reports.rs
  docs/kftray/USAGE.md
  frontend/src/components/ReportProblemModal/index.tsx
  frontend/src/lib/problemReports.test.ts
  frontend/src/lib/problemReports.ts
  frontend/src/lib/telemetry.ts
Due: none

feat(telemetry): add manual and linked problem reports (#844)
  Cargo.lock
  crates/kftray-tauri/src/commands/telemetry.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-telemetry/Cargo.toml
  crates/kftray-telemetry/src/lib.rs
  crates/kftray-telemetry/src/problem_reports.rs
  docs/kftray/USAGE.md
  frontend/src/components/Footer/FooterMenu.tsx
  frontend/src/components/Main/configTransactions.ts
  frontend/src/components/Main/portForwardBatch.ts
  frontend/src/components/Main/usePortForwarding.ts
  frontend/src/components/ReportProblemModal/index.tsx
  frontend/src/components/SettingsModal/useSettingsSave.ts
  frontend/src/components/ShortcutModal/ShortcutFormModal.tsx
  frontend/src/components/TelemetryConsentModal/index.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/error-toast.ts
  frontend/src/components/ui/provider.tsx
  frontend/src/lib/problemReports.test.ts
  frontend/src/lib/problemReports.ts
  frontend/src/lib/tauri.ts
  frontend/src/lib/telemetry.test.ts
  frontend/src/lib/telemetry.ts
Due: kftray-tauri

docs: replace mermaid diagrams with branded figures
  .diagram-design
  README.md
  crates/kftray-server/README.md
  docs/ARCH.md
Due: kftray-server

fix(telemetry): stop reporting cancelled port-forward starts as errors
  crates/kftray-telemetry/src/lib.rs
  docs/kftray/USAGE.md
  docs/kftui/USAGE.md
Due: none

fix(commons): keep saved configs when a git sync flush import fails
  crates/kftray-commons/src/utils/github.rs
Due: kftray-commons

fix(telemetry): stop sending timings after performance data is turned off
  crates/kftray-telemetry/src/lib.rs
Due: none

fix(mcp): refuse to delete a config another app is forwarding
  crates/kftray-mcp/src/tools/config.rs
  crates/kftray-mcp/src/tools/tests.rs
Due: none

fix(portforward): free the port when proxy recovery gives up
  crates/kftray-portforward/src/kube/proxy_recovery.rs
Due: kftray-portforward

fix(portforward): retry the stop until failed recovery frees the port
  crates/kftray-portforward/src/kube/proxy_recovery.rs
Due: kftray-portforward

fix(portforward): free the port when proxy recovery gives up (#851)
  crates/kftray-portforward/src/kube/proxy_recovery.rs
Due: kftray-portforward

fix(mcp): refuse to delete a config another app is forwarding (#850)
  crates/kftray-mcp/src/tools/config.rs
  crates/kftray-mcp/src/tools/tests.rs
Due: none

fix(commons): keep saved configs when a git sync flush import fails (#848)
  crates/kftray-commons/src/utils/github.rs
Due: kftray-commons

fix(portforward): point https aliases at the forward's local address
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/start.rs
Due: kftray-portforward

fix(portforward): point https aliases at the forward's local address (#854)
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/start.rs
Due: kftray-portforward

fix(tauri): keep the mcp server running when a new port is busy
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/mcp.rs
Due: kftray-tauri

fix(tauri): keep the old mcp port when saving the new port fails
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/mcp.rs
Due: kftray-tauri

fix(telemetry): synchronize performance opt-out with capture
  crates/kftray-telemetry/src/lib.rs
  docs/kftray/USAGE.md
  docs/kftui/USAGE.md
Due: none

fix(tauri): keep the mcp server running when a new port is busy (#855)
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/mcp.rs
Due: kftray-tauri

fix(telemetry): stop sending timings after performance data is turned off (#849)
  crates/kftray-telemetry/src/lib.rs
  docs/kftray/USAGE.md
  docs/kftui/USAGE.md
Due: none

fix(updater): restart the updated AppImage on Linux
  crates/kftray-tauri/src/commands/updater.rs
  docs/kftray/INSTALL.md
Due: kftray-tauri

fix(portforward): wait up to a minute for restarting pods
  crates/kftray-portforward/src/kube/listener.rs
  docs/kftray/USAGE.md
  docs/kftui/USAGE.md
Due: kftray-portforward

docs: refactor docs
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  LICENSE
  README.md
  SECURITY.md
  crates/kftray-server/README.md
  crates/kftui/README.md
  docs/ARCH.md
  docs/kftray/BUILD.md
  docs/kftray/INSTALL.md
  docs/kftray/USAGE.md
  docs/kftui/BUILD.md
  docs/kftui/INSTALL.md
  docs/kftui/USAGE.md
  examples/README.md
  hacks/kftray-utils/src/bump_version.rs
  hacks/obs/README.md
Due: kftray-server, kftui

fix(http-logs): rotate http log files at the max size and remove old ones
  crates/kftray-http-logs/src/config.rs
  crates/kftray-http-logs/src/logger.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
  docs/kftray/USAGE.md
  docs/kftui/USAGE.md
Due: kftray-http-logs, kftray-portforward

fix(http-logs): rotate per entry and keep files rotation did not create
  crates/kftray-http-logs/src/config.rs
  crates/kftray-http-logs/src/logger.rs
Due: kftray-http-logs

fix(http-logs): rotate http log files at the max size and remove old ones (#857)
  crates/kftray-http-logs/src/config.rs
  crates/kftray-http-logs/src/logger.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
Due: kftray-http-logs, kftray-portforward

feat(app): show on the forward row when connections to the pod fail
  crates/kftray-commons/src/utils/config_state.rs
  crates/kftray-e2e/src/ui/main_page.rs
  crates/kftray-e2e/src/ui/test_id.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/models.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftui/src/tests/test_ui.rs
  crates/kftui/src/tui/ui/table.rs
  frontend/src/components/Main/forwardCommand.test.ts
  frontend/src/components/Main/forwardCommand.ts
  frontend/src/components/Main/testFixtures.ts
  frontend/src/components/PortForwardTable/GroupAccordion/PortForwardRow/index.tsx
  frontend/src/components/PortForwardTable/GroupAccordion/PortForwardRow/statusInfo.test.ts
  frontend/src/components/PortForwardTable/GroupAccordion/PortForwardRow/statusInfo.ts
  frontend/src/hooks/useConfigs.ts
  frontend/src/types/index.ts
Due: kftray-commons, kftray-portforward, kftui
