Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%

  individual_components:
    - component_id: kftray-commons
      name: kftray-commons
      paths:
        - "crates/kftray-commons/**"

    - component_id: kftray-http-logs
      name: kftray-http-logs
      paths:
        - "crates/kftray-http-logs/**"

    - component_id: kftray-portforward
      name: kftray-portforward
      paths:
        - "crates/kftray-portforward/**"

    - component_id: kftray-server
      name: kftray-server
      paths:
        - "crates/kftray-server/**"

    - component_id: kftray-tauri
      name: kftray-tauri
      paths:
        - "crates/kftray-tauri/**"

    - component_id: kftui
      name: kftui
      paths:
        - "crates/kftui/**"

fix: improve port forward reconnection after network interruptions (#445)
  crates/kftray-tauri/src/network_monitor.rs
Due: kftray-tauri

feat: make context field optional and use current active context as default (#446)
  crates/kftray-commons/src/models/config_model.rs
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-portforward/src/kube/client.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/service.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/tests/portforward_tests.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tests/test_draw.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tests/test_navigation.rs
  crates/kftui/src/tests/test_snapshots.rs
  crates/kftui/src/tests/test_ui.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/ui/table.rs
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

feat: refactor network monitor into separate crate and add settings management
  Cargo.lock
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-network-monitor/src/controller.rs
  crates/kftray-network-monitor/src/lib.rs
  crates/kftray-network-monitor/src/monitor.rs
  crates/kftray-network-monitor/src/types.rs
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/lib.rs
  crates/kftray-tauri/src/main.rs
  crates/kftui/Cargo.toml
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/popup.rs
  frontend/src/components/SettingsModal/index.tsx
Due: kftray-commons, kftray-tauri, kftui

feat: refactor network monitor into separate crate and add settings management
  frontend/src/components/SettingsModal/index.tsx
Due: none

feat: refactor network monitor into separate crate and add settings management (#447)
  Cargo.lock
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-network-monitor/src/controller.rs
  crates/kftray-network-monitor/src/lib.rs
  crates/kftray-network-monitor/src/monitor.rs
  crates/kftray-network-monitor/src/types.rs
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/lib.rs
  crates/kftray-tauri/src/main.rs
  crates/kftui/Cargo.toml
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/popup.rs
  frontend/src/components/SettingsModal/index.tsx
Due: kftray-commons, kftray-tauri, kftui

chore: bump version
  .gitignore
  .mise.toml
  Cargo.lock
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  hacks/kftray-utils/Cargo.lock
  hacks/kftray-utils/src/bump_version.rs
  package.json
Due: kftray-commons, kftray-portforward, kftray-server, kftray-tauri, kftui

chore: bump version
  crates/kftray-server/Cargo.toml
Due: kftray-server

fix: tokio dependencies kftray-server
  crates/kftray-server/Cargo.toml
Due: kftray-server

fix: network monitor already running error
  .gitignore
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftui/src/tui/input/mod.rs
Due: kftray-tauri, kftui

chore: bump version
  Cargo.lock
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-portforward, kftray-server, kftray-tauri, kftui

feat(kftui): add cli args to manage forwards configs
  Cargo.lock
  crates/kftray-commons/Cargo.toml
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/config_state.rs
  crates/kftray-commons/src/utils/db_mode.rs
  crates/kftray-commons/src/utils/github.rs
  crates/kftray-commons/src/utils/mod.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/lib.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-tauri/src/commands/github.rs
  crates/kftui/Cargo.toml
  crates/kftui/src/cli.rs
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/main.rs
  crates/kftui/src/tests/test_file_explorer.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tests/test_navigation.rs
  crates/kftui/src/tests/test_utils_config.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/file_explorer.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/input/navigation.rs
  crates/kftui/src/utils/config.rs
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

feat(kftui): add cli args to manage forwards configs
  codecov.yml
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/db_mode.rs
  crates/kftray-commons/src/utils/github.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/main.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/input/navigation.rs
Due: kftray-commons, kftui

feat(kftui): add cli args to manage forwards configs
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/db_mode.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftui/src/main.rs
Due: kftray-commons, kftui

feat(kftui): add cli args to manage forwards configs
  Cargo.lock
  crates/kftray-commons/src/utils/db_mode.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/lib.rs
  crates/kftui/Cargo.toml
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/main.rs
  crates/kftui/src/tui/input/mod.rs
Due: kftray-commons, kftray-portforward, kftui

feat(kftui): add cli args to manage forwards configs (#448)
  Cargo.lock
  codecov.yml
  crates/kftray-commons/Cargo.toml
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/config_state.rs
  crates/kftray-commons/src/utils/db_mode.rs
  crates/kftray-commons/src/utils/github.rs
  crates/kftray-commons/src/utils/mod.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/lib.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-tauri/src/commands/github.rs
  crates/kftui/Cargo.toml
  crates/kftui/src/cli.rs
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/main.rs
  crates/kftui/src/tests/test_file_explorer.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tests/test_navigation.rs
  crates/kftui/src/tests/test_utils_config.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/file_explorer.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/input/navigation.rs
  crates/kftui/src/utils/config.rs
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

feat(kftui): add inline and stdin args to read configs
  Cargo.lock
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/github.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftui/Cargo.toml
  crates/kftui/src/cli.rs
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/main.rs
  crates/kftui/src/stdin.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/input/navigation.rs
Due: kftray-commons, kftui

feat(kftui): add inline and stdin args to read configs
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/github.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/main.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/input/navigation.rs
Due: kftray-commons, kftui

feat(kftui): add inline and stdin args to read configs
  crates/kftui/src/main.rs
Due: kftui

refactor(cli): reorganize CLI logic into modular structure and improve port forward error handling
  crates/kftui/src/cli/args.rs
  crates/kftui/src/cli/config.rs
  crates/kftui/src/cli/handler.rs
  crates/kftui/src/cli/mod.rs
  crates/kftui/src/cli/runner.rs
  crates/kftui/src/main.rs
Due: kftui

feat(kftui): add inline and stdin args to read configs
  .gitignore
  crates/kftui/src/cli/runner.rs
Due: kftui

feat(kftui): add inline and stdin args to read configs (#450)
  .gitignore
  Cargo.lock
  crates/kftui/Cargo.toml
  crates/kftui/src/cli.rs
  crates/kftui/src/cli/args.rs
  crates/kftui/src/cli/config.rs
  crates/kftui/src/cli/handler.rs
  crates/kftui/src/cli/mod.rs
  crates/kftui/src/cli/runner.rs
  crates/kftui/src/main.rs
  crates/kftui/src/stdin.rs
Due: kftui

chore: bump version
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: add loading state during port forwards operations
  Cargo.lock
  crates/kftui/Cargo.toml
  crates/kftui/src/tests/test_navigation.rs
  crates/kftui/src/tests/test_snapshots.rs
  crates/kftui/src/tests/test_ui.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/input/navigation.rs
  crates/kftui/src/tui/ui/render.rs
  crates/kftui/src/tui/ui/table.rs
Due: kftui

fix: fmt
  crates/kftui/src/tests/test_navigation.rs
Due: kftui

Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

ci: add renovate rule
  .github/renovate.json
Due: none
