Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

docs: add rustsec ignore reason
  .github/CODEOWNERS
Due: none

fix: upgrade and pin alpine in kftray-server dockerfile
  crates/kftray-server/Dockerfile
Due: kftray-server

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

refactor: consolidate post-release Python tasks and migrate to uv
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  hacks/.python-version
  hacks/fix_updater_json.py
  hacks/pyproject.toml
  hacks/uv.lock
Due: none

docs: openssf best practices badge
  README.md
Due: none

docs: fix codecov badge
  README.md
Due: none

feat: sbom improvements and cosign for all artifacts
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .gitignore
  .grype.yaml
  .mise.toml
  .pinact.yaml
  .vex.openvex.json
  Cargo.lock
  README.md
  SECURITY.md
  crates/kftray-server/Cargo.toml
  crates/kftray-server/Dockerfile
  osv-scanner.toml
Due: kftray-server

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  hacks/pyproject.toml
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: sbom improvements and cosign for all artifacts
  osv-scanner.toml
Due: none

feat: sbom improvements and cosign for all artifacts
  .github/workflows/release.yml
Due: none

ci: fix and improve release workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .mise.toml
Due: none

fix: use POSIX-compatible redirection in sbom:install-tools
  .mise.toml
Due: none

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
