Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: add new shortcut manager feature
  crates/kftray-tauri/src/commands/settings.rs
Due: kftray-tauri

feat: add new shortcut manager feature
  crates/kftray-helper/src/client/installation.rs
Due: none

feat: add new shortcut manager feature
  crates/kftray-shortcuts/src/manager.rs
  crates/kftray-shortcuts/src/platforms/linux.rs
Due: none

Update crates/kftray-shortcuts/src/platforms/linux.rs
  crates/kftray-shortcuts/src/platforms/linux.rs
Due: none

feat: add new shortcut manager feature
  crates/kftray-shortcuts/src/platforms/windows.rs
Due: none

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  hacks/kftray-utils/src/bump_version.rs
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

chore: bump versios
  .github/workflows/release.yml
Due: none

feat: add build with newer glibc versions
  .github/workflows/release.yml
  docs/kftray/INSTALL.md
  hacks/kftray-utils/src/bump_version.rs
  hacks/update-homebrew.sh
Due: none

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: support arm and different linux versions in brew formula
  hacks/update-homebrew.sh
Due: none

ci: fix the release asset name pattern
  .github/workflows/release.yml
Due: none

ci: fix the release asset name pattern
  hacks/update-homebrew.sh
Due: none

ci: fix the release asset name pattern
  correct-kftray-linux.rb
  fixed-kftray-linux.rb
  hacks/update-homebrew.sh
  homebrew-formula-template.rb
Due: none

fix: fix tooltip positions and the linux shortcut permissions warning
  Cargo.lock
  Cargo.toml
  correct-kftray-linux.rb
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  fixed-kftray-linux.rb
  frontend/package.json
  frontend/src/components/Header/index.tsx
  frontend/src/components/HeaderMenu/index.tsx
  frontend/src/components/ShortcutModal/index.tsx
  homebrew-formula-template.rb
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix: fix auto updater in linux
  .github/workflows/release.yml
  crates/kftray-tauri/src/glibc_detector.rs
  crates/kftray-tauri/src/lib.rs
  crates/kftray-tauri/src/main.rs
  frontend/src/components/HeaderMenu/index.tsx
  hacks/update-homebrew.sh
  scripts/fix_updater_json.py
Due: kftray-tauri

fix: fix auto updater in linux
  crates/kftray-tauri/src/glibc_detector.rs
  crates/kftray-tauri/src/main.rs
Due: kftray-tauri

fix: fix auto updater in linux
  .github/workflows/release.yml
  scripts/fix_updater_json.py
Due: none

fix: fix auto updater in linux
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/updater.rs
  crates/kftray-tauri/src/glibc_detector.rs
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  crates/kftui/src/updater.rs
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
