Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

chore: update readme
  README.md
Due: none

fix(window): handle scale factor better
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/window.rs
Due: kftray-tauri

feat: add flatpak
  .github/workflows/release.yml
  crates/kftray-tauri/src/tray.rs
  hacks/flatpak/README_FLATPAK.md
  hacks/flatpak/TRAY_ICON_FIX.md
  hacks/flatpak/com.hcavarsan.kftray.appdata.xml
  hacks/flatpak/com.hcavarsan.kftray.yml
  hacks/flatpak/flathub-submit.sh
  hacks/flatpak/generate-sources.sh
Due: kftray-tauri

feat: add flatpak
  hacks/flatpak/com.hcavarsan.kftray.appdata.xml
  hacks/flatpak/flathub-submit.sh
Due: none

feat: add flatpak
  crates/kftray-helper/src/client/installation.rs
  crates/kftray-helper/src/client/uninstallation.rs
  crates/kftray-helper/src/communication.rs
  crates/kftray-helper/src/platforms/linux.rs
  crates/kftray-tauri/src/tray.rs
  hacks/flatpak/test-local-build.sh
Due: kftray-tauri

feat: add flatpak
  crates/kftray-helper/src/communication.rs
  crates/kftray-helper/src/network.rs
Due: none

feat: add flatpak
  crates/kftray-helper/src/communication.rs
  crates/kftray-helper/src/network.rs
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/window.rs
  crates/kftui/src/cli/handler.rs
  crates/kftui/src/stdin.rs
Due: kftray-tauri, kftui

fix: lints and deps
  .gitignore
  .mise.toml
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/window.rs
Due: kftray-tauri

fix: lints and deps
  package.json
Due: none

fix: icon as template on macos
  crates/kftray-tauri/src/tray.rs
Due: kftray-tauri

feat(kftui): add search bar to search configs in tables
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/draw.rs
  crates/kftui/src/tui/ui/render.rs
Due: kftui

feat(kftui): add search bar to search configs in tables
  Cargo.lock
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tui/input/mod.rs
Due: kftui

feat(kftui): add search bar to search configs in tables
  crates/kftui/src/tui/input/mod.rs
Due: kftui

feat(kftui): add search bar to search configs in tables (#485)
  Cargo.lock
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/draw.rs
  crates/kftui/src/tui/ui/render.rs
Due: kftui

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat(kftui): add search bar to search configs in tables
  hacks/flatpak/generate-sources.sh
  hacks/flatpak/test-local-build.sh
Due: none

feat(kftui): add search bar to search configs in tables
  hacks/flatpak/test-local-build.sh
Due: none

feat(kftui): add search bar to search configs in tables
  hacks/flatpak/generate-sources.sh
Due: none

feat(kftui): add search bar to search configs in tables
  hacks/flatpak/com.hcavarsan.kftray.yml
Due: none

Update flatpak build scripts for Silverblue compatibility
  hacks/flatpak/com.hcavarsan.kftray.yml
Due: none

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
