Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%

  individual_components:
    - component_id: kftray-commons
      name: kftray-commons
      paths:
        - "crates/kftray-commons/**"

    - component_id: kftray-http-logs
      name: kftray-http-logs
      paths:
        - "crates/kftray-http-logs/**"

    - component_id: kftray-portforward
      name: kftray-portforward
      paths:
        - "crates/kftray-portforward/**"

    - component_id: kftray-server
      name: kftray-server
      paths:
        - "crates/kftray-server/**"

    - component_id: kftray-tauri
      name: kftray-tauri
      paths:
        - "crates/kftray-tauri/**"

    - component_id: kftui
      name: kftui
      paths:
        - "crates/kftui/**"

feat: add background service for network operations
  .github/workflows/release.yml
Due: none

fix: ci must use the current tag for the cloud run revision name
  .github/workflows/release.yml
  frontend/dist/.gitkeep
Due: none

fix: ci must use the current tag for the cloud run revision name
  frontend/dist/.gitkeep
Due: none

feat: add background service for network operations
  crates/kftray-tauri/build.rs
Due: kftray-tauri

feat: add background service for network operations
  .github/workflows/release.yml
  frontend/dist/.gitkeep
Due: none

feat: add background service for network operations
  .github/workflows/release.yml
  Cargo.lock
  crates/kftray-helper/Cargo.toml
  crates/kftray-helper/helper-entitlements.plist
  crates/kftray-helper/src/client/helper_client.rs
  crates/kftray-helper/src/client/socket_comm.rs
  crates/kftray-helper/src/communication.rs
  crates/kftray-helper/src/platforms/linux.rs
  crates/kftray-helper/src/platforms/macos.rs
  crates/kftray-tauri/build.rs
Due: kftray-tauri

fix: entilements plist path
  crates/kftray-helper/macos-helper-entitlements.plist
Due: none

feat: add socket security checks
  crates/kftray-helper/src/auth.rs
  crates/kftray-helper/src/communication.rs
  crates/kftray-helper/src/lib.rs
  crates/kftray-helper/src/messages.rs
Due: none

feat: add socket security checks
  Cargo.lock
  crates/kftray-helper/Cargo.toml
  crates/kftray-helper/src/auth.rs
Due: none

feat: add socket security checks
  .github/workflows/ci.yml
  Cargo.lock
  crates/kftray-helper/Cargo.toml
  crates/kftray-helper/src/auth.rs
Due: none

feat: add socket security checks
  .github/workflows/ci.yml
Due: none

feat: add socket security checks
  Cargo.lock
  crates/kftray-helper/Cargo.toml
Due: none

feat: add socket security checks
  crates/kftray-helper/src/auth.rs
  crates/kftray-helper/src/communication.rs
  crates/kftray-helper/src/platforms/windows.rs
Due: none

feat: add socket security checks
  crates/kftray-helper/src/auth.rs
Due: none

feat: add socket security checks
  crates/kftray-helper/Cargo.toml
Due: none

feat: add socket security checks
  crates/kftray-server/src/main.rs
Due: kftray-server

feat: add automatic loopback address allocation for port forwarding
  crates/kftray-commons/src/models/config_model.rs
  crates/kftray-commons/src/utils/migration.rs
  crates/kftray-helper/src/client/helper_client.rs
  crates/kftray-helper/src/communication.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/service.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/tests/portforward_tests.rs
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/commands/helper.rs
  crates/kftray-tauri/src/main.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tests/test_draw.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tests/test_navigation.rs
  crates/kftui/src/tests/test_snapshots.rs
  crates/kftui/src/tests/test_ui.rs
  frontend/src/components/AddConfigModal/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/types/index.ts
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

feat: add automatic loopback address allocation for port forwarding
  .gitignore
  crates/kftray-portforward/src/kube/start.rs
Due: kftray-portforward

feat: add automatic loopback address allocation for port forwarding (#416)
  .gitignore
  crates/kftray-commons/src/models/config_model.rs
  crates/kftray-commons/src/utils/migration.rs
  crates/kftray-helper/src/client/helper_client.rs
  crates/kftray-helper/src/communication.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/service.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/tests/portforward_tests.rs
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/commands/helper.rs
  crates/kftray-tauri/src/main.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tests/test_draw.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tests/test_navigation.rs
  crates/kftui/src/tests/test_snapshots.rs
  crates/kftui/src/tests/test_ui.rs
  frontend/src/components/AddConfigModal/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/types/index.ts
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

feat: handle hostfile via kftray-helper
  Cargo.lock
  crates/kftray-commons/src/models/hostfile.rs
  crates/kftray-commons/src/models/mod.rs
  crates/kftray-helper/Cargo.toml
  crates/kftray-helper/src/communication.rs
  crates/kftray-helper/src/hostfile.rs
  crates/kftray-helper/src/lib.rs
  crates/kftray-helper/src/messages.rs
  crates/kftray-helper/src/platforms/common.rs
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/hostfile_helper.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/lib.rs
  crates/kftray-portforward/src/network_utils.rs
  crates/kftray-portforward/src/port_forward.rs
Due: kftray-commons, kftray-portforward

feat: handle hostfile via kftray-helper
  crates/kftray-portforward/src/kube/start.rs
Due: kftray-portforward

feat: handle hostfile via kftray-helper
  crates/kftray-portforward/src/hostsfile.rs
Due: kftray-portforward

feat: handle hostfile via kftray-helper (#417)
  Cargo.lock
  crates/kftray-commons/src/models/hostfile.rs
  crates/kftray-commons/src/models/mod.rs
  crates/kftray-helper/Cargo.toml
  crates/kftray-helper/src/communication.rs
  crates/kftray-helper/src/hostfile.rs
  crates/kftray-helper/src/lib.rs
  crates/kftray-helper/src/messages.rs
  crates/kftray-helper/src/platforms/common.rs
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/hostfile_direct.rs
  crates/kftray-portforward/src/hostfile_helper.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/lib.rs
  crates/kftray-portforward/src/network_utils.rs
  crates/kftray-portforward/src/port_forward.rs
Due: kftray-commons, kftray-portforward

chore: bump version
  Cargo.lock
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  hacks/kftray-utils/src/bump_version.rs
  package.json
Due: kftray-commons, kftray-portforward, kftray-server, kftray-tauri, kftui
