Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix(release): drop -C target-cpu=native for Linux + kftui builds
  .github/workflows/release.yml
Due: none

fix(tray): theme-aware Windows tray icon and bundle metadata
  Cargo.lock
  Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/icons/128x128.png
  crates/kftray-tauri/icons/128x128@2x.png
  crates/kftray-tauri/icons/32x32.png
  crates/kftray-tauri/icons/icon.ico
  crates/kftray-tauri/icons/tray-dark.ico
  crates/kftray-tauri/icons/tray-light.ico
  crates/kftray-tauri/icons/tray.ico
  crates/kftray-tauri/src/lib.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/tray_theme.rs
  crates/kftray-tauri/tauri.conf.json
  hacks/kftray-utils/src/generate_icons.rs
Due: kftray-tauri

chore(deps): migrate keyring and refresh dependency tree
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/ssl/cert_generator.rs
  crates/kftray-portforward/src/ssl/cert_store.rs
  crates/kftray-portforward/src/ssl/composite_store.rs
  crates/kftray-portforward/src/ssl/keyring_init.rs
  crates/kftray-portforward/src/ssl/mod.rs
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/capabilities/migrated.json
  crates/kftray-tauri/src/commands/github.rs
  crates/kftray-tauri/src/main.rs
  crates/kftui/Cargo.toml
  crates/kftui/src/main.rs
  frontend/knip.json
  frontend/package.json
Due: kftray-commons, kftray-portforward, kftray-server, kftray-tauri, kftui

ci: regenerate pnpm-lock and install cargo-fuzz on nightly
  .github/workflows/fuzz.yml
  pnpm-lock.yaml
Due: none

feat(window): add tray submenu with preset window sizes
  crates/kftray-tauri/src/lib.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/tray_linux.rs
  crates/kftray-tauri/src/window.rs
  crates/kftray-tauri/src/window_size.rs
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/PortForwardRow/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
Due: kftray-tauri

fix(deps): address review feedback and switch fuzz CI to prebuilt cargo-fuzz
  .github/workflows/fuzz.yml
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-portforward/src/ssl/composite_store.rs
  crates/kftray-portforward/src/ssl/keyring_init.rs
Due: kftray-commons, kftray-portforward

fix(window): address review feedback on size preset clamp and persistence
  crates/kftray-tauri/src/window.rs
  crates/kftray-tauri/src/window_size.rs
Due: kftray-tauri

fix fmt
  crates/kftray-tauri/src/tray.rs
Due: kftray-tauri

fix(ci): coerce keyutils fallback to Arc<CredentialStore> and add musl target for fuzz
  .github/workflows/fuzz.yml
  crates/kftray-portforward/src/ssl/composite_store.rs
Due: kftray-portforward

ci(fuzz): pin --target to linux-gnu so sanitizer is not blocked by musl crt-static
  .github/workflows/fuzz.yml
Due: none

ci(fmt): apply cargo fmt to composite_store
  crates/kftray-portforward/src/ssl/composite_store.rs
Due: kftray-portforward

fix: upgrade deps
  fuzz/Cargo.lock
Due: none

ci(fuzz): pin taiki-e/install-action to SHA hash
  .github/workflows/fuzz.yml
Due: none

fix(mcp): redact session ID in termination log
  crates/kftray-mcp/src/server.rs
Due: none

fix: webview scale behavior
  crates/kftray-tauri/src/window.rs
Due: kftray-tauri

fix: webview scale behavior
  crates/kftray-tauri/src/window.rs
  crates/kftray-tauri/src/window_size.rs
Due: kftray-tauri

feat: add new preset of window sizes
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/tray_linux.rs
  crates/kftray-tauri/src/window_size.rs
Due: kftray-tauri

fix: bugs and improve logic
  crates/kftray-network-monitor/src/health.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/pod_watcher.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/stop.rs
Due: kftray-portforward

fix: cargo fmt
  crates/kftray-portforward/src/kube/proxy_recovery.rs
Due: kftray-portforward

fix: bugs and improve logic
  crates/kftray-portforward/src/kube/proxy_recovery.rs
Due: kftray-portforward

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-mcp/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
