Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%

  individual_components:
    - component_id: kftray-commons
      name: kftray-commons
      paths:
        - "crates/kftray-commons/**"

    - component_id: kftray-http-logs
      name: kftray-http-logs
      paths:
        - "crates/kftray-http-logs/**"

    - component_id: kftray-portforward
      name: kftray-portforward
      paths:
        - "crates/kftray-portforward/**"

    - component_id: kftray-server
      name: kftray-server
      paths:
        - "crates/kftray-server/**"

    - component_id: kftray-tauri
      name: kftray-tauri
      paths:
        - "crates/kftray-tauri/**"

    - component_id: kftui
      name: kftui
      paths:
        - "crates/kftui/**"

ci: add renovate rule
  .github/renovate.json
Due: none

chore: bump version
  Cargo.lock
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-portforward, kftray-server, kftray-tauri, kftui

feat(port-forward): try native kube-rs client first if proxy-url is in kubeconfig
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-portforward, kftray-server, kftray-tauri, kftui

fix(port-forward): handle TCP_NODELAY errors gracefully for disconnected clients
  Cargo.lock
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-portforward, kftray-server, kftray-tauri, kftui

docs: fix github import feature in kftui
  README.md
Due: none

refactor: add client caching and improve connection handling
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/client/builder.rs
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-portforward/src/kube/client/error.rs
  crates/kftray-portforward/src/kube/client/mod.rs
  crates/kftray-portforward/src/kube/client/proxy.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/models.rs
  crates/kftray-portforward/src/kube/pod_finder.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/target_cache.rs
  crates/kftray-portforward/src/kube/tests/portforward_tests.rs
  crates/kftray-portforward/src/lib.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-portforward/src/port_forward_error.rs
Due: kftray-portforward

fix: format
  crates/kftray-portforward/src/port_forward_error.rs
Due: kftray-portforward

fix: race condition
  crates/kftray-portforward/src/kube/target_cache.rs
Due: kftray-portforward

refactor: add client caching and improve connection handling (#464)
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/client/builder.rs
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-portforward/src/kube/client/error.rs
  crates/kftray-portforward/src/kube/client/mod.rs
  crates/kftray-portforward/src/kube/client/proxy.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/models.rs
  crates/kftray-portforward/src/kube/pod_finder.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/target_cache.rs
  crates/kftray-portforward/src/kube/tests/portforward_tests.rs
  crates/kftray-portforward/src/lib.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-portforward/src/port_forward_error.rs
Due: kftray-portforward

refac: split network monitor into smaller parts
  Cargo.lock
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-network-monitor/src/config_manager.rs
  crates/kftray-network-monitor/src/controller.rs
  crates/kftray-network-monitor/src/health.rs
  crates/kftray-network-monitor/src/lib.rs
  crates/kftray-network-monitor/src/monitor.rs
  crates/kftray-network-monitor/src/network.rs
  crates/kftray-network-monitor/src/types.rs
Due: none

refac: split network monitor into smaller parts (#465)
  Cargo.lock
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-network-monitor/src/config_manager.rs
  crates/kftray-network-monitor/src/controller.rs
  crates/kftray-network-monitor/src/health.rs
  crates/kftray-network-monitor/src/lib.rs
  crates/kftray-network-monitor/src/monitor.rs
  crates/kftray-network-monitor/src/network.rs
  crates/kftray-network-monitor/src/types.rs
Due: none

chore: bump version
  Cargo.lock
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  hacks/kftray-utils/.gitignore
  package.json
Due: kftray-commons, kftray-portforward, kftray-server, kftray-tauri, kftui

refactor: improve network reconnection stability
  crates/kftray-network-monitor/src/controller.rs
  crates/kftray-network-monitor/src/health.rs
  crates/kftray-network-monitor/src/monitor.rs
  crates/kftray-network-monitor/src/network.rs
  crates/kftray-network-monitor/src/types.rs
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-portforward/src/kube/client/mod.rs
  crates/kftray-portforward/src/kube/client/proxy.rs
  crates/kftray-tauri/src/main.rs
Due: kftray-portforward, kftray-tauri

refactor: improve port forward performance with pooled connections
  Cargo.lock
  Cargo.toml
  crates/kftray-network-monitor/src/config_manager.rs
  crates/kftray-network-monitor/src/types.rs
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/client/builder.rs
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-portforward/src/kube/connection_pool.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/models.rs
  crates/kftray-portforward/src/kube/target_cache.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
  crates/kftray-portforward/src/kube/tests/portforward_tests.rs
  crates/kftray-portforward/src/port_forward.rs
Due: kftray-portforward

fix: add some logics to handle config states better
  crates/kftray-commons/src/models/config_state_model.rs
  crates/kftray-commons/src/utils/config_state.rs
  crates/kftray-commons/src/utils/db.rs
  crates/kftray-commons/src/utils/migration.rs
  crates/kftray-network-monitor/src/config_manager.rs
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/init_check.rs
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tests/test_draw.rs
  crates/kftui/src/tests/test_snapshots.rs
  crates/kftui/src/tests/test_ui.rs
  crates/kftui/src/tui/app.rs
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

fix: lockfile
  pnpm-lock.yaml
Due: none

fix: eslint
  frontend/eslint.config.mjs
  frontend/src/components/AddConfigModal/index.tsx
  frontend/src/components/HeaderMenu/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
  frontend/src/components/ui/password-input.tsx
  frontend/src/components/ui/toaster.tsx
  frontend/src/contexts/GitSyncContext.tsx
  frontend/vite.config.ts
Due: none

refac(portforward): use reflector to check ready pods and also fix minot bugs
  Cargo.lock
  Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/client/builder.rs
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-portforward/src/kube/client/mod.rs
  crates/kftray-portforward/src/kube/connection_pool.rs
  crates/kftray-portforward/src/kube/http_log_watcher.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/models.rs
  crates/kftray-portforward/src/kube/pod_finder.rs
  crates/kftray-portforward/src/kube/pod_watcher.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/service.rs
  crates/kftray-portforward/src/kube/shared_client.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/target_cache.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
  crates/kftray-portforward/src/kube/tests/portforward_tests.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-server/src/main.rs
  crates/kftray-server/src/proxy/config.rs
  crates/kftray-server/src/proxy/tcp.rs
  crates/kftray-tauri/src/commands/httplogs.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/init_check.rs
  crates/kftray-tauri/src/main.rs
Due: kftray-portforward, kftray-server, kftray-tauri

fix(portforward): prevent stopping one forward from breaking others
  Cargo.lock
  Cargo.toml
  crates/kftray-network-monitor/src/config_manager.rs
  crates/kftray-network-monitor/src/controller.rs
  crates/kftray-network-monitor/src/health.rs
  crates/kftray-network-monitor/src/lib.rs
  crates/kftray-network-monitor/src/monitor.rs
  crates/kftray-network-monitor/src/network.rs
  crates/kftray-network-monitor/src/types.rs
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/http_log_watcher.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/service.rs
  crates/kftray-portforward/src/kube/shared_client.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
  crates/kftray-portforward/src/kube/tests/portforward_tests.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftray-portforward/src/port_forward.rs
Due: kftray-portforward
