Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%

  individual_components:
    - component_id: kftray-commons
      name: kftray-commons
      paths:
        - "crates/kftray-commons/**"

    - component_id: kftray-http-logs
      name: kftray-http-logs
      paths:
        - "crates/kftray-http-logs/**"

    - component_id: kftray-portforward
      name: kftray-portforward
      paths:
        - "crates/kftray-portforward/**"

    - component_id: kftray-server
      name: kftray-server
      paths:
        - "crates/kftray-server/**"

    - component_id: kftray-tauri
      name: kftray-tauri
      paths:
        - "crates/kftray-tauri/**"

    - component_id: kftui
      name: kftui
      paths:
        - "crates/kftui/**"

ci(e2e): run the suite nightly on macOS and Windows
  .github/workflows/e2e.yml
  crates/kftray-e2e/src/harness/cluster.rs
Due: none

fix(portforward): ignore placeholder proxy destinations
  crates/kftray-commons/src/models/config_model.rs
  crates/kftray-portforward/src/kube/proxy.rs
Due: kftray-commons, kftray-portforward

fix(e2e): tear the environment down on SIGTERM
  crates/kftray-e2e/src/main.rs
Due: none

fix(portforward): fall back to the default proxy manifests when none are on disk
  crates/kftray-commons/src/utils/manifests.rs
  crates/kftray-portforward/src/kube/proxy.rs
Due: kftray-commons, kftray-portforward

test(e2e): cover UDP, proxy forwards and resuming a forward after restart
  crates/kftray-e2e/src/app/desktop.rs
  crates/kftray-e2e/src/fixtures/forwards.rs
  crates/kftray-e2e/src/fixtures/mod.rs
  crates/kftray-e2e/src/harness/workload.rs
  crates/kftray-e2e/src/probe.rs
  crates/kftray-e2e/tests/gui/port_forward.rs
  crates/kftray-e2e/tests/tui/headless.rs
Due: none

feat(e2e): run the whole suite in Docker with mise run e2e
  .mise.toml
  crates/kftray-e2e/Dockerfile
  crates/kftray-e2e/Dockerfile.dockerignore
Due: none

ci(e2e): run the Linux e2e in the PR workflow and carry its coverage forward
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  codecov.yml
Due: none

fix(e2e): never report a previous run's junit
  .mise.toml
  crates/kftray-e2e/src/harness/nextest.rs
  crates/kftray-e2e/src/main.rs
Due: none

test(e2e): follow the consent dialog with one switch per choice
  crates/kftray-e2e/src/ui/consent.rs
  crates/kftray-e2e/src/ui/test_id.rs
  crates/kftray-e2e/tests/gui/first_run.rs
  frontend/src/components/Main/index.tsx
  frontend/src/components/TelemetryConsentModal/index.tsx
Due: none

fix(portforward): accept a service named like a placeholder as the proxy destination
  crates/kftray-portforward/src/kube/proxy.rs
Due: kftray-portforward

fix(portforward): drop only the default remote address sentinel
  crates/kftray-commons/src/models/config_model.rs
  crates/kftray-portforward/src/kube/proxy.rs
Due: kftray-commons, kftray-portforward

feat(consent): pre-check crash reports and fix switch colour
  crates/kftray-e2e/src/ui/consent.rs
  frontend/src/components/TelemetryConsentModal/index.tsx
Due: none

feat(tauri): show the main window on launch in tray mode
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/src/tray_mode.rs
Due: kftray-tauri

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-e2e/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-mcp/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftray-telemetry/Cargo.toml
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

docs(kftray): window opens on launch, crash reports pre-checked
  docs/kftray/USAGE.md
Due: none

fix(ci): publish kftray-telemetry before kftui
  .github/workflows/release.yml
Due: none

fix(tauri): stop flexi_logger panicking when stdout/stderr are broken
  crates/kftray-tauri/src/main.rs
Due: kftray-tauri

feat(telemetry): richer, still anonymous crash reports and span breakdown
  Cargo.lock
  Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-telemetry/Cargo.toml
  crates/kftray-telemetry/build.rs
  crates/kftray-telemetry/src/lib.rs
  docs/kftray/USAGE.md
  docs/kftui/USAGE.md
Due: kftray-portforward

feat(telemetry): report webview errors with the Sentry SDK and upload source maps
  .github/workflows/release.yml
  Cargo.lock
  biome.json
  crates/kftray-tauri/src/commands/telemetry.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-telemetry/Cargo.toml
  crates/kftray-telemetry/src/lib.rs
  docs/kftray/USAGE.md
  frontend/package.json
  frontend/scripts/sourcemaps.mjs
  frontend/src/components/SettingsModal/useSettingsSave.ts
  frontend/src/components/TelemetryConsentModal/index.tsx
  frontend/src/lib/telemetry.test.ts
  frontend/src/lib/telemetry.ts
  frontend/src/logs.tsx
  frontend/src/main.tsx
  frontend/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: kftray-tauri

fix(telemetry): propagate crash-report opt-out to every open webview
  crates/kftray-tauri/src/commands/telemetry.rs
  frontend/src/lib/telemetry.test.ts
  frontend/src/lib/telemetry.ts
Due: kftray-tauri

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-mcp/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftray-telemetry/Cargo.toml
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

ci: default SENTRY_ORG to kftray so source map upload works without repo vars
  .github/workflows/release.yml
Due: none

fix(ui): replace empty blocks in telemetry test with vi.fn
  frontend/src/lib/telemetry.test.ts
Due: none

fix(portforward): stop a non-ascii PATH from crashing a failed start
  crates/kftray-portforward/src/kube/client/builder.rs
Due: kftray-portforward

fix(shortcuts): keep the old key working when a shortcut edit fails
  crates/kftray-shortcuts/src/manager.rs
Due: none

fix(server): stop udp datagrams from waiting on the previous reply
  crates/kftray-server/src/proxy/udp.rs
Due: kftray-server

chore(hacks): make the windows kftui installer run and add kftui to path
  hacks/kftui_installer.ps1
  hacks/tests/test_kftui_installer_ps1.py
Due: none

chore(hacks): keep the installer test working in a path with a quote
  hacks/tests/test_kftui_installer_ps1.py
Due: none

chore(hacks): make the windows kftui installer run and add kftui to path (#825)
  hacks/kftui_installer.ps1
  hacks/tests/test_kftui_installer_ps1.py
Due: none

fix(server): stop udp datagrams from waiting on the previous reply (#824)
  crates/kftray-server/src/proxy/udp.rs
Due: kftray-server

fix(shortcuts): keep the old key working when a shortcut edit fails (#823)
  crates/kftray-shortcuts/src/manager.rs
Due: none

fix(updater): release the single-instance D-Bus name off the tokio runtime
  crates/kftray-tauri/src/commands/updater.rs
Due: kftray-tauri

fix(ci): publish kftray-telemetry before kftray-portforward
  .github/workflows/release.yml
Due: none

fix(portforward): stop a non-ascii PATH from crashing a failed start (#822)
  crates/kftray-portforward/src/kube/client/builder.rs
Due: kftray-portforward

fix(telemetry): capture operation failures on the operation's hub
  crates/kftray-telemetry/src/lib.rs
Due: none

chore(frontend): drop unused invoke import in the consent dialog
  frontend/src/components/TelemetryConsentModal/index.tsx
Due: none

chore(hacks): let the kftui installer find the release tag with wget
  hacks/kftui_installer.sh
Due: none

fix(kftui): make backspace in the file browsers go up one folder
  crates/kftui/src/tests/test_file_explorer.rs
  crates/kftui/src/tui/input/file_explorer.rs
Due: kftui
