Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

ci: fix msvc action
  .github/workflows/release.yml
Due: none

fix: prevent stop operations from hanging indefinitely
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/network_utils.rs
  crates/kftray-portforward/src/port_forward.rs
  frontend/src/components/Main/index.tsx
Due: kftray-portforward

fix: prevent stop operations from hanging indefinitely (#537)
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/network_utils.rs
  crates/kftray-portforward/src/port_forward.rs
  frontend/src/components/Main/index.tsx
Due: kftray-portforward

fix: remove link-arg=-s for Windows builds
  .github/workflows/release.yml
Due: none

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

refactor(ui): improve ServerResourcesModal UX/UI
  frontend/src/components/ServerResourcesModal/index.tsx
Due: none

refactor(ui): improve ServerResourcesModal UX/UI (#538)
  frontend/src/components/ServerResourcesModal/index.tsx
Due: none

fix: disable strip for Windows builds to avoid link.exe -s error
  .github/workflows/release.yml
Due: none

chore: bump version
  .github/workflows/release.yml
Due: none

fix: use valid values for CARGO_PROFILE_RELEASE_STRIP env var
  .github/workflows/release.yml
Due: none

fix: use separate step for CARGO_PROFILE_RELEASE_STRIP on Windows
  .github/workflows/release.yml
Due: none

fix: macos app sign and notarization
  .github/workflows/release.yml
Due: none

fix: ci and update brew formulas script
  .github/workflows/release.yml
  hacks/update_homebrew.py
Due: none

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
