Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%

  individual_components:
    - component_id: kftray-commons
      name: kftray-commons
      paths:
        - "crates/kftray-commons/**"

    - component_id: kftray-http-logs
      name: kftray-http-logs
      paths:
        - "crates/kftray-http-logs/**"

    - component_id: kftray-portforward
      name: kftray-portforward
      paths:
        - "crates/kftray-portforward/**"

    - component_id: kftray-server
      name: kftray-server
      paths:
        - "crates/kftray-server/**"

    - component_id: kftray-tauri
      name: kftray-tauri
      paths:
        - "crates/kftray-tauri/**"

    - component_id: kftui
      name: kftui
      paths:
        - "crates/kftui/**"

refactor(kftray-kube): rename port_forward_error.rs to error.rs
  crates/kftray-kube/src/error.rs
  crates/kftray-kube/src/kube/proxy/lifecycle.rs
  crates/kftray-kube/src/kube/service.rs
  crates/kftray-kube/src/kube/start/address.rs
  crates/kftray-kube/src/kube/start/forward.rs
  crates/kftray-kube/src/kube/start/mod.rs
  crates/kftray-kube/src/kube/stop/address.rs
  crates/kftray-kube/src/kube/stop/all.rs
  crates/kftray-kube/src/kube/stop/single.rs
  crates/kftray-kube/src/lib.rs
Due: none

refactor(kftray-kube): rename kube/tcp_forwarder/ to kube/tcp/
  crates/kftray-kube/src/kube/listener.rs
  crates/kftray-kube/src/kube/mod.rs
  crates/kftray-kube/src/kube/tcp/logging.rs
  crates/kftray-kube/src/kube/tcp/mod.rs
Due: none

refactor(kftray-kube): rename kube/udp_forwarder.rs to kube/udp.rs
  crates/kftray-kube/src/kube/listener.rs
  crates/kftray-kube/src/kube/mod.rs
  crates/kftray-kube/src/kube/udp.rs
Due: none

refactor(kftray-kube): rename kube/ to portforward/
  crates/kftray-kube/src/client/config.rs
  crates/kftray-kube/src/lib.rs
  crates/kftray-kube/src/port_forward.rs
  crates/kftray-kube/src/portforward/listener.rs
  crates/kftray-kube/src/portforward/mod.rs
  crates/kftray-kube/src/portforward/models.rs
  crates/kftray-kube/src/portforward/operations.rs
  crates/kftray-kube/src/portforward/proxy/lifecycle.rs
  crates/kftray-kube/src/portforward/proxy/mod.rs
  crates/kftray-kube/src/portforward/proxy/recovery.rs
  crates/kftray-kube/src/portforward/service.rs
  crates/kftray-kube/src/portforward/start/address.rs
  crates/kftray-kube/src/portforward/start/forward.rs
  crates/kftray-kube/src/portforward/start/mod.rs
  crates/kftray-kube/src/portforward/start/timeout.rs
  crates/kftray-kube/src/portforward/stop/address.rs
  crates/kftray-kube/src/portforward/stop/all.rs
  crates/kftray-kube/src/portforward/stop/cleanup.rs
  crates/kftray-kube/src/portforward/stop/mod.rs
  crates/kftray-kube/src/portforward/stop/single.rs
  crates/kftray-kube/src/portforward/tcp/logging.rs
  crates/kftray-kube/src/portforward/tcp/mod.rs
  crates/kftray-kube/src/portforward/tests/mod.rs
  crates/kftray-kube/src/portforward/tests/portforward_tests.rs
  crates/kftray-kube/src/portforward/udp.rs
Due: none

refactor(kftray-kube): merge port_forward.rs into portforward/process.rs
  crates/kftray-kube/src/lib.rs
  crates/kftray-kube/src/portforward/mod.rs
  crates/kftray-kube/src/portforward/process.rs
  crates/kftray-kube/src/portforward/stop/single.rs
  crates/kftray-kube/src/registry.rs
Due: none

refactor(kftray-kube): drop proxy_recovery alias; use canonical path
  crates/kftray-kube/src/portforward/listener.rs
  crates/kftray-kube/src/portforward/mod.rs
  crates/kftray-kube/src/portforward/stop/all.rs
  crates/kftray-kube/src/portforward/stop/single.rs
Due: none

refactor(kftray-kube): move portforward_tests to top-level integration test
  crates/kftray-kube/src/portforward/mod.rs
  crates/kftray-kube/src/portforward/tests/mod.rs
  crates/kftray-kube/src/registry.rs
  crates/kftray-kube/tests/portforward.rs
Due: none

refactor(kftray-kube): rename dataplane_runtime.rs to dataplane.rs
  crates/kftray-kube/src/dataplane.rs
  crates/kftray-kube/src/lib.rs
  crates/kftray-kube/src/portforward/listener.rs
Due: none

refactor(kftray-kube): rewrite lib.rs public surface
  crates/kftray-kube/src/lib.rs
Due: none

refactor(kftray-kube): rewrite portforward/mod.rs re-exports
  crates/kftray-kube/src/portforward/mod.rs
Due: none

chore(kftray-kube): remove unused deps; drop cargo-machete ignored list
  Cargo.lock
  crates/kftray-kube/Cargo.toml
Due: none

chore(kftray-kube): remove benign src/.gitignore
  crates/kftray-kube/src/.gitignore
Due: none

refactor(kftray-tauri): update kftray-kube import paths
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/commands/kubecontext.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/commands/server_resources.rs
  crates/kftray-tauri/src/init_check.rs
  crates/kftray-tauri/src/main.rs
Due: kftray-tauri

refactor(kftui): update kftray-kube import paths
  crates/kftui/src/cli/config.rs
  crates/kftui/src/cli/runner.rs
  crates/kftui/src/core/port_forward.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/input/navigation.rs
Due: kftui

refactor(kftray-network-monitor): use canonical proxy::recovery path
  crates/kftray-network-monitor/src/config_manager.rs
Due: none

refactor(kftray-expose): update kftray-kube import paths
  crates/kftray-expose/src/lib.rs
  crates/kftui/src/core/port_forward.rs
Due: kftui

chore: kftray-kube restructure verification evidence
  crates/kftray-kube/tests/portforward.rs
Due: none

chore(kftray-kube): post-restructure cleanup (cargo fmt + drop once_cell)
  Cargo.lock
  crates/kftray-expose/src/lib.rs
  crates/kftray-kube/Cargo.toml
  crates/kftray-kube/src/lib.rs
  crates/kftray-kube/src/portforward/listener.rs
  crates/kftray-kube/src/portforward/mod.rs
  crates/kftray-kube/src/portforward/process.rs
  crates/kftray-kube/src/portforward/proxy/lifecycle.rs
  crates/kftray-kube/src/portforward/proxy/recovery.rs
  crates/kftray-kube/src/portforward/service.rs
  crates/kftray-kube/src/portforward/start/forward.rs
  crates/kftray-kube/src/portforward/stop/all.rs
  crates/kftray-kube/src/portforward/stop/single.rs
  crates/kftray-kube/src/registry.rs
  crates/kftray-kube/tests/portforward.rs
Due: none

chore: ignore .omo/ alongside .sisyphus/
  .gitignore
Due: none

fix: bypass HTTP logging for websocket tunnels
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
Due: kftray-portforward

fix: confirm websocket tunnel after upgrade response
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
Due: kftray-portforward

fix: handle split websocket upgrade responses
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
Due: kftray-portforward

grupping from groups not context
  crates/kftray-commons/src/models/config_model.rs
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-mcp/src/tools/config.rs
  crates/kftray-mcp/src/tools/portforward.rs
  crates/kftray-portforward/src/kube/service.rs
  frontend/src/components/AddConfigModal/index.tsx
  frontend/src/components/HeaderMenu/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
  frontend/src/components/PortForwardTable/styles.css
  frontend/src/components/PortForwardTable/useConfigsByGroup.ts
  frontend/src/types/index.ts
Due: kftray-commons, kftray-portforward

add change config to group
  crates/kftray-commons/src/utils/config.rs
Due: kftray-commons

change export sort
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-tauri/src/tray.rs
  frontend/src/components/AddConfigModal/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/ContextsAccordion/PortForwardRow/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
  frontend/src/components/PortForwardTable/styles.css
Due: kftray-commons, kftray-tauri

fix macOS tray window positioning across displays
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/window.rs
Due: kftray-tauri

feat: support multiple config paths for git sync
  crates/kftray-commons/src/utils/github.rs
  crates/kftray-tauri/src/commands/github.rs
  crates/kftui/src/cli/args.rs
  crates/kftui/src/cli/config.rs
  docs/kftray/USAGE.md
  frontend/src/components/Footer/SyncConfigsButton/index.tsx
  frontend/src/components/GitSyncModal/index.tsx
  frontend/src/contexts/GitSyncContext.tsx
  frontend/src/services/gitService.ts
  frontend/src/types/index.ts
Due: kftray-commons, kftray-tauri, kftui

feat(kftui): add update check opt-out flag
  crates/kftui/src/cli/args.rs
Due: kftui

refactor(kftui): pass update-check preference to TUI
  crates/kftui/src/cli/handler.rs
Due: kftui

fix(kftui): move update check off async runtime worker
  crates/kftui/src/updater.rs
Due: kftui

fix(kftui): make startup update check non-blocking
  crates/kftui/src/tui/app.rs
Due: kftui

chore(kftui): keep updater task internal
  crates/kftui/src/tui/app.rs
Due: kftui

edit by comments
  crates/kftray-commons/src/models/config_model.rs
  crates/kftray-portforward/src/expose/kubernetes.rs
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/window.rs
  crates/kftray-tauri/src/window_size.rs
  frontend/src/components/ConfigTabs/index.tsx
  frontend/src/components/HeaderMenu/index.tsx
  frontend/src/components/Main/index.tsx
  frontend/src/components/PortForwardTable/index.tsx
  frontend/src/components/PortForwardTable/useConfigsByGroup.ts
  hacks/build-windows.ps1
Due: kftray-commons, kftray-portforward, kftray-tauri

fix: log WebSocket handshake before entering tunnel mode
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
Due: kftray-portforward

ci: update actions and align toolchains with the repo
  .github/workflows/ci.yml
  .github/workflows/fuzz.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/stale.yml
  DEVELOPMENT.md
  docs/kftray/BUILD.md
Due: none

chore(deps): upgrade Rust dependencies to their latest majors
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/src/utils/migration.rs
  crates/kftray-helper/Cargo.toml
  crates/kftray-portforward/src/kube/client/config.rs
  crates/kftray-portforward/src/kube/operations.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-server/Cargo.toml
  crates/kftray-server/src/proxy/server.rs
  crates/kftray-server/src/proxy/traits.rs
  crates/kftui/Cargo.toml
  crates/kftui/src/updater.rs
  hacks/kftray-utils/Cargo.lock
  rustfmt.toml
Due: kftray-commons, kftray-portforward, kftray-server, kftui

chore: update base image digests and Renovate config
  .github/renovate.json
  crates/kftray-server/Dockerfile
  hacks/obs/Dockerfile.test
Due: kftray-server

fix: validate and retain cancellable WebSocket tunnel state
  crates/kftray-http-logs/src/http_response_analyzer.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
Due: kftray-http-logs, kftray-portforward
