Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%

  individual_components:
    - component_id: kftray-commons
      name: kftray-commons
      paths:
        - "crates/kftray-commons/**"

    - component_id: kftray-http-logs
      name: kftray-http-logs
      paths:
        - "crates/kftray-http-logs/**"

    - component_id: kftray-portforward
      name: kftray-portforward
      paths:
        - "crates/kftray-portforward/**"

    - component_id: kftray-server
      name: kftray-server
      paths:
        - "crates/kftray-server/**"

    - component_id: kftray-tauri
      name: kftray-tauri
      paths:
        - "crates/kftray-tauri/**"

    - component_id: kftui
      name: kftui
      paths:
        - "crates/kftui/**"

fix(kube-portforward): wire SPDY subprotocol negotiation through custom WS upgrade
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-tauri/Cargo.toml
  crates/kftui/Cargo.toml
  crates/kube-portforward/src/channel/connect.rs
  crates/kube-portforward/src/channel/reader.rs
  crates/kube-portforward/src/channel/session.rs
  crates/kube-portforward/src/channel/stream.rs
  crates/kube-portforward/src/client.rs
  crates/kube-portforward/src/connect.rs
  crates/kube-portforward/src/forwarder.rs
  crates/kube-portforward/src/lib.rs
  crates/kube-portforward/src/session.rs
  crates/kube-portforward/src/spdy_tunnel/codec.rs
  crates/kube-portforward/src/spdy_tunnel/dictionary.rs
  crates/kube-portforward/src/spdy_tunnel/error.rs
  crates/kube-portforward/src/spdy_tunnel/mod.rs
  crates/kube-portforward/src/spdy_tunnel/mux.rs
  crates/kube-portforward/src/spdy_tunnel/stream.rs
  crates/kube-portforward/src/stream.rs
Due: kftray-portforward, kftray-tauri, kftui

fix(spdy-tunnel): lowercase header names + PING handshake + streaming decoder
  crates/kube-portforward/src/client.rs
  crates/kube-portforward/src/connect.rs
  crates/kube-portforward/src/spdy_tunnel/codec.rs
  crates/kube-portforward/src/spdy_tunnel/mux.rs
  crates/kube-portforward/src/spdy_tunnel/session.rs
  crates/kube-portforward/src/subprotocol.rs
Due: none

refactor(spdy-tunnel): address all 11 code review findings
  crates/kube-portforward/src/spdy_tunnel/codec.rs
  crates/kube-portforward/src/spdy_tunnel/error.rs
  crates/kube-portforward/src/spdy_tunnel/mux.rs
  crates/kube-portforward/src/spdy_tunnel/session.rs
  crates/kube-portforward/src/spdy_tunnel/stream.rs
  crates/kube-portforward/src/stream.rs
Due: none

docs(spdy-mux): README and example transports
  crates/spdy-mux/README.md
  crates/spdy-mux/examples/raw_transport.rs
  crates/spdy-mux/examples/websocket_transport.rs
Due: none

refactor(spdy-mux)!: make the multiplexer transport-agnostic
  crates/kube-portforward/src/client.rs
  crates/kube-portforward/src/session.rs
  crates/spdy-mux/README.md
  crates/spdy-mux/examples/raw_transport.rs
  crates/spdy-mux/examples/websocket_transport.rs
  crates/spdy-mux/src/mux/commands.rs
  crates/spdy-mux/src/mux/handle.rs
  crates/spdy-mux/src/mux/writer.rs
  crates/spdy-mux/src/session.rs
  crates/spdy-mux/src/stream.rs
Due: none

docs: rewrite spdy-mux and kube-portforward READMEs
  crates/kube-portforward/README.md
  crates/spdy-mux/README.md
  crates/spdy-mux/examples/raw_transport.rs
  crates/spdy-mux/examples/websocket_transport.rs
Due: none

docs: tighten READMEs and example headers
  crates/kube-portforward/README.md
  crates/spdy-mux/README.md
  crates/spdy-mux/examples/raw_transport.rs
  crates/spdy-mux/examples/websocket_transport.rs
Due: none

style(spdy-mux): wrap long fn arg lists per rustfmt
  crates/spdy-mux/examples/raw_transport.rs
  crates/spdy-mux/src/stream.rs
Due: none

refactor(kftray-portforward): isolate data plane runtime + add service-port translation
  crates/kftray-portforward/src/dataplane_runtime.rs
  crates/kftray-portforward/src/kube/client/connection.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
  crates/kftray-portforward/src/lib.rs
Due: kftray-portforward

refactor(kube-portforward): name SPDY header tuple types to silence clippy::type_complexity
  crates/kube-portforward/src/session.rs
Due: none

feat(kftui): add stdout logger initializer with RUST_LOG support
  crates/kftui/src/logging.rs
  crates/kftui/src/logging/initializer.rs
  crates/kftui/src/main.rs
Due: kftui

chore(kftray-portforward): remove unused async-trait, flate2, openssl-sys, uuid deps
  Cargo.lock
  crates/kftray-portforward/Cargo.toml
Due: kftray-portforward

refactor(kftray-portforward): replace wildcard re-exports with explicit list
  crates/kftray-portforward/src/lib.rs
Due: kftray-portforward

chore(kftray-portforward): remove dead http-proxy and socks5 feature flags
  crates/kftray-portforward/Cargo.toml
Due: kftray-portforward

refactor: extract kftray-ssl crate
  Cargo.lock
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/lib.rs
  crates/kftray-portforward/src/ssl/mod.rs
  crates/kftray-ssl/Cargo.toml
  crates/kftray-ssl/src/cert_generator.rs
  crates/kftray-ssl/src/cert_manager.rs
  crates/kftray-ssl/src/cert_store.rs
  crates/kftray-ssl/src/composite_store.rs
  crates/kftray-ssl/src/keyring_init.rs
  crates/kftray-ssl/src/lib.rs
  crates/kftray-ssl/src/platform/linux.rs
  crates/kftray-ssl/src/platform/macos.rs
  crates/kftray-ssl/src/platform/mod.rs
  crates/kftray-ssl/src/platform/windows.rs
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/commands/ssl.rs
  crates/kftray-tauri/src/main.rs
  crates/kftui/Cargo.toml
  crates/kftui/src/cli/runner.rs
  crates/kftui/src/main.rs
  crates/kftui/src/tui/input/mod.rs
Due: kftray-portforward, kftray-tauri, kftui

refactor(kftray-portforward): drop Logger alias, import HttpLogger directly
  crates/kftray-portforward/src/kube/tcp_forwarder.rs
  crates/kftray-portforward/src/lib.rs
Due: kftray-portforward

chore: scaffold kftray-ssl crate (empty)
  Cargo.lock
  Cargo.toml
  crates/kftray-ssl/Cargo.toml
  crates/kftray-ssl/src/lib.rs
Due: none

refactor: extract kftray-hosts crate
  Cargo.lock
  crates/kftray-hosts/Cargo.toml
  crates/kftray-hosts/src/hostfile_direct.rs
  crates/kftray-hosts/src/hostfile_helper.rs
  crates/kftray-hosts/src/hostsfile.rs
  crates/kftray-hosts/src/lib.rs
  crates/kftray-hosts/src/loopback.rs
  crates/kftray-portforward/Cargo.toml
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/lib.rs
  crates/kftray-portforward/src/port_forward.rs
Due: kftray-portforward

refactor: extract kftray-expose crate
  Cargo.lock
  Cargo.toml
  crates/kftray-expose/Cargo.toml
  crates/kftray-expose/src/error.rs
  crates/kftray-expose/src/kubernetes.rs
  crates/kftray-expose/src/lib.rs
  crates/kftray-expose/src/models.rs
  crates/kftray-expose/src/templates.rs
  crates/kftray-expose/src/websocket.rs
  crates/kftray-mcp/Cargo.toml
  crates/kftray-mcp/src/tools/portforward.rs
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-network-monitor/src/config_manager.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/lib.rs
  crates/kftray-portforward/src/port_forward_error.rs
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/commands/server_resources.rs
  crates/kftray-tauri/src/init_check.rs
  crates/kftui/Cargo.toml
  crates/kftui/src/cli/runner.rs
  crates/kftui/src/core/port_forward.rs
Due: kftray-portforward, kftray-tauri, kftui

chore: scaffold kftray-hosts crate (empty)
  Cargo.lock
  Cargo.toml
  crates/kftray-hosts/Cargo.toml
  crates/kftray-hosts/src/lib.rs
Due: none
