Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix(kftray-portforward): UDP forwarder reconnects upstream on error
  crates/kftray-portforward/src/kube/udp_forwarder.rs
Due: kftray-portforward

fix: fmt and tests
  Cargo.lock
  crates/kftray-network-monitor/src/config_manager.rs
  crates/kftray-server/src/proxy/reverse_http.rs
  crates/kftray-server/src/proxy/tcp.rs
  crates/kftray-server/src/proxy/udp.rs
  crates/kftray-server/src/proxy/websocket_server.rs
  crates/kftray-tauri/src/commands/github.rs
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: kftray-server, kftray-tauri

fix: fmt and tests
  crates/kftray-network-monitor/src/config_manager.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftray-server/src/proxy/reverse.rs
  crates/kftray-server/src/proxy/reverse_http.rs
  crates/kftray-server/src/proxy/tcp.rs
  crates/kftray-server/src/proxy/udp.rs
  crates/kftray-server/src/proxy/websocket_server.rs
  crates/kftray-tauri/src/commands/github.rs
Due: kftray-portforward, kftray-server, kftray-tauri

fix: fmt and tests
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftray-server/src/proxy/reverse.rs
  crates/kftray-server/src/proxy/reverse_http.rs
  crates/kftray-server/src/proxy/tcp.rs
  crates/kftray-server/src/proxy/udp.rs
  crates/kftray-server/src/proxy/websocket_server.rs
Due: kftray-portforward, kftray-server

feat: port forward reliability improvements (#582)
  Cargo.lock
  crates/kftray-network-monitor/src/config_manager.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/udp_forwarder.rs
  crates/kftray-server/Cargo.toml
  crates/kftray-server/src/proxy/reverse.rs
  crates/kftray-server/src/proxy/reverse_http.rs
  crates/kftray-server/src/proxy/tcp.rs
  crates/kftray-server/src/proxy/udp.rs
  crates/kftray-server/src/proxy/websocket_server.rs
  crates/kftray-tauri/src/commands/github.rs
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: kftray-portforward, kftray-server, kftray-tauri

deps: update lockfiles
  Cargo.lock
  pnpm-lock.yaml
Due: none

fix(portforward): kftray-server resources are not cleanup in global timeout stop flow
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/stop.rs
Due: kftray-portforward

fix(portforward): kftray-server resources are not cleanup in global timeout stop flow (#585)
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/stop.rs
Due: kftray-portforward

deps: bump deps and update lockfiles
  fuzz/Cargo.lock
  fuzz/Cargo.toml
Due: none

deps: bump deps and update lockfiles
  frontend/package.json
  pnpm-lock.yaml
Due: none

deps: bump deps and update lockfiles
  frontend/eslint.config.mjs
  frontend/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat(portforward): add proxy/UDP pod death recovery with auto-retry
  crates/kftray-commons/src/models/config_state_model.rs
  crates/kftray-commons/src/utils/config_state.rs
  crates/kftray-commons/src/utils/migration.rs
  crates/kftray-network-monitor/src/config_manager.rs
  crates/kftray-network-monitor/src/health.rs
  crates/kftray-portforward/src/expose/mod.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/init_check.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tests/test_draw.rs
  crates/kftui/src/tests/test_snapshots.rs
  crates/kftui/src/tests/test_ui.rs
  crates/kftui/src/tui/app.rs
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

fix(portforward): add proactive pod health monitoring to trigger TCP proxy recovery
  crates/kftray-commons/src/utils/config_state.rs
  crates/kftray-commons/src/utils/migration.rs
  crates/kftray-network-monitor/src/config_manager.rs
  crates/kftray-network-monitor/src/health.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/stop.rs
Due: kftray-commons, kftray-portforward

Revert "fix(portforward): add proactive pod health monitoring to trigger TCP proxy recovery"
  crates/kftray-commons/src/utils/config_state.rs
  crates/kftray-commons/src/utils/migration.rs
  crates/kftray-network-monitor/src/config_manager.rs
  crates/kftray-network-monitor/src/health.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/stop.rs
Due: kftray-commons, kftray-portforward

fix(portforward): reactive pod death detection triggers proxy recovery
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/pod_watcher.rs
Due: kftray-portforward

chore: add .sisyphus/ to .gitignore
  .gitignore
Due: none

deps: bump deps and update lockfiles
  crates/kftray-commons/src/utils/config_state.rs
  crates/kftray-commons/src/utils/migration.rs
  crates/kftray-network-monitor/src/config_manager.rs
  crates/kftray-network-monitor/src/health.rs
  crates/kftray-portforward/src/kube/listener.rs
  crates/kftray-portforward/src/kube/mod.rs
  crates/kftray-portforward/src/kube/proxy_recovery.rs
  crates/kftray-portforward/src/kube/stop.rs
Due: kftray-commons, kftray-portforward

feat: add kftray mcp server
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/src/models/settings_model.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-mcp/Cargo.toml
  crates/kftray-mcp/src/lib.rs
  crates/kftray-mcp/src/main.rs
  crates/kftray-mcp/src/protocol.rs
  crates/kftray-mcp/src/server.rs
  crates/kftray-mcp/src/tools/config.rs
  crates/kftray-mcp/src/tools/kubernetes.rs
  crates/kftray-mcp/src/tools/mod.rs
  crates/kftray-mcp/src/tools/portforward.rs
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/lib.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/src/mcp.rs
  frontend/src/components/SettingsModal/index.tsx
Due: kftray-commons, kftray-tauri

chore: separating settings to avoid lint error
  frontend/src/components/SettingsModal/McpServerSettings.tsx
  frontend/src/components/SettingsModal/index.tsx
Due: none

fix: format
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-mcp/src/main.rs
  crates/kftray-mcp/src/protocol.rs
  crates/kftray-mcp/src/server.rs
  crates/kftray-mcp/src/tools/config.rs
  crates/kftray-mcp/src/tools/kubernetes.rs
  crates/kftray-mcp/src/tools/mod.rs
  crates/kftray-mcp/src/tools/portforward.rs
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/mcp.rs
Due: kftray-commons, kftray-tauri

fix: coderabbit review
  crates/kftray-mcp/src/protocol.rs
Due: none

fix: coderabbit review
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-mcp/src/tools/config.rs
  crates/kftray-mcp/src/tools/portforward.rs
  crates/kftray-tauri/src/commands/config.rs
Due: kftray-commons, kftray-tauri

fix: format
  crates/kftray-mcp/src/protocol.rs
Due: none

chore: increase test coverage
  crates/kftray-mcp/src/protocol.rs
  crates/kftray-mcp/src/tools/config.rs
  crates/kftray-mcp/src/tools/mod.rs
  crates/kftray-mcp/src/tools/portforward.rs
  crates/kftray-mcp/src/tools/tests.rs
Due: none

fix: format
  crates/kftray-mcp/src/protocol.rs
  crates/kftray-mcp/src/tools/tests.rs
Due: none

fix: coderabbit review
  crates/kftray-mcp/src/protocol.rs
  crates/kftray-mcp/src/tools/tests.rs
Due: none

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
