Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

chore: bump version
  Cargo.lock
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  hacks/kftray-utils/src/bump_version.rs
  package.json
Due: kftray-commons, kftray-portforward, kftray-server, kftray-tauri, kftui

Potential fix for code scanning alert no. 10: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

ci: set permissions and pin all actions versions to commit sha
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: set permissions and pin all actions versions to commit sha (#419)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: ci lints and another minor things
  .gitignore
  .mise.toml
  crates/kftray-http-logs/src/parser.rs
  crates/kftray-portforward/src/hostfile_helper.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-tauri/src/commands/helper.rs
  frontend/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: kftray-http-logs, kftray-portforward, kftray-tauri

fix: ci lints and another minor things
  pnpm-lock.yaml
Due: none

fix: ci lints and another minor things
  rust-toolchain.toml
Due: none

fix: ci lints and another minor things
  .github/workflows/ci.yml
Due: none

fix: ci lints and another minor things
  .github/workflows/release.yml
  rust-toolchain.toml
Due: none

fix: ci lints and another minor things
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-http-logs/src/parser.rs
  crates/kftray-tauri/src/commands/github.rs
  crates/kftui/src/tests/test_draw.rs
  crates/kftui/src/tui/ui/popup.rs
  package.json
  pnpm-lock.yaml
Due: kftray-commons, kftray-http-logs, kftray-tauri, kftui

fix: ci lints and another minor things
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: ci lints and another minor things (#436)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .mise.toml
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-http-logs/src/parser.rs
  crates/kftray-portforward/src/hostfile_helper.rs
  crates/kftray-portforward/src/hostsfile.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/port_forward.rs
  crates/kftray-tauri/src/commands/github.rs
  crates/kftray-tauri/src/commands/helper.rs
  crates/kftui/src/tests/test_draw.rs
  crates/kftui/src/tui/ui/popup.rs
  frontend/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  rust-toolchain.toml
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-tauri, kftui

fix: deps
  crates/kftray-helper/Cargo.toml
Due: none

feat: organize workspace deps
  .mise.toml
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftui/Cargo.toml
  crates/kftui/src/tui/input/file_explorer.rs
  hacks/kftray-utils/Cargo.lock
  hacks/kftray-utils/Cargo.toml
  pnpm-lock.yaml
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: remove unused deps
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftui/Cargo.toml
  hacks/kftray-utils/Cargo.lock
  hacks/kftray-utils/Cargo.toml
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-tauri, kftui

feat: format toml with tombi
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftui/Cargo.toml
  hacks/kftray-utils/Cargo.toml
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: format toml with tombi
  Cargo.toml
  cliff.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  hacks/kftray-utils/Cargo.toml
  rust-toolchain.toml
  rustfmt.toml
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-tauri

feat: format toml with tombi
  rust-toolchain.toml
Due: none

feat: remove unused deps and organize cargo workspace deps (#442)
  .mise.toml
  Cargo.lock
  Cargo.toml
  cliff.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftui/Cargo.toml
  crates/kftui/src/tui/input/file_explorer.rs
  hacks/kftray-utils/Cargo.lock
  hacks/kftray-utils/Cargo.toml
  pnpm-lock.yaml
  rust-toolchain.toml
  rustfmt.toml
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: add config validation and improve kftui logs navigation
  .mise.toml
  Cargo.lock
  Cargo.toml
  cliff.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/commands/github.rs
  crates/kftui/Cargo.toml
  crates/kftui/src/tests/test_draw.rs
  crates/kftui/src/tests/test_popup_functions.rs
  crates/kftui/src/tui/input/file_explorer.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/draw.rs
  crates/kftui/src/tui/ui/popup.rs
  hacks/kftray-utils/Cargo.lock
  hacks/kftray-utils/Cargo.toml
  pnpm-lock.yaml
  rust-toolchain.toml
  rustfmt.toml
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

feat: add config validation and improve kftui logs navigation (#443)
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/commands/github.rs
  crates/kftui/src/tests/test_draw.rs
  crates/kftui/src/tests/test_popup_functions.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/draw.rs
  crates/kftui/src/tui/ui/popup.rs
Due: kftray-commons, kftray-tauri, kftui

feat: add settings management and port forward timeout
  .gitignore
  crates/kftray-commons/src/utils/db.rs
  crates/kftray-commons/src/utils/mod.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-commons/src/utils/timeout_manager.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-tauri/src/commands/mod.rs
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/main.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/draw.rs
  crates/kftui/src/tui/ui/popup.rs
  crates/kftui/src/tui/ui/render.rs
  frontend/eslint.config.mjs
  frontend/src/components/Header/index.tsx
  frontend/src/components/SettingsModal/index.tsx
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

Update timeout_manager.rs
  crates/kftray-commons/src/utils/timeout_manager.rs
Due: kftray-commons

fix: format
  crates/kftray-commons/src/utils/timeout_manager.rs
Due: kftray-commons

fix: tests
  crates/kftray-commons/src/utils/timeout_manager.rs
Due: kftray-commons

feat: implement settings management and port forward timeout (#444)
  .gitignore
  crates/kftray-commons/src/utils/db.rs
  crates/kftray-commons/src/utils/mod.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-commons/src/utils/timeout_manager.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-tauri/src/commands/mod.rs
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/main.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tui/input/mod.rs
  crates/kftui/src/tui/ui/draw.rs
  crates/kftui/src/tui/ui/popup.rs
  crates/kftui/src/tui/ui/render.rs
  frontend/eslint.config.mjs
  frontend/src/components/Header/index.tsx
  frontend/src/components/SettingsModal/index.tsx
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

fix: improve port forward reconnection after network interruptions
  crates/kftray-tauri/src/network_monitor.rs
Due: kftray-tauri

Update crates/kftray-tauri/src/network_monitor.rs
  crates/kftray-tauri/src/network_monitor.rs
Due: kftray-tauri

fix: make context field optional and use current active context as default
  crates/kftray-commons/src/models/config_model.rs
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-portforward/src/kube/client.rs
  crates/kftray-portforward/src/kube/proxy.rs
  crates/kftray-portforward/src/kube/service.rs
  crates/kftray-portforward/src/kube/start.rs
  crates/kftray-portforward/src/kube/stop.rs
  crates/kftray-portforward/src/kube/tests/portforward_tests.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftui/src/tests/test_app.rs
  crates/kftui/src/tests/test_draw.rs
  crates/kftui/src/tests/test_input.rs
  crates/kftui/src/tests/test_navigation.rs
  crates/kftui/src/tests/test_snapshots.rs
  crates/kftui/src/tests/test_ui.rs
  crates/kftui/src/tui/app.rs
  crates/kftui/src/tui/ui/table.rs
Due: kftray-commons, kftray-portforward, kftray-tauri, kftui

feat: recommendations for safer health tasks
  crates/kftray-tauri/src/network_monitor.rs
Due: kftray-tauri

fix: improve port forward reconnection after network interruptions
  crates/kftui/src/tui/ui/table.rs
Due: kftui

Path conditions:
  kftray-commons: any of: crates/kftray-commons/**
  kftray-http-logs: any of: crates/kftray-http-logs/**
  kftray-portforward: any of: crates/kftray-portforward/**
  kftray-server: any of: crates/kftray-server/**
  kftray-tauri: any of: crates/kftray-tauri/**
  kftui: any of: crates/kftui/**
