Repository hcavarsan/kftray: changes, and which Codecov flags are due for each by the changed paths.
All: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%

  individual_components:
    - component_id: kftray-commons
      name: kftray-commons
      paths:
        - "crates/kftray-commons/**"

    - component_id: kftray-http-logs
      name: kftray-http-logs
      paths:
        - "crates/kftray-http-logs/**"

    - component_id: kftray-portforward
      name: kftray-portforward
      paths:
        - "crates/kftray-portforward/**"

    - component_id: kftray-server
      name: kftray-server
      paths:
        - "crates/kftray-server/**"

    - component_id: kftray-tauri
      name: kftray-tauri
      paths:
        - "crates/kftray-tauri/**"

    - component_id: kftui
      name: kftui
      paths:
        - "crates/kftui/**"

feat(kftui): add CLI flags for annotation-based auto-discovery
  crates/kftui/src/cli/args.rs
  crates/kftui/src/cli/config.rs
Due: kftui

fix(kftui): treat --auto-discover as mutually exclusive config source
  crates/kftui/src/cli/args.rs
Due: kftui

docs(kftui): document headless auto-discovery CLI flags
  docs/kftui/USAGE.md
Due: none

fix(kftui): restore original non-interactive validation structure
  crates/kftui/src/cli/args.rs
Due: kftui

fix(kftui): fix --save help text and remove duplicate success message
  crates/kftui/src/cli/args.rs
  crates/kftui/src/cli/config.rs
Due: kftui

feat: add kftray mcp server (#589)
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/src/models/settings_model.rs
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-commons/src/utils/settings.rs
  crates/kftray-mcp/Cargo.toml
  crates/kftray-mcp/src/lib.rs
  crates/kftray-mcp/src/main.rs
  crates/kftray-mcp/src/protocol.rs
  crates/kftray-mcp/src/server.rs
  crates/kftray-mcp/src/tools/config.rs
  crates/kftray-mcp/src/tools/kubernetes.rs
  crates/kftray-mcp/src/tools/mod.rs
  crates/kftray-mcp/src/tools/portforward.rs
  crates/kftray-mcp/src/tools/tests.rs
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/commands/config.rs
  crates/kftray-tauri/src/commands/portforward.rs
  crates/kftray-tauri/src/commands/settings.rs
  crates/kftray-tauri/src/lib.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/src/mcp.rs
  frontend/src/components/SettingsModal/McpServerSettings.tsx
  frontend/src/components/SettingsModal/index.tsx
Due: kftray-commons, kftray-tauri

feat(kftui): add CLI flags for annotation-based auto-discovery (#601)
  crates/kftui/src/cli/args.rs
  crates/kftui/src/cli/config.rs
  docs/kftui/USAGE.md
Due: kftui

fix: format and some clippy warnings
  Cargo.lock
  crates/kftray-commons/src/utils/config.rs
  crates/kftray-mcp/src/tools/kubernetes.rs
  crates/kftray-mcp/src/tools/mod.rs
  crates/kftray-mcp/src/tools/portforward.rs
  crates/kftray-tauri/src/mcp.rs
  crates/kftui/src/cli/args.rs
  crates/kftui/src/cli/config.rs
  crates/kftui/src/tui/input/mod.rs
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: kftray-commons, kftray-tauri, kftui

fix: knip fixes and bump actions
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  frontend/knip.json
  frontend/src/components/LogViewer/constants.ts
  frontend/src/components/LogViewer/index.ts
  frontend/src/components/LogViewerModal/index.tsx
Due: none

chore: bump version
  Cargo.lock
  Cargo.toml
  crates/kftray-commons/Cargo.toml
  crates/kftray-helper/Cargo.toml
  crates/kftray-http-logs/Cargo.toml
  crates/kftray-mcp/Cargo.toml
  crates/kftray-network-monitor/Cargo.toml
  crates/kftray-portforward/Cargo.toml
  crates/kftray-server/Cargo.toml
  crates/kftray-shortcuts/Cargo.toml
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/tauri.conf.json
  crates/kftui/Cargo.toml
  docs/kftray/INSTALL.md
  frontend/package.json
  hacks/kftray-utils/src/bump_version.rs
  package.json
Due: kftray-commons, kftray-http-logs, kftray-portforward, kftray-server, kftray-tauri, kftui

fix: github lucid github icon
  frontend/src/components/Footer/index.tsx
Due: none

chore: add .omc/ to .gitignore
  .gitignore
Due: none

chore(deps): consolidate open dependency upgrades
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .mise.toml
  Cargo.lock
  Cargo.toml
  crates/kftray-server/Dockerfile
  crates/kftray-shortcuts/Cargo.toml
  frontend/package.json
  frontend/tsconfig.json
  hacks/kftray-utils/Cargo.lock
  hacks/uv.lock
  package.json
  pnpm-lock.yaml
Due: kftray-server

chore(frontend): drop vite-tsconfig-paths and swap react-swc for plugin-react
  frontend/package.json
  frontend/vite.config.ts
  pnpm-lock.yaml
Due: none

chore(deps): switch netstat2 to upstream 0.11.2
  Cargo.lock
  Cargo.toml
Due: none

fix(tray): use ksni for Linux tray to avoid libappindicator crash
  Cargo.lock
  crates/kftray-tauri/Cargo.toml
  crates/kftray-tauri/src/lib.rs
  crates/kftray-tauri/src/main.rs
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/tray_linux.rs
  docs/kftray/INSTALL.md
Due: kftray-tauri

fix(tray): drop icon_name so SNI hosts render the bundled pixmap
  crates/kftray-tauri/src/tray_linux.rs
Due: kftray-tauri

fix(tray): ship pre-scaled icon sizes and premultiply alpha for SNI
  crates/kftray-tauri/icons/tray-16.png
  crates/kftray-tauri/icons/tray-22.png
  crates/kftray-tauri/icons/tray-24.png
  crates/kftray-tauri/icons/tray-32.png
  crates/kftray-tauri/icons/tray-48.png
  crates/kftray-tauri/icons/tray-64.png
  crates/kftray-tauri/src/tray_linux.rs
Due: kftray-tauri

feat(tray): toggle window on middle-click via SNI secondary_activate
  crates/kftray-tauri/src/tray_linux.rs
Due: kftray-tauri

fix(window): stop calling Xlib from a worker thread on window move
  crates/kftray-tauri/src/tray.rs
  crates/kftray-tauri/src/window.rs
Due: kftray-tauri

build(appimage): strip bundled libglvnd from CI-built AppImages
  .github/workflows/release.yml
Due: none

fix(release): rename AppImage to its asset name before re-upload
  .github/workflows/release.yml
Due: none

fix(release): drop -C target-cpu=native for Linux + kftui builds
  .github/workflows/release.yml
Due: none
